<!-- <style type="text/css" media="screen"></style>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script
  type="text/javascript"
  src="https://connect.facebook.net/en_US/sdk.js"
></script>
<footer [myLoading]="myLoading"></footer>

<div class="row full_height">
  <div class="col-md-5 col-xs-12 col-sm-12 full_height login_left_background">
    <div
      class="
        col-md-12 col-xs-12 col-sm-12
        login_left_top_margin
        animated
        fadeInLeft
      "
    >
      <div class="col-md-12 col-xs-12 col-sm-12">
        <img style="width: 130px" src="assets/web_images/store_logo.png" />
      </div>

      <label
        class="col-md-12 col-xs-12 col-sm-12 login_title"
        style="margin-top: 20px"
        >{{title.store_title1 }}</label
      >
      <label class="col-md-12 col-xs-12 col-sm-12 login_title"
        >{{title.app_name +" "+title.store_title2 }}</label
      >
      <div class="col-md-12 col-xs-12 col-sm-12">
        <hr class="login_hr" />
      </div>

      <label class="col-md-12 col-xs-12 col-sm-12 login_left_bottom_margin"
        >{{title.already_account }}</label
      >
      <a
        class="col-md-12 col-xs-12 col-sm-12"
        [routerLink]="['/store/login']"
        style="color: #ffffff; font-size: 20px; font-weight: normal"
        >{{button.login }}</a
      >
    </div>
  </div>
  <div class="col-md-7 col-xs-12 col-sm-12 full_height login_right_background">
    <div class="loginColumns animated fadeInRight" style="max-width: 700px">
      <div class="ibox-content login_right_background">
        <div id="social">
          <div style="text-align: center; margin-bottom: 20px">
            <button type="button" style="border: 0;background-color: #f3f3f3;" (click)="facebook_register()"><img class="social_button" src="assets/web_images/facebook_register.png"></button>
            <button
              type="button"
              style="border: 0; background-color: #f3f3f3"
              (click)="google_register()"
            >
              <img class="social_button" src="assets/web_images/google_register.png" />
            </button>
          </div>
          <div style="text-align: center">
            <label
              style="
                margin-bottom: 20px;
                font-size: 25px;
                font-weight: normal;
                color: #626262;
              "
              >-----OR-----</label
            >
          </div>
        </div>

        <div class="row" style="margin-left: 0px; margin-right: 0px ;">
          <div class="col-md-6 col-sm-6 col-xs-6">
            <label class="col-lg-12 login_right_title"
              >{{title.register_your_account }}</label
            >
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-12 profile-images center">
              <span class="btn-file pull-right"
                ><img
                  class="img-circle"
                  style="width: 110px; height: 110px"
                  src="{{store_register.image_url}}"
                  alt="profile" /><input
                  type="file"
                  accept="image/*"
                  (change)="image_update($event);"
                  name="image"
              /></span>
            </div>
          </div>
        </div>

        <form #storForm="ngForm" (ngSubmit)="storeRegister(storForm.value)">
          <div class="col-md-6 col-sm-6">
            <div class="col-lg-12 form-group">
              <input
                type="text"
                class="form-control register_text_box"
                [(ngModel)]="store_register.name"
                #name="ngModel"
                placeholder="{{title.name }}"
                name="name"
                required
              />
              <div *ngIf="name.errors && (name.dirty || name.touched)">
                <div style="color: red" [hidden]="!name.errors.required">
                  {{validation_message.name_required }}
                </div>
              </div>
            </div>

            <div class="col-lg-12 form-group">
              <input
                type="email"
                [readonly]="store_register.social_unique_id !== '' && store_register.email !== ''"
                class="form-control register_text_box"
                [(ngModel)]="store_register.email"
                #email="ngModel"
                placeholder="{{title.email }}"
                name="email"
                email
                required
              />
              <div *ngIf="email.errors && (email.dirty || email.touched)">
                <div style="color: red" [hidden]="!email.errors.required">
                  {{validation_message.email_required }}
                </div>
                <div style="color: red" [hidden]="!email.errors?.email">
                  {{validation_message.valid_email }}
                </div>
              </div>
            </div>

            <div
              class="col-lg-12 form-group"
              [hidden]="store_register.social_unique_id !== ''"
            >
              <input
                type="password"
                class="form-control register_text_box"
                [(ngModel)]="store_register.confirm_password"
                #confirm_password="ngModel"
                placeholder="{{title.password }}"
                name="password"
                minlength="6"
                required
              />
              <div
                *ngIf="confirm_password.errors && (confirm_password.dirty || confirm_password.touched)"
              >
                <div
                  style="color: red"
                  [hidden]="!confirm_password.errors.required"
                >
                  {{validation_message.password_required }}
                </div>
                <div
                  style="color: red"
                  [hidden]="!confirm_password.errors.minlength"
                >
                  {{validation_message.password_minlength }}
                </div>
              </div>
            </div>

            <div
              class="col-lg-12 form-group"
              [hidden]="store_register.social_unique_id !== ''"
            >
              <input
                type="password"
                class="form-control register_text_box"
                [(ngModel)]="store_register.password"
                #password="ngModel"
                [equalTo]="confirm_password"
                placeholder="{{title.confirm_password }}"
                name="confirm_password"
                required
              />
              <div
                *ngIf="password.errors && (password.dirty || password.touched)"
              >
                <div style="color: red" [hidden]="!password.errors.required">
                  {{validation_message.password_required }}
                </div>
                <div style="color: red" [hidden]="!password.errors.minlength">
                  {{validation_message.password_minlength }}
                </div>
                <div style="color: red" [hidden]="!password.errors?.equalTo">
                  {{validation_message.match_confirm_password }}
                </div>
              </div>
            </div>

            <div id="Optiona_field">
              <div class="col-lg-12 form-group">
                <input
                  type="text"
                  class="form-control register_text_box"
                  [(ngModel)]="store_register.website_url"
                  #website_url="ngModel"
                  placeholder="{{title.website_url }}"
                  name="website_url"
                />
              </div>

              <div class="col-lg-12 form-group">
                <input
                  type="text"
                  class="form-control register_text_box"
                  [(ngModel)]="store_register.slogan"
                  #slogan="ngModel"
                  placeholder="{{title.slogan }}"
                  name="slogan"
                />
              </div>
            </div>

            <div
              [hidden]="store_register.country_id == '' || is_referral==false || is_country_referral==false "
            >
              <div class="col-lg-12 form-group">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control register_text_box"
                    [(ngModel)]="referral_code"
                    [disabled]="is_referral_apply"
                    placeholder="{{title.referral_code }}"
                    name="referral_code"
                  />
                  <span
                    class="input-group-addon"
                    (click)="check_referral()"
                    id="basic-addon2"
                    >{{button.apply }}</span
                  >
                </div>
              </div>
            </div> -->

<!--<div class="col-lg-12 form-group">-->
<!--<label><input class="icheck_payment_gateway"  type="checkbox" value="" /><span style="margin-left: 10px;">Terms And Condition</span></label>-->

<!--</div>-->
<!-- </div> -->

<!-- <div class="col-md-6 col-sm-6">
            <div class="col-lg-12 form-group" id="register_text_box">
              <select
                chosen
                class="form-control chosen-select"
                id="country"
                [(ngModel)]="store_register.country_id"
                data-placeholder="Select Country"
                #country_id="ngModel"
                name="country_id"
                tabindex="4"
                required
              >
                <option selected style="display: none">
                  {{title.select_country }}
                </option>
                <option *ngFor="let i of country_list" value="{{i._id}}">
                  {{i.country_name}}
                </option>
              </select>
              <div
                *ngIf="country_id.errors && (country_id.dirty || country_id.touched)"
              >
                <div style="color: red" [hidden]="!country_id.errors.required">
                  {{validation_message.select_country_required }}
                </div>
              </div>
            </div>

            <div class="col-lg-12 form-group" id="register_text_box">
              <select
                chosen
                class="form-control chosen-select"
                id="city"
                [(ngModel)]="store_register.city_id"
                data-placeholder="Select City"
                #city_id="ngModel"
                name="city_id"
                tabindex="4"
                required
              >
                <option selected style="display: none">
                  {{title.select_city }}
                </option>
                <option *ngFor="let i of city_list" value="{{i._id}}">
                  {{i.city_name}}
                </option>
              </select>
              <div *ngIf="city_id.errors && (city_id.dirty || city_id.touched)">
                <div style="color: red" [hidden]="!city_id.errors.required">
                  {{validation_message.select_city_required }}
                </div>
              </div>
            </div>

            <div class="col-lg-12 col-lg-12 form-group" id="register_text_box">
              <select
                chosen
                class="form-control chosen-select"
                id="delivery"
                [(ngModel)]="store_register.store_delivery_id"
                data-placeholder="Select Delivery Type"
                #store_delivery_id="ngModel"
                name="store_delivery_id"
                tabindex="4"
                required
              >
                <option selected style="display: none">
                  {{title.select_delivery }}
                </option>
                <option *ngFor="let i of delivery_list" value="{{i._id}}">
                  {{i.delivery_name}}
                </option>
              </select>
              <div
                *ngIf="store_delivery_id.errors && (store_delivery_id.dirty || store_delivery_id.touched)"
              >
                <div
                  style="color: red"
                  [hidden]="!store_delivery_id.errors.required"
                >
                  {{validation_message.select_delivery_type_required}}
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-xs-4 form-group">
              <input
                type="text"
                class="form-control register_text_box"
                [(ngModel)]="store_register.country_phone_code"
                #country_phone_code="ngModel"
                name="country_phone_code"
                readonly
                required
              />
            </div>
            <div class="col-lg-8 col-xs-8 form-group">
              <input
                type="text"
                class="form-control register_text_box"
                (keypress)="helper.number_validation($event)"
                [(ngModel)]="store_register.phone"
                #phone="ngModel"
                placeholder="{{title.phone }}"
                name="phone"
                minlength="{{minimum_phone_number_length}}"
                maxlength="{{maximum_phone_number_length}}"
                required
              />
              <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <div style="color: red" [hidden]="!phone.errors.required">
                  {{validation_message.phone_required }}
                </div>
                <div style="color: red" [hidden]="!phone.errors.minlength">
                  {{validation_message.phone_minlength }}
                </div>
                <div style="color: red" [hidden]="!phone.errors.maxlength">
                  {{validation_message.phone_maxlength }}
                </div>
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <input
                type="text"
                (focus)="blank_address()"
                class="form-control register_text_box"
                [(ngModel)]="store_register.address"
                #address="ngModel"
                id="address"
                placeholder="{{title.address }}"
                name="address"
                required
              />
              <div *ngIf="address.errors && (address.dirty || address.touched)">
                <div style="color: red" [hidden]="!address.errors.required">
                  {{validation_message.address_required }}
                </div>
              </div>
            </div>
          </div>
          <div
            class="col-md-12 col-xs-12 col-sm-12 lable_center"
            style="margin-top: 20px"
          >
            <button
              type="submit"
              class="btn btn-danger m-b login_submit_button"
            >
              {{button.sign_up }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm"
  #myModal
  id="otp_model"
>
  <form #modalForm="ngForm" (ngSubmit)="otp_var(modalForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">{{title.verification }}!</h4>
    </div>
    <div class="modal-body">
      <div [ngSwitch]="opt_error_message">
        <div *ngSwitchCase="1">
          <label style="color: red"
            >{{validation_message.email_otp_wrong }}</label
          >
        </div>
        <div *ngSwitchCase="2">
          <label style="color: red"
            >{{validation_message.sms_otp_erong }}</label
          >
        </div>
        <div *ngSwitchCase="3">
          <label style="color: red"
            >{{validation_message.otp_wrong }}</label
          >
        </div>
      </div>
      <div class="form-group" id="otp_for_sms">
        <label>{{title.sms_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="sms_otp"
          name="sms_otp"
        />
      </div>
      <div class="form-group" id="otp_for_email">
        <label>{{title.email_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="email_otp"
          name="email_otp"
        />
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{button.submit }}
        </button>
      </div>
    </div>
  </form>
</ng-template> -->

<!-- store registration -->

<div class="login-form register-form">
  <div class="logo">
    <a href="login.html">
      <img src="assets/images/logo.png" alt="" />
    </a>
  </div>
  <div class="form-wrap">
    <form class="form-tag">
      <div class="text text-center">
        <h2>Register</h2>
      </div>
      <div class="form">
        <div class="form-feild">
          <label>Business Type<em>*</em></label>
          <input type="text" placeholder="Cafe" class="form-control" />
        </div>
        <div class="form-feild">
          <label>Company Email<em>*</em></label>
          <input type="text" placeholder="Company Email" class="form-control" />
        </div>
        <div class="form-feild">
          <label>Company Name<em>*</em></label>
          <input type="text" placeholder="Company Name" class="form-control" />
        </div>
        <div class="form-feild">
          <label>Password<em>*</em></label>
          <input
            type="password"
            placeholder="********* "
            class="form-control"
          />
          <div class="eye-btn">
            <span>
              <svg
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_3977_48400)">
                  <path
                    d="M14.2675 14.2648C12.9082 15.3009 11.253 15.8749 9.54405 15.9029C3.97767 15.9029 0.796875 9.54129 0.796875 9.54129C1.78601 7.69794 3.15792 6.08743 4.82058 4.81781M7.87413 3.37055C8.42149 3.24243 8.9819 3.17839 9.54405 3.17971C15.1104 3.17971 18.2912 9.54129 18.2912 9.54129C17.8085 10.4443 17.2329 11.2945 16.5736 12.078M11.2299 11.2271C11.0115 11.4615 10.7481 11.6495 10.4555 11.7799C10.1628 11.9103 9.84694 11.9804 9.52663 11.986C9.20631 11.9917 8.88814 11.9327 8.59109 11.8128C8.29404 11.6928 8.02421 11.5142 7.79767 11.2877C7.57114 11.0611 7.39256 10.7913 7.27257 10.4942C7.15259 10.1972 7.09367 9.87903 7.09932 9.55871C7.10497 9.2384 7.17508 8.9225 7.30547 8.62987C7.43586 8.33724 7.62385 8.07387 7.85823 7.85547"
                    stroke="#292929"
                    stroke-width="1.5904"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M0.796875 0.794922L18.2912 18.2893"
                    stroke="#292929"
                    stroke-width="1.5904"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_3977_48400">
                    <rect
                      width="19.0847"
                      height="19.0847"
                      fill="currentColor"
                    />
                  </clipPath>
                </defs>
              </svg>
            </span>
          </div>
        </div>
        <div class="form-submit-wrap">
          <button class="btn btn-secondary w-100" type="submit">Sign in</button>
        </div>
        <p class="text-center login-link-text">
          Don’t have an account?<a href="login.html"><b> Login</b></a>
        </p>
      </div>
      <div class="copyright-text text-center">
        <p>© Copyright 2023. Wosul.sa. All Rights Reserved.</p>
      </div>
    </form>
  </div>
</div>
