<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.date_filter }}</label>
      </div>

      <div class="col-md-12 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="week_date"
            [(ngModel)]="week_date"
            name="week_date"
            tabindex="4"
          >
            <option *ngFor="let date of week_array" value="{{ date.value }}">
              {{ date.text }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="provider_detail.first_name">
              {{ title.name }}
            </option>
            <option value="provider_detail.email">
              {{ title.email }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span class="input-group-addon search_icon">
              <span class="fa fa-search"></span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <!--<div class="col-md-6 col-sm-6 filter_btn_div">-->
      <!--<input type="button" (click)="provider_weekly_earning_export_csv()" class="btn export_excel_btn pull-right" value="{{button.export_excel }}">-->
      <!--</div>-->
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="provider_weekly_earning(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-content content_top_bar_view1 animated fadeInRight">
  <div class="ibox" *ngIf="provider_weekly_earning_list.length == 0">
    <div class="ibox-content">
      <div class="lable_center">
        <label>No Records</label>
      </div>
    </div>
  </div>
  <div
    class="ibox"
    *ngIf="order_total != '' && provider_weekly_earning_list.length > 0"
  >
    <div class="ibox-title">
      <div>
        <label>{{ title.admin_earn }}({{ admin_currency }})</label>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-md-6 no_padding">
          <div class="col-md-4">
            <span>{{ title.total_orders }}</span>
            <h2 class="font-bold">{{ order_total.total_orders }}</h2>
          </div>
          <div class="col-md-4">
            <span>{{ title.admin_earn }}</span>
            <h2 class="font-bold">
              {{ order_total.total_admin_earn.toFixed(2) }}
            </h2>
          </div>
          <div class="col-md-4">
            <span>{{ title.provider_earn }}</span>
            <h2 class="font-bold">
              {{ order_total.total_provider_earning.toFixed(2) }}
            </h2>
          </div>
        </div>
        <div class="col-md-6 no_padding">
          <div class="col-md-4">
            <span>{{ title.pay_to_provider }}</span>
            <h2 class="font-bold">
              {{ order_total.total_pay_to_provider.toFixed(2) }}
            </h2>
          </div>
          <div class="col-md-4">
            <span>{{ title.total_wallet_income_set_in_cash_order }}</span>
            <h2 class="font-bold">
              {{ order_total.total_deduct_wallet_income.toFixed(2) }}
            </h2>
          </div>
          <div class="col-md-4">
            <span>{{ title.total_wallet_income_set_in_other_order }}</span>
            <h2 class="font-bold">
              {{ order_total.total_added_wallet_income.toFixed(2) }}
            </h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="ibox" *ngIf="provider_weekly_earning_list.length > 0">
          <div class="ibox-content" style="padding-bottom: 40px">
            <div
              class="table-responsive scrollbar"
              style="height: calc(100vh - 255px); overflow-y: auto"
            >
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ title.id }}</th>
                    <th>{{ title.provider }}</th>
                    <th>{{ title.provider_earn }}</th>
                    <th>{{ title.have_case }}</th>
                    <th>
                      {{ title.total_wallet_income_set_in_cash_order }}
                    </th>
                    <th>
                      {{ title.total_wallet_income_set_in_other_order }}
                    </th>
                    <th>{{ title.total_transferred_amount }}</th>
                    <th>{{ title.pay_provider }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let provider_weekly_earning of provider_weekly_earning_list;
                      let index = index;
                      let last = last
                    "
                    (click)="
                      open_detail_modal(
                        provider_weekly_earning.provider_detail._id
                      )
                    "
                  >
                    <td>
                      {{ provider_weekly_earning.provider_detail.unique_id }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.provider_detail.first_name +
                          " " +
                          provider_weekly_earning.provider_detail.last_name +
                          "(" +
                          provider_weekly_earning.provider_detail.email +
                          ")"
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.country_detail[0].currency_sign
                      }}{{
                        provider_weekly_earning.total_provider_earning.toFixed(
                          2
                        )
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.total_provider_have_cash_payment.toFixed(
                          2
                        )
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.total_deduct_wallet_income.toFixed(
                          2
                        )
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.total_added_wallet_income.toFixed(
                          2
                        )
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.total_transferred_amount.toFixed(
                          2
                        )
                      }}
                    </td>
                    <td>
                      {{
                        provider_weekly_earning.total_pay_to_provider.toFixed(2)
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="col-md-12 col-sm-12">
              <div class="lable_center">
                <ul class="pagination">
                  <li *ngIf="page !== 1">
                    <a
                      class="btn"
                      (click)="provider_weekly_earning(page - 1)"
                      >{{ button.pre }}</a
                    >
                  </li>
                  <li
                    *ngFor="let index of total_pages"
                    [class.active]="page == index"
                  >
                    <a
                      *ngIf="
                        index == 1 ||
                        index == total_page ||
                        index == page ||
                        index == page - 1 ||
                        index == page + 1
                      "
                      (click)="provider_weekly_earning(index)"
                      class="btn"
                      >{{ index }}</a
                    >
                    <a
                      *ngIf="
                        (index == 1 &&
                          page !== 1 &&
                          page !== 2 &&
                          page !== 3) ||
                        (index == total_page - 1 &&
                          page !== total_page &&
                          page !== total_page - 1 &&
                          page !== total_page - 2)
                      "
                      class="btn"
                      >...</a
                    >
                  </li>
                  <li
                    *ngIf="
                      page !== total_page &&
                      provider_weekly_earning_list.length !== 0
                    "
                  >
                    <a
                      class="btn"
                      (click)="provider_weekly_earning(page + 1)"
                      >{{ button.next }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ibox" *ngIf="provider_weekly_earning_list.length > 0">
          <div class="ibox-content invoice_popup_box scrollbar">
            <div class="row" *ngIf="show == true">
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.orders }}</label>
                    <h3>{{ provider_analytic_weekly.received }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.accepted }}</label>
                    <h3>
                      {{ provider_analytic_weekly.accepted }}({{
                        provider_analytic_weekly.acception_ratio.toFixed(2)
                      }}%)
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.rejected }}</label>
                    <h3>
                      {{ provider_analytic_weekly.rejected }}({{
                        provider_analytic_weekly.rejection_ratio.toFixed(2)
                      }}%)
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.completed }}</label>
                    <h3>
                      {{ provider_analytic_weekly.completed }}({{
                        provider_analytic_weekly.completed_ratio.toFixed(2)
                      }}%)
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.not_answered }}</label>
                    <h3>{{ provider_analytic_weekly.not_answered }}</h3>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-4">
                <div class="lable_center">
                  <div>
                    <label>{{ title.total_online_time }}</label>
                    <h3>
                      {{
                        provider_analytic_weekly.total_online_time
                          | date: "HH:mm"
                      }}
                    </h3>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 col-sm-6" style="border: 1px solid gray; padding: 0px;">
                                        <div class="ibox">
                                            <div class="ibox-title lable_center">
                                                <div  class="col-md-12">
                                                <div class="lable_center">
                                                <div>
                                                    <label>{{heading_title.rejected_ratio }}</label>
                                                    <h2>{{provider_analytic_weekly.rejection_ratio.toFixed(2)}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
              <!-- <div class="col-md-6 col-sm-6" style="border: 1px solid gray;padding: 0px;">
                                        <div class="ibox">
                                            <div class="ibox-title lable_center">
                                                <div  class="col-md-12">
                                                <div class="lable_center">
                                                <div>
                                                    <label>{{heading_title.completed_ratio }}</label>
                                                    <h2>{{provider_analytic_weekly.completed_ratio.toFixed(2)}}</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
              <!-- </div> -->
            </div>
            <div *ngIf="show == true">
              <div class="ibox">
                <div class="ibox-title">
                  <label class="control-label">{{
                    heading_title.order_earning
                  }}</label>
                </div>
                <div class="ibox-content">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.service_price }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.total_service_price.toFixed(2) }}
                          </td>
                        </tr>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.tax_price }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.total_admin_tax_price.toFixed(2) }}
                          </td>
                        </tr>

                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.delivery_price }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.total_delivery_price.toFixed(2) }}
                          </td>
                        </tr>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.deliveryman_profit }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.total_provider_profit.toFixed(2) }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="show == true">
              <div class="ibox">
                <div class="ibox-title">
                  <label class="control-label">{{
                    heading_title.provider_transaction
                  }}</label>
                </div>
                <div class="ibox-content">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.paid_order_amount }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.provider_paid_order_payment.toFixed(
                                2
                              )
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.cash }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.provider_have_cash_payment.toFixed(2)
                            }}
                          </td>
                        </tr>

                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{
                                title.provider_have_cash_payment
                              }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.total_provider_have_cash_payment_on_hand.toFixed(
                                2
                              )
                            }}
                          </td>
                        </tr>

                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{
                                title.total_wallet_income_set_in_cash_order
                              }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.total_deduct_wallet_income.toFixed(2)
                            }}
                          </td>
                        </tr>

                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{
                                title.total_wallet_income_set_in_other_order
                              }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.total_added_wallet_income.toFixed(2)
                            }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="show == true">
              <div class="ibox">
                <div class="ibox-title">
                  <label class="control-label">{{
                    heading_title.payment
                  }}</label>
                </div>
                <div class="ibox-content">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.earning }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.total_earning.toFixed(2) }}
                          </td>
                        </tr>

                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.paid_in_wallet }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.total_wallet_income_set.toFixed(2)
                            }}
                          </td>
                        </tr>

                        <!--                                <tr>
                                                                                <td style="border: none;">
                                                                                    <div><strong>{{title.pws_provider_earning }}</strong></div>
                                                                                </td>
                                                                                <td class="pull-right" style="border: none;">{{(order_total1.total_provider_profit).toFixed(2)}}</td>
                                                                            </tr>-->
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.paid }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{
                              order_total1.provider_paid_order_payment.toFixed(
                                2
                              )
                            }}
                          </td>
                        </tr>
                        <tr>
                          <td style="border: none">
                            <div>
                              <strong>{{ title.remining_to_pay }}</strong>
                            </div>
                          </td>
                          <td class="pull-right" style="border: none">
                            {{ order_total1.pay_to_provider }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="show == true">
              <div class="ibox">
                <div class="ibox-title">
                  <div>
                    <label>{{ heading_title.daily_earning }}</label>
                  </div>
                </div>
                <div class="ibox-content">
                  <div class="row">
                    <div class="col-md-12" style="display: block">
                      <canvas
                        baseChart
                        height="200"
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [legend]="barChartLegend"
                        [chartType]="barChartType"
                        [colors]="barChartColors"
                      >
                      </canvas>
                    </div>
                  </div>
                </div>
                <!-- <div class="ibox-content" style="padding-bottom: 40px;">
                                <div class="table-responsive" style="padding-bottom: 50px;">
                                    <table class="table table-striped">

                                        <tbody>
                                        <tr *ngIf="(date.date1 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date1 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date1.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date2 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date2 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date2.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date3 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date3 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date3.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date4 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date4 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date4.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date5 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date5 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date5.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date6 | amDifference: today :'days' : true) <= 0 ">
                                            <td>{{date.date6 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date6.toFixed(2)}}</td>
                                        </tr>
                                        <tr *ngIf="(date.date7 | amDifference: today :'days' : true) <= 0 " >
                                            <td>{{date.date7 | date: "EEE, dd MMM"}}</td>
                                            <td>{{order_day_total.date7.toFixed(2)}}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template let-modal keyboard="false" backdrop="static" cssClass="modal-sm" #myModal>
    <form #modalForm="ngForm" (ngSubmit)="AdminPayToProvider(modalForm.value)">
      <div class="modal-header">
        <h4 class="modal-title">Add Amount</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <input
            type="hidden"
            class="form-control"
            [(ngModel)]="provider_weekly_earning_id"
            name="provider_weekly_earning_id"
          />
          <div class="col-md-12">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label style="font-weight: normal">
                  <strong>{{ title.amount }}</strong>
                </label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="amount"
                  (keypress)="helper.number_validation($event)"
                  name="amount"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div style="text-align: center">
          <button type="submit" class="btn btn-primary">
            {{ button.save }}
          </button>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template let-modal cssClass="modal-invoice animated fadeInUpBig" #order_detail_modal>
    <div class="modal-header">
      <label>{{ start_date }} - {{ end_date }}</label>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="ibox" *ngIf="show == true">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.orders }}</label>
                      <h2>{{ provider_analytic_weekly.received }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.accepted }}</label>
                      <h2>{{ provider_analytic_weekly.accepted }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.rejected }}</label>
                      <h2>{{ provider_analytic_weekly.rejected }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.completed }}</label>
                      <h2>{{ provider_analytic_weekly.completed }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.not_answered }}</label>
                      <h2>{{ provider_analytic_weekly.not_answered }}</h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.accepted_ratio }}</label>
                      <h2>
                        {{
                          provider_analytic_weekly.acception_ratio.toFixed(2)
                        }}
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.rejected_ratio }}</label>
                      <h2>
                        {{
                          provider_analytic_weekly.rejection_ratio.toFixed(2)
                        }}
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="ibox">
                  <div class="ibox-title lable_center">
                    <div>
                      <label>{{ heading_title.completed_ratio }}</label>
                      <h2>
                        {{
                          provider_analytic_weekly.completed_ratio.toFixed(2)
                        }}
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show == true">
        <div class="">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label">{{
                heading_title.order_earning
              }}</label>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.service_price }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_service_price.toFixed(2) }}
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.tax_price }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_admin_tax_price }}
                      </td>
                    </tr>

                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.delivery_price }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_delivery_price.toFixed(2) }}
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.deliveryman_profit }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_provider_profit.toFixed(2) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="show == true">
        <div class="">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label">{{
                heading_title.provider_transaction
              }}</label>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.paid_order_amount }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{
                          order_total1.provider_paid_order_payment.toFixed(2)
                        }}
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.cash_amount }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.provider_have_cash_payment.toFixed(2) }}
                      </td>
                    </tr>

                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{
                            title.provider_have_cash_payment
                          }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{
                          order_total1.total_provider_have_cash_payment_on_hand.toFixed(
                            2
                          )
                        }}
                      </td>
                    </tr>

                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{
                            title.total_wallet_income_set_in_cash_order
                          }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_deduct_wallet_income.toFixed(2) }}
                      </td>
                    </tr>

                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{
                            title.total_wallet_income_set_in_other_order
                          }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_added_wallet_income.toFixed(2) }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="show == true">
        <div class="">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label">{{ heading_title.payment }}</label>
            </div>
            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.total_earning }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_earning.toFixed(2) }}
                      </td>
                    </tr>

                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.paid_in_wallet }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_wallet_income_set.toFixed(2) }}
                      </td>
                    </tr>

                    <!--                                <tr>
                                                                    <td style="border: none;">
                                                                        <div><strong>{{title.pws_provider_earning }}</strong></div>
                                                                    </td>
                                                                    <td class="pull-right" style="border: none;">{{(order_total1.total_provider_profit).toFixed(2)}}</td>
                                                                </tr>-->
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.paid }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.total_paid.toFixed(2) }}
                      </td>
                    </tr>
                    <tr>
                      <td style="border: none">
                        <div>
                          <strong>{{ title.remining_to_pay }}</strong>
                        </div>
                      </td>
                      <td class="pull-right" style="border: none">
                        {{ order_total1.pay_to_provider }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="show == true">
        <div class="ibox">
          <div class="ibox-title">
            <div>
              <label>{{ heading_title.daily_earning }}</label>
            </div>
          </div>
          <div class="ibox-content" style="padding-bottom: 40px">
            <div class="table-responsive" style="padding-bottom: 50px">
              <table class="table table-striped">
                <tbody>
                  <tr
                    *ngIf="(date.date1 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date1 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date1.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date2 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date2 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date2.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date3 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date3 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date3.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date4 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date4 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date4.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date5 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date5 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date5.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date6 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date6 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date6.toFixed(2) }}</td>
                  </tr>
                  <tr
                    *ngIf="(date.date7 | amDifference: today:'days':true) <= 0"
                  >
                    <td>{{ date.date7 | date: "EEE, dd MMM" }}</td>
                    <td>{{ order_day_total.date7.toFixed(2) }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
