<ng-container>
  <div class="content">
    <div class="page-heading">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <h2>Dashboard</h2>
            </div>
          </div>
        </div>
        <div class="col-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <div class="form-field mb-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <label class="mb-0">Category</label>
                  </div>
                  <div class="col-auto" style="min-width: 150px">
                    <select
                      class="form-select form-select-sm form-select-shadow"
                    >
                      <option>All</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-field mb-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <label class="mb-0 ms-2">Start Date</label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="date"
                      class="form-control form-control-sm form-control-shadow"
                      id=""
                      placeholder="Start Date"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-field mb-0">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <label class="mb-0 ms-2">End Date</label>
                  </div>
                  <div class="col-auto">
                    <input
                      type="date"
                      class="form-control form-control-sm form-control-shadow"
                      id=""
                      placeholder="Start Date"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <button class="btn btn-primary btn-sm">Apply</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="darshboard-counter">
          <h6>Admin Payments</h6>
          <h3>
            24516
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.5"
                d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                fill="#AFE8C9"
              />
              <path
                d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                fill="#5AD090"
              />
            </svg>
          </h3>
          <div class="icon" style="color: #1e40af">
            <svg
              width="54"
              height="68"
              viewBox="0 0 54 68"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect y="44" width="6" height="24" rx="3" fill="currentColor" />
              <rect x="16" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="16"
                y="34"
                width="6"
                height="34"
                rx="3"
                fill="currentColor"
              />
              <rect x="32" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="32"
                y="19"
                width="6"
                height="49"
                rx="3"
                fill="currentColor"
              />
              <rect x="48" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="48"
                y="30.2222"
                width="6"
                height="37.7778"
                rx="3"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="darshboard-counter">
          <h6>Admin Payments</h6>
          <h3>
            24516
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.5"
                d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                fill="#AFE8C9"
              />
              <path
                d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                fill="#5AD090"
              />
            </svg>
          </h3>
          <div class="icon" style="color: #bf1b80">
            <svg
              width="54"
              height="68"
              viewBox="0 0 54 68"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect y="44" width="6" height="24" rx="3" fill="currentColor" />
              <rect x="16" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="16"
                y="34"
                width="6"
                height="34"
                rx="3"
                fill="currentColor"
              />
              <rect x="32" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="32"
                y="19"
                width="6"
                height="49"
                rx="3"
                fill="currentColor"
              />
              <rect x="48" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="48"
                y="30.2222"
                width="6"
                height="37.7778"
                rx="3"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="darshboard-counter">
          <h6>Admin Payments</h6>
          <h3>
            24516
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.5"
                d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                fill="#F9A8BC"
              />
              <path
                d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                fill="#F24E76"
              />
            </svg>
          </h3>
          <div class="icon" style="color: #ffcd86">
            <svg
              width="54"
              height="68"
              viewBox="0 0 54 68"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect y="44" width="6" height="24" rx="3" fill="currentColor" />
              <rect x="16" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="16"
                y="34"
                width="6"
                height="34"
                rx="3"
                fill="currentColor"
              />
              <rect x="32" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="32"
                y="19"
                width="6"
                height="49"
                rx="3"
                fill="currentColor"
              />
              <rect x="48" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="48"
                y="30.2222"
                width="6"
                height="37.7778"
                rx="3"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="darshboard-counter">
          <h6>Admin Payments</h6>
          <h3>
            24516
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.5"
                d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                fill="#AFE8C9"
              />
              <path
                d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                fill="#5AD090"
              />
            </svg>
          </h3>
          <div class="icon" style="color: #2ca2d9">
            <svg
              width="54"
              height="68"
              viewBox="0 0 54 68"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect y="44" width="6" height="24" rx="3" fill="currentColor" />
              <rect x="16" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="16"
                y="34"
                width="6"
                height="34"
                rx="3"
                fill="currentColor"
              />
              <rect x="32" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="32"
                y="19"
                width="6"
                height="49"
                rx="3"
                fill="currentColor"
              />
              <rect x="48" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="48"
                y="30.2222"
                width="6"
                height="37.7778"
                rx="3"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="darshboard-counter">
          <h6>Admin Payments</h6>
          <h3>
            24516
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                opacity="0.5"
                d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                fill="#AFE8C9"
              />
              <path
                d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                fill="#5AD090"
              />
            </svg>
          </h3>
          <div class="icon" style="color: #5c2d8f">
            <svg
              width="54"
              height="68"
              viewBox="0 0 54 68"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect y="44" width="6" height="24" rx="3" fill="currentColor" />
              <rect x="16" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="16"
                y="34"
                width="6"
                height="34"
                rx="3"
                fill="currentColor"
              />
              <rect x="32" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="32"
                y="19"
                width="6"
                height="49"
                rx="3"
                fill="currentColor"
              />
              <rect x="48" width="6" height="68" rx="3" fill="#F4F6FB" />
              <rect
                x="48"
                y="30.2222"
                width="6"
                height="37.7778"
                rx="3"
                fill="currentColor"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="welcome-box">
          <h2>
            Welcome Back <br />
            John Smith!!
          </h2>
          <p>
            Lorem ipsum is a placeholder text commonly used to demonstrate the
            visual form of a document or a typeface without relying.
          </p>
          <a href="#" class="btn btn-light btn-sm">Update</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <div class="dashboard-fancy-card">
              <div class="card_head" style="background-color: #5c2d8f">
                <h3>Register Details</h3>
                <h5>Recent Register Details</h5>
              </div>
              <div class="card_content">
                <div class="row gx-3">
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>User</h6>
                      <h3>
                        6891
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Store</h6>
                      <h3>
                        138
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Deliveryman</h6>
                      <h3>
                        2
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Country</h6>
                      <h3>
                        2
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>City</h6>
                      <h3>
                        10
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="dashboard-fancy-card">
              <div class="card_head" style="background-color: #1e40af">
                <h3>Order Details</h3>
                <h5>Recent Order Details</h5>
              </div>
              <div class="card_content">
                <div class="row gx-3">
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Order</h6>
                      <h3>
                        7889
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Cancelled</h6>
                      <h3>
                        765
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Deliverise</h6>
                      <h3>
                        785
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Total Item Sold</h6>
                      <h3>
                        6079
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Completed</h6>
                      <h3>
                        6072
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="dashboard-fancy-card">
              <div class="card_head" style="background-color: #25695c">
                <h3>Payment Details</h3>
                <h5>Recent Payment Details</h5>
              </div>
              <div class="card_content">
                <div class="row gx-3">
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Total</h6>
                      <h3>
                        4272
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Wallet</h6>
                      <h3>
                        2971
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Other</h6>
                      <h3>
                        1052
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Promo</h6>
                      <h3>
                        5048
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 12.5859L7.56055 1.58594C7.56055 1.03365 7.11283 0.585938 6.56055 0.585938C6.00826 0.585938 5.56055 1.03365 5.56055 1.58594L5.56055 12.5859C5.56055 13.1382 6.00826 13.5859 6.56055 13.5859C7.11283 13.5859 7.56055 13.1382 7.56055 12.5859Z"
                            fill="#AFE8C9"
                          />
                          <path
                            d="M7.12636 3.15148L11.3107 7.33579C11.7249 7.74999 12.3965 7.74999 12.8107 7.33579C13.2249 6.92159 13.2249 6.24999 12.8107 5.83579L7.26776 0.292897C6.87726 -0.0976325 6.24406 -0.0976325 5.85356 0.292897L0.310658 5.83579C-0.103552 6.24999 -0.103552 6.92159 0.310658 7.33579C0.724867 7.74999 1.39645 7.74999 1.81066 7.33579L5.99496 3.15148C6.30736 2.83906 6.81396 2.83906 7.12636 3.15148Z"
                            fill="#5AD090"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="card-mini-caounter">
                      <h6>Cash</h6>
                      <h3>
                        30444
                        <svg
                          width="14"
                          height="14"
                          viewBox="0 0 14 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            opacity="0.5"
                            d="M7.56055 1L7.56055 12C7.56055 12.5523 7.11283 13 6.56055 13C6.00826 13 5.56055 12.5523 5.56055 12L5.56055 1C5.56055 0.447715 6.00826 0 6.56055 0C7.11283 0 7.56055 0.447715 7.56055 1Z"
                            fill="#F9A8BC"
                          />
                          <path
                            d="M7.12636 10.4345L11.3107 6.25015C11.7249 5.83595 12.3965 5.83595 12.8107 6.25015C13.2249 6.66435 13.2249 7.33595 12.8107 7.75015L7.26776 13.293C6.87726 13.6836 6.24406 13.6836 5.85356 13.293L0.310658 7.75015C-0.103552 7.33595 -0.103552 6.66435 0.310658 6.25015C0.724867 5.83595 1.39645 5.83595 1.81066 6.25015L5.99496 10.4345C6.30736 10.7469 6.81396 10.7469 7.12636 10.4345Z"
                            fill="#F24E76"
                          />
                        </svg>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="card payment-chart-card">
          <h2>Admin Payments</h2>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/images/payment-chart.svg" />
            </div>
            <div class="col-md-6">
              <div class="payment_chart_data">
                <div class="item">
                  <span class="line" style="background-color: #1e40af"></span>
                  <h3>7882</h3>
                  <h6>Total Payment</h6>
                </div>
                <div class="item">
                  <span class="line" style="background-color: #bf1b80"></span>
                  <h3>155</h3>
                  <h6>Admin Earn</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card payment-chart-card">
          <h2>Admin Payments</h2>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/images/payment-chart.svg" />
            </div>
            <div class="col-md-6">
              <div class="payment_chart_data">
                <div class="item">
                  <span class="line" style="background-color: #1e40af"></span>
                  <h3>7882</h3>
                  <h6>Total Payment</h6>
                </div>
                <div class="item">
                  <span class="line" style="background-color: #bf1b80"></span>
                  <h3>155</h3>
                  <h6>Admin Earn</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card payment-chart-card">
          <h2>Admin Payments</h2>
          <div class="row align-items-center">
            <div class="col-md-6">
              <img src="assets/images/payment-chart.svg" />
            </div>
            <div class="col-md-6">
              <div class="payment_chart_data">
                <div class="item">
                  <span class="line" style="background-color: #1e40af"></span>
                  <h3>7882</h3>
                  <h6>Total Payment</h6>
                </div>
                <div class="item">
                  <span class="line" style="background-color: #bf1b80"></span>
                  <h3>155</h3>
                  <h6>Admin Earn</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
