<footer [myLoading]="myLoading"></footer>

<form
  #franchiseUpdateForm="ngForm"
  (ngSubmit)="UpdateFranchise(franchiseUpdateForm.value)"
>
  <div class="wrapper wrapper-content animated fadeInRight content_top_bar">
    <div class="row">
      <div class="col-lg-8">
        <div class="ibox product-detail">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="profile-images center">
                  <img
                    class="img-circle"
                    style="width: 150px; height: 150px"
                    src="{{
                      franchise_edit.image_url != ''
                        ? franchise_edit.image_url
                        : 'default.png'
                    }}"
                    alt="profile"
                  />
                </div>

                <div
                  class="center"
                  style="margin-left: 140px; margin-top: -145px"
                >
                  <span class="btn-file" *ngIf="edit == true"
                    ><i class="fa fa-pencil"></i
                    ><input
                      type="file"
                      accept="image/*"
                      (change)="change_image($event)"
                      name="image"
                  /></span>
                </div>
              </div>
              <div class="col-md-9 col-sm-9 profile_data">
                <input
                  type="hidden"
                  class="form-control"
                  [(ngModel)]="franchise_edit.franchise_id"
                  #franchise_id="ngModel"
                  name="franchise_id"
                />
                <input
                  type="hidden"
                  class="form-control"
                  [(ngModel)]="franchise_edit.server_token"
                  #server_token="ngModel"
                  name="server_token"
                />
                <input
                  type="hidden"
                  class="form-control"
                  [(ngModel)]="franchise_edit.social_id"
                  #social_id="ngModel"
                  name="social_id"
                />
                <input
                  type="hidden"
                  class="form-control"
                  [(ngModel)]="franchise_edit.login_by"
                  #login_by="ngModel"
                  name="login_by"
                />

                <div
                  class="col-md-12 remove_padding align_center1"
                  style="margin-left: 0px"
                >
                  <label class="control-label" style="font-size: 30px">{{
                    franchise_edit.name
                  }}</label>

                  <button
                    type="button"
                    *ngIf="edit == false"
                    class="
                      btn btn-danger
                      pull-right
                      edit_option_mobile_screen
                      profile_update
                    "
                    (click)="edit = true"
                  >
                    {{ button.edit }}
                  </button>

                  <button
                    type="submit"
                    *ngIf="edit == true"
                    [disabled]="!franchiseUpdateForm.form.valid"
                    class="
                      btn btn-primary
                      pull-right
                      edit_option_mobile_screen
                      profile_update
                    "
                  >
                    {{ button.update }}
                  </button>
                </div>
                <hr style="border-color: red" />
                <div class="row col-md-12 remove_padding">
                  <label
                    class="
                      col-lg-4 col-xs-4 col-sm-4
                      remove_padding
                      control-label
                    "
                    >{{ title.email }}
                    <div class="pull-right">:</div></label
                  >

                  <div
                    *ngIf="edit == true"
                    class="col-lg-8 col-xs-8 col-sm-8 form-group"
                  >
                    <input
                      type="text"
                      [readonly]="franchise_edit.social_id !== ''"
                      class="form-control"
                      [(ngModel)]="franchise_edit.email"
                      #email="ngModel"
                      name="email"
                      email
                      required
                    />
                    <div *ngIf="email.errors && (email.dirty || email.touched)">
                      <div style="color: red" [hidden]="!email.errors.required">
                        {{ validation_message.email_required }}
                      </div>
                      <div style="color: red" [hidden]="!email.errors?.email">
                        {{ validation_message.valid_email }}
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="edit == false"
                    class="col-lg-8 col-xs-8 col-sm-8 form-group"
                  >
                    {{ franchise_edit.email }}
                  </div>
                </div>
                <div class="row col-md-12 remove_padding">
                  <label
                    class="
                      col-lg-4 col-xs-4 col-sm-4
                      remove_padding
                      control-label
                    "
                    >{{ title.country }}
                    <div class="pull-right">:</div></label
                  >

                  <div class="col-lg-8 col-xs-8 col-sm-8 form-group">
                    {{ franchise_edit.country_name }}
                  </div>
                </div>
                <div class="row col-md-12 remove_padding">
                  <label
                    class="
                      col-lg-4 col-xs-4 col-sm-4
                      remove_padding
                      control-label
                    "
                    >{{ title.city }}
                    <div class="pull-right">:</div></label
                  >

                  <div class="col-lg-8 col-xs-8 col-sm-8 form-group">
                    {{ franchise_edit.city_name }}
                  </div>
                </div>
                <div class="row col-md-12 remove_padding">
                  <label
                    class="
                      col-lg-4 col-xs-4 col-sm-4
                      remove_padding
                      control-label
                    "
                    >{{ title.delivery_type }}
                    <div class="pull-right translateyminus">:</div></label
                  >

                  <div class="col-lg-8 col-xs-8 col-sm-8 form-group translatey">
                    {{ franchise_edit.store_delivery_name }}
                  </div>
                </div>

                <div class="row col-md-12 remove_padding">
                  <label
                    class="
                      col-lg-4 col-xs-4 col-sm-4
                      remove_padding
                      control-label
                    "
                    >{{ title.phone }}
                    <div class="pull-right translateyminus">:</div></label
                  >

                  <div
                    *ngIf="edit == true"
                    class="col-lg-8 col-xs-8 col-sm-8 form-group"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="franchise_edit.phone"
                      minlength="{{ minimum_phone_number_length }}"
                      (keypress)="helper.number_validation($event)"
                      maxlength="{{ maximum_phone_number_length }}"
                      #phone="ngModel"
                      name="phone"
                      required
                    />
                    <div *ngIf="phone.errors && (phone.dirty || phone.touched)">
                      <div style="color: red" [hidden]="!phone.errors.required">
                        {{ validation_message.phone_required }}
                      </div>
                      <div
                        style="color: red"
                        [hidden]="!phone.errors.minlength"
                      >
                        {{ validation_message.phone_minlength }}
                      </div>
                      <div
                        style="color: red"
                        [hidden]="!phone.errors.maxlength"
                      >
                        {{ validation_message.phone_maxlength }}
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="edit == false"
                    class="col-lg-8 col-xs-8 col-sm-8 form-group translatey"
                  >
                    {{ franchise_edit.phone }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="col-lg-4 col-sm-6">-->
      <!--<div class="ibox">-->
      <!--<div class="ibox-content">-->
      <!--<h2>65%</h2>-->
      <!--<h5>Completed Ratio</h5>-->
      <!--<div class="progress progress-mini">-->
      <!--<div style="width: 65%;" class="progress-bar"></div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-2 col-sm-3 col-xs-6">-->
      <!--<div class="ibox">-->

      <!--<div class="ibox-content wizard" style="text-align: center;">-->
      <!--<h2>65</h2>-->
      <!--<h5>Total Orders</h5>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-2 col-sm-3 col-xs-6">-->
      <!--<div class="ibox">-->

      <!--<div class="ibox-content wizard" style="text-align: center;">-->

      <!--<h2>65</h2>-->
      <!--<h5>Total Orders</h5>-->

      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <div class="col-lg-4">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12" style="display: block">
                <div id="c1" class="c3"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12" id="chart" style="margin-top: 28px">
                <div
                  class="col-md-1 col-xs-1 col-sm-1 box"
                  style="padding-right: 0"
                >
                  <span
                    class="fa fa-square"
                    style="font-size: 20px; color: #bb212b"
                  ></span>
                </div>
                <div class="col-md-5 col-xs-5 col-sm-5 total">
                  <span style="font-size: 15px"
                    >{{ title.total_order }}<br /><span
                      style="font-size: 20px; color: black"
                      >{{ order_detail.total_orders }}</span
                    ></span
                  >
                </div>
                <div
                  class="col-md-1 col-xs-1 col-sm-1 box box1"
                  style="padding: 0"
                >
                  <span
                    class="fa fa-square"
                    style="font-size: 20px; color: #1e1e1e"
                  ></span>
                </div>
                <div
                  class="col-md-5 col-xs-5 col-sm-5 total total1"
                  style="padding: 0"
                >
                  <span style="font-size: 15px"
                    >{{ title.accepted_order }}<br /><span
                      style="font-size: 20px; color: black"
                      >{{ order_detail.accepted_orders }}</span
                    ></span
                  >
                </div>
                <div
                  class="col-md-1 col-xs-1 col-sm-1 box"
                  style="padding-right: 0"
                >
                  <span
                    class="fa fa-square"
                    style="font-size: 20px; color: #bb212b"
                  ></span>
                </div>
                <div class="col-md-5 col-xs-5 col-sm-5 total">
                  <span style="font-size: 15px"
                    >{{ title.completed_order }}<br /><span
                      style="font-size: 20px; color: black"
                      >{{ order_detail.completed_orders }}</span
                    ></span
                  >
                </div>
                <div
                  class="col-md-1 col-xs-1 col-sm-1 box box1"
                  style="padding: 0"
                >
                  <span
                    class="fa fa-square"
                    style="font-size: 20px; color: #1e1e1e"
                  ></span>
                </div>
                <div
                  class="col-md-5 col-xs-5 col-sm-5 total total1"
                  style="padding: 0"
                >
                  <span style="font-size: 15px"
                    >{{ title.cancelled_order }}<br /><span
                      style="font-size: 20px; color: black"
                      >{{ order_detail.cancelled_orders }}</span
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-6">
        <div class="ibox">
          <div class="ibox-title">
            <label class="control-label">{{
              heading_title.specification_title
            }}</label>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.name
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    [disabled]="edit == false"
                    class="form-control"
                    [(ngModel)]="franchise_edit.name"
                    #name="ngModel"
                    name="name"
                    required
                  />
                  <div *ngIf="name.errors && (name.dirty || name.touched)">
                    <div style="color: red" [hidden]="!name.errors.required">
                      {{ validation_message.name_required }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">Address</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    id="address"
                    [disabled]="edit == false"
                    class="form-control"
                    [(ngModel)]="franchise_edit.address"
                    #address="ngModel"
                    name="address"
                    required
                  />
                  <div
                    *ngIf="address.errors && (address.dirty || address.touched)"
                  >
                    <div style="color: red" [hidden]="!address.errors.required">
                      {{ validation_message.address_required }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.latitude
                }}</label>
                <div class="col-lg-4 col-sm-4 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.latitude"
                    #latitude="ngModel"
                    [disabled]="edit == false"
                    (keypress)="helper.location_validation($event)"
                    name="latitude"
                    required
                  />
                  <div
                    *ngIf="
                      latitude.errors && (latitude.dirty || latitude.touched)
                    "
                  >
                    <div
                      style="color: red"
                      [hidden]="!latitude.errors.required"
                    >
                      {{ validation_message.latitude_required }}
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-4 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.longitude"
                    #longitude="ngModel"
                    [disabled]="edit == false"
                    (keypress)="helper.location_validation($event)"
                    name="longitude"
                    required
                  />
                  <div
                    *ngIf="
                      longitude.errors && (longitude.dirty || longitude.touched)
                    "
                  >
                    <div
                      style="color: red"
                      [hidden]="!longitude.errors.required"
                    >
                      {{ validation_message.longitude_required }}
                    </div>
                  </div>
                </div>
              </div>

              <!--<div class="form-group" [hidden]="store_edit.social_id !== ''">-->
              <!--<label class="col-lg-4 col-sm-4 control-label">{{title.old_password }}</label>-->
              <!--<div class="col-lg-8 col-sm-8 form-group">-->
              <!--<input type="password" class="form-control" [(ngModel)]="store_edit.old_password" [disabled]="edit==false" #old_password="ngModel" minlength="6" name="old_password" required/>-->

              <!--<div *ngIf="old_password.errors && (old_password.dirty || old_password.touched)">-->
              <!--<div style="color: red;" [hidden]="!old_password.errors.required">{{validation_message.password_required }}-->
              <!--</div>-->
              <!--<div style="color: red;" [hidden]="!old_password.errors.minlength">{{validation_message.password_minlength }}-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!---->
              <!--</div>-->

              <div
                class="form-group"
                [hidden]="franchise_edit.social_id !== ''"
              >
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.new_password
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="password"
                    class="form-control"
                    [(ngModel)]="franchise_edit.confirm_password"
                    [disabled]="edit == false"
                    #confirm_password="ngModel"
                    name="confirm_password"
                  />
                </div>
              </div>
              <div
                class="form-group"
                [hidden]="franchise_edit.social_id !== ''"
              >
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.confirm_password
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="password"
                    [equalTo]="confirm_password"
                    class="form-control"
                    [(ngModel)]="franchise_edit.new_password"
                    [disabled]="edit == false"
                    #new_password="ngModel"
                    name="new_password"
                  />
                  <div *ngIf="new_password.errors">
                    <div
                      style="color: red"
                      [hidden]="!new_password.errors?.equalTo"
                    >
                      {{ validation_message.match_confirm_password }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-sm-6" id="Optiona_field">
        <div class="ibox">
          <div class="ibox-title">
            <label class="control-label">{{
              heading_title.specification_title
            }}</label>
          </div>
          <div class="ibox-content">
            <div class="row">
              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.website_url
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.website_url"
                    [disabled]="edit == false"
                    #website_url="ngModel"
                    name="website_url"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.famous_for
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.famous_for"
                    [disabled]="edit == false"
                    #famous_for="ngModel"
                    name="famous_for"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.slogan
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.slogan"
                    [disabled]="edit == false"
                    #slogan="ngModel"
                    name="slogan"
                  />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 col-sm-4 control-label">{{
                  title.offer
                }}</label>
                <div class="col-lg-8 col-sm-8 form-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="franchise_edit.offer"
                    [disabled]="edit == false"
                    #offer="ngModel"
                    name="offer"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm"
  #myModal
  id="otp_model"
>
  <form #modalForm="ngForm" (ngSubmit)="otp_var(modalForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">{{ title.verification }}!</h4>
    </div>
    <div class="modal-body">
      <div [ngSwitch]="opt_error_message">
        <div *ngSwitchCase="1">
          <label style="color: red">{{
            validation_message.email_otp_wrong
          }}</label>
        </div>
        <div *ngSwitchCase="2">
          <label style="color: red">{{
            validation_message.sms_otp_erong
          }}</label>
        </div>
        <div *ngSwitchCase="3">
          <label style="color: red">{{ validation_message.otp_wrong }}</label>
        </div>
      </div>
      <div class="form-group" id="otp_for_sms">
        <label>{{ title.sms_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="sms_otp"
          name="sms_otp"
        />
      </div>
      <div class="form-group" id="otp_for_email">
        <label>{{ title.email_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="email_otp"
          name="email_otp"
        />
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{ button.submit }}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm"
  #oldPasswordModal
  id="old_passwrod"
>
  <form
    #oldPasswordForm="ngForm"
    (ngSubmit)="old_password_update(oldPasswordForm.value)"
  >
    <div class="modal-header">
      <h4 class="modal-title">{{ title.old_password }}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>{{ title.old_password }}</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="franchise_edit.old_password"
          #old_password="ngModel"
          minlength="6"
          name="old_password"
          required
        />

        <div
          *ngIf="
            old_password.errors && (old_password.dirty || old_password.touched)
          "
        >
          <div style="color: red" [hidden]="!old_password.errors.required">
            {{ validation_message.password_required }}
          </div>
          <div style="color: red" [hidden]="!old_password.errors.minlength">
            {{ validation_message.password_minlength }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{ button.submit }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
