<div
  class="row wrapper border-bottom white-bg page-heading"
  style="padding: 80px 20px 10px !important"
>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 col-sm-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            style="border-color: #222222; height: 30px; border-radius: 5px"
            placeholder="Enter Address"
            id="search"
          />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="wrapper wrapper-content animated fadeInRight"
  style="padding: 0 !important"
>
  <div style="margin-left: -16px; margin-right: -16px">
    <div id="map" style="height: calc(100vh - 146px)"></div>
  </div>
</div>
