/node_modules
/uploads/store_items
/uploads
/app/controllers/admin/uploads

/temp
/dump
/config/uploads
/build

/backend/.env
/backend/temp
/backend/dump
/backend/build
/backend/config/uploads
/frontend/node_modules
/backend/node_modules
/backend/uploads/store_items
/backend/uploads/store_products
/backend/app/controllers/admin/uploads
public_item_image.zip
YeePeeydbclone2
build
err.log
out.log
cron_err.log
cron_out.log

