<!-- <footer [myLoading]="myLoading"></footer>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script
  type="text/javascript"
  src="https://connect.facebook.net/en_US/sdk.js"
></script> -->

<!-- <div class="row full_height"> -->
<!-- left side -->
<!-- <div class="col-md-5 col-xs-12 col-sm-5 full_height login_left_background">
    <div
      class="col-md-12 col-xs-12 col-sm-12 login_left_top_margin animated fadeInLeft"
    >
      <div class="col-md-12 col-xs-12 col-sm-12">
        <img
          style="width: 250px; background: #ef2020; border-radius: 5px"
          src="assets/New_Logo_White.png"
        />
      </div>

      <label
        class="col-md-12 col-xs-12 col-sm-12 login_title"
        style="margin-top: 20px"
        >{{title.store_title1 }}</label
      >
      <label class="col-md-12 col-xs-12 col-sm-12 login_title"
        >{{title.app_name +" "+title.store_title2 }}</label
      >
      <div class="col-md-12 col-xs-12 col-sm-12">
        <hr class="login_hr" />
      </div>

      <label class="col-md-12 col-xs-12 col-sm-12 login_left_bottom_margin"
        >{{title.doesnot_have_an_account }}</label
      >
      <a
        class="col-md-12 col-xs-12 col-sm-12"
        [routerLink]="['/store/register']"
        style="color: #ffffff; font-size: 20px; font-weight: normal"
        >{{button.register_now }}</a
      >
    </div>
  </div> -->

<!-- right side -->
<!-- <div class="col-md-7 col-xs-12 col-sm-7 full_height login_right_background">
    <div class="loginColumns animated fadeInRight" style="max-width: 435px">
      <div class="ibox-content login_right_background">
        <label class="login_right_title"
          >{{title.signin_to_your_account }}</label
        > -->
<!-- <div id="social"> -->
<!-- <div style="text-align: center; margin-bottom: 20px"> -->
<!-- <button type="button" style="border: 0;background-color: #f3f3f3;" (click)="facebook_register()"><img class="social_button" src="assets/web_images/facebook.png"></button> -->

<!-- <button
              type="button"
              style="border: 0; background-color: #f3f3f3"
              (click)="google_register()"
            >
              <img class="social_button" src="assets/web_images/google.png" />
            </button>
          </div>
          <div style="text-align: center">
            <label
              style="
                margin-bottom: 20px;
                font-size: 25px;
                font-weight: normal;
                color: #626262;
              "
              >-----OR-----</label
            >
          </div>
        </div> -->

<!-- <form
          #storloginForm="ngForm"
          (ngSubmit)="storeLogin(storloginForm.value)"
        >
          <div class="form-group">
            <div [ngSwitch]="email_placeholder">
              <div *ngSwitchCase="1">
                <label class="login_text_box_label"
                  >{{title.email_or_phone }}</label
                >
                <input
                  type="text"
                  id="email_or_phone"
                  class="form-control login_text_box"
                  [(ngModel)]="store_login.email"
                  #email="ngModel"
                  name="email"
                  required
                />
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                  <div style="color: red" [hidden]="!email.errors.required">
                    {{validation_message.email_or_phone_required }}
                  </div>
                </div>
                <div *ngIf="email_or_phone_error">
                  <div style="color: red">
                    {{validation_message.valid_email_or_phone }}
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="2">
                <label class="login_text_box_label"
                  >{{title.phone }}</label
                >
                <input
                  type="text"
                  id="phone"
                  (keypress)="helper.number_validation($event)"
                  class="form-control login_text_box"
                  [(ngModel)]="store_login.email"
                  #email="ngModel"
                  name="email"
                  required
                />
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                  <div style="color: red" [hidden]="!email.errors.required">
                    {{validation_message.phone_required }}
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="3">
                <label class="login_text_box_label"
                  >{{title.email }}</label
                >
                <input
                  type="email"
                  id="email"
                  class="form-control login_text_box"
                  [(ngModel)]="store_login.email"
                  #email="ngModel"
                  name="email"
                  email
                  required
                />
                <div *ngIf="email.errors && (email.dirty || email.touched)">
                  <div style="color: red" [hidden]="!email.errors.required">
                    {{validation_message.email_required }}
                  </div>
                  <div style="color: red" [hidden]="!email.errors?.email">
                    {{validation_message.valid_email }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-bottom: 30px">
            <label class="login_text_box_label"
              >{{title.password }}</label
            >
            <input
              type="password"
              class="form-control login_text_box"
              [(ngModel)]="store_login.password"
              #password="ngModel"
              minlength="6"
              name="password"
              required
            />

            <div
              *ngIf="password.errors && (password.dirty || password.touched)"
            >
              <div style="color: red" [hidden]="!password.errors.required">
                {{validation_message.password_required }}
              </div>
              <div style="color: red" [hidden]="!password.errors.minlength">
                {{validation_message.password_minlength }}
              </div>
            </div>
          </div>
          <div
            class="col-md-12 col-xs-12 col-sm-12 lable_center"
            style="margin-top: 20px"
          >
            <button
              type="submit"
              [disabled]="!storloginForm.form.valid"

              class="btn btn-danger m-b login_submit_button"
            >
              {{button.login_button }}
            </button>
          </div>

          <div class="col-md-12 col-xs-12 col-sm-12 lable_center">
            <a [routerLink]="['/store/forgot_password']" style="color: #959597"
              >{{button.forgot_password }}</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- <ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm"
  #myModal
  id="otp_model"
>
  <form #modalForm="ngForm" (ngSubmit)="otp_var(modalForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">{{title.verification }}!</h4>
    </div>
    <div class="modal-body">
      <div [ngSwitch]="opt_error_message">
        <div *ngSwitchCase="1">
          <label style="color: red"
            >{{validation_message.email_otp_wrong }}</label
          >
        </div>
        <div *ngSwitchCase="2">
          <label style="color: red"
            >{{validation_message.sms_otp_erong }}</label
          >
        </div>
        <div *ngSwitchCase="3">
          <label style="color: red"
            >{{validation_message.otp_wrong }}</label
          >
        </div>
      </div>
      <div class="form-group" id="otp_for_sms">
        <label>{{title.sms_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="sms_otp"
          name="sms_otp"
        />
      </div>
      <div class="form-group" id="otp_for_email">
        <label>{{title.email_otp }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="email_otp"
          name="email_otp"
        />
      </div>
    </div>
    <div class="modal-footer">
      <div class="lable_center">
        <button type="submit" class="btn btn-primary">
          {{button.submit }}
        </button>
      </div>
    </div>
  </form>
</ng-template> -->
<!-- </div> -->

<!-- style store login page css -->

<!-- <link href="assets/css/style.css" rel="stylesheet" type="text/css" /> -->

<!-- store login html -->
<div class="login-form">
  <div class="logo">
    <a href="login.html">
      <img src="assets/images/logo.png" alt="" />
    </a>
  </div>
  <div class="form-wrap">
    <form
      #storloginForm="ngForm"
      (ngSubmit)="storeLogin(storloginForm.value)"
      class="form-tag"
    >
      <div class="text text-center">
        <h2>Sign In</h2>
        <p>Welcome back! Please enter your details.</p>
      </div>
      <div class="form">
        <div class="form-feild">
          <label>Email<em>*</em></label>
          <input
            type="text"
            placeholder="Enter your email"
            class="form-control"
            [(ngModel)]="store_login.email"
            name="email"
          />
        </div>
        <div class="form-feild">
          <label>Password<em>*</em></label>
          <input
          [type]="is_eye_icon_show ? 'text' : 'password'"
            placeholder="********* "
            class="form-control"
            [(ngModel)]="store_login.password"
            minlength="6"
            name="password"
            required
          />
          <div class="eye-btn">
            <span (click)="togglePassword()">
              <img
                src="assets/images/eye.svg"
                alt=""
                width="20"
                height="20"
                *ngIf="is_eye_icon_show"
              />
              <img
                src="assets/images/eye-off.svg"
                alt=""
                width="20"
                height="20"
                *ngIf="!is_eye_icon_show"
              />
            </span>
          </div>
        </div>
        <div class="display">
          <div class="col-auto remember">
            <div class="custom-checkbox">
              <label>
                <input type="checkbox" />
                <span class="font-size">Remember</span>
              </label>
            </div>
          </div>
          <div class="col-auto forgot-password">
            <a
              [routerLink]="['/store/forgot_password']"
              class="text-link-dark forgot-password-link"
              >Forgot Password?</a
            >
          </div>
        </div>
        <div class="form-submit-wrap">
          <button class="btn btn-secondary w-100 mb-3 color" type="submit">
            Sign in
          </button>
          <!-- <a href="#" class="btn btn-outline-dark w-100">
            <img src="assets/images/google-logo.png" />
            Sign in with Google
          </a> -->
        </div>
        <p class="text-center login-link-text">
          Don’t have an account?<a [routerLink]="['/store/register']"
            ><b> Sign up for free</b></a
          >
        </p>
      </div>
      <div class="copyright-text text-center">
        <p>© Copyright 2023. Wosul.sa. All Rights Reserved.</p>
      </div>
    </form>
  </div>
</div>
