<footer [myLoading]="myLoading"></footer>

<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-2 col-sm-12 remove_padding">
      <div class="lable_center">
        <label>{{ title.date_filter }}</label>
      </div>

      <div class="col-md-12 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <my-date-picker
              id="start_date"
              [options]="helper.myStartDatePickerOptions"
              placeholder="Start Date"
              [(ngModel)]="start_date"
              (dateChanged)="helper.onStartDateChanged($event)"
              readonly
            ></my-date-picker>
            <span class="input-group-addon date_filter_icon">{{
              button.to
            }}</span>

            <my-date-picker
              id="end_date"
              [options]="helper.myEndDatePickerOptions"
              placeholder="End Date"
              [(ngModel)]="end_date"
              (dateChanged)="helper.onEndDateChanged($event)"
              readonly
            ></my-date-picker>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="provider_detail.first_name">
              {{ title.filter_provider }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              #store_open_time="ngModel"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="col-md-3 col-sm-3 remove_padding">
        <div class="lable_center">
          <label>{{ title.status }}</label>
        </div>
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="order_status_id"
            [(ngModel)]="order_status_id"
            name="order_status_id"
          >
            <option value="">{{ title.all }}</option>
            <option value="2">{{ title.cancelled }}</option>
            <option value="3">{{ title.rejected }}</option>
            <option value="10">{{ title.completed }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div>
          <label>{{ title.payment_mode }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="payment_status"
            [(ngModel)]="payment_status"
            name="payment_status"
            tabindex="4"
          >
            <option value="all">{{ title.all }}</option>
            <option value="false">{{ title.card }}</option>
            <option value="true">{{ title.cash }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-3 remove_padding">
        <div>
          <label>{{ title.order_type }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="order_type"
            [(ngModel)]="order_type"
            name="order_type"
            tabindex="4"
          >
            <option value="both">{{ title.both }}</option>
            <option value="false">{{ title.asap }}</option>
            <option value="true">{{ title.schedule }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div>
          <label>{{ title.pickup }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="pickup_type"
            [(ngModel)]="pickup_type"
            name="pickup_type"
            tabindex="4"
          >
            <option value="both">{{ title.both }}</option>
            <option value="true">{{ title.user }}</option>
            <option value="false">{{ title.deliveryman }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-sm-2 remove_padding">
        <div>
          <label>{{ title.created_by }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="created_by"
            [(ngModel)]="created_by"
            name="created_by"
            tabindex="4"
          >
            <option value="both">{{ title.both }}</option>
            <option value="{{ helper.ADMIN_DATA_ID.USER }}">
              {{ title.user }}
            </option>
            <option value="{{ helper.ADMIN_DATA_ID.STORE }}">
              {{ title.store }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-1 col-sm-12 remove_padding">
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <button
          type="button"
          (click)="store_history(1)"
          class="btn filter_apply_btn"
          style="width: unset"
        >
          <span class="fa fa-search"></span>
        </button>
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <button
          type="button"
          (click)="export_excel()"
          class="btn export_excel_btn"
          style="width: unset"
        >
          <span class="fa fa-file-excel-o"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="col-md-8">
    <div class="ibox">
      <div class="ibox-title">
        <h5>{{ heading_title.history }}</h5>
      </div>
      <div class="ibox-content" style="padding-bottom: 40px">
        <div
          class="table-responsive scrollbar"
          style="height: calc(100vh - 300px); overflow: auto"
        >
          <table class="table">
            <thead>
              <tr>
                <th>{{ title.id }}</th>
                <th>{{ title.user }}</th>
                <th>{{ title.provider }}</th>
                <!--<th>{{title.user_rating }}</th>-->
                <!--<th>{{title.provider_rating }}</th>-->
                <th>{{ title.date }}</th>
                <!--<th>{{title.payment_by }}</th>-->
                <th>{{ title.total }}</th>
                <th>{{ title.status }}</th>
                <th>{{ title.action }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let order of order_list;
                  let index = index;
                  let last = last
                "
                (click)="get_order_detail(index)"
              >
                <td>{{ order.unique_id }}</td>
                <td>
                  {{ order.user_detail.first_name }}
                  {{ order.user_detail.last_name }}
                </td>
                <td>
                  <div *ngIf="order.provider_detail">
                    {{ order.provider_detail.first_name }}
                    {{ order.provider_detail.last_name }}
                  </div>
                </td>
                <td>
                  {{ order.completed_at | date : 'd MMM yyyy, h:mm a' }}
                </td>
                <td>{{ order.order_payment_detail.total.toFixed(2) }}</td>
                <td [ngSwitch]="order.order_status">
                  <div *ngSwitchCase="ORDER_STATE.STORE_REJECTED">
                    <span class="label label-danger">{{
                      status.rejected1
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED">
                    <span class="label label-danger">{{
                      status.cancelled1
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.NO_DELIVERY_MAN_FOUND">
                    <span class="label label-danger">{{
                      status.no_delivery_man_found1
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_REJECTED">
                    <span class="label label-danger">{{
                      status.delivery_man_rejected1
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_CANCELLED">
                    <span class="label label-danger">{{
                      status.delivery_man_cancelled1
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.CANCELED_BY_USER">
                    <span class="label label-danger">{{
                      status.user_cancelled
                    }}</span>
                  </div>
                  <div
                    *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY"
                  >
                    <span class="label label-primary">{{
                      status.order_delivered
                    }}</span>
                  </div>
                  <div *ngSwitchCase="ORDER_STATE.ORDER_COMPLETED">
                    <span class="label label-primary">{{
                      status.completed
                    }}</span>
                  </div>
                </td>
                <td class="text-left footable-visible footable-last-column">
                  <div class="btn-group">
                    <button
                      (click)="open_detail_modal(index)"
                      class="btn btn-xs btn-light_black"
                    >
                      {{ helper.button.detail }}
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12 col-sm-12" style="margin-top: 6px">
          <div class="lable_center">
            <ul class="pagination">
              <li *ngIf="page !== 1">
                <a class="btn" (click)="store_history(page - 1)">{{
                  button.pre
                }}</a>
              </li>
              <li
                *ngFor="let index of total_pages"
                [class.active]="page == index"
              >
                <a
                  *ngIf="
                    index == 1 ||
                    index == total_page ||
                    index == page ||
                    index == page - 1 ||
                    index == page + 1
                  "
                  (click)="store_history(index)"
                  class="btn"
                  >{{ index }}</a
                >
                <a
                  *ngIf="
                    (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                    (index == total_page - 1 &&
                      page !== total_page &&
                      page !== total_page - 1 &&
                      page !== total_page - 2)
                  "
                  class="btn"
                  >...</a
                >
              </li>
              <li *ngIf="page !== total_page && order_list.length !== 0">
                <a class="btn" (click)="store_history(page + 1)">{{
                  button.next
                }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-md-4"
    *ngIf="order_detail.user_detail && order_list.length > 0"
  >
    <div class="ibox">
      <div class="ibox-title">
        <h5>{{ order_detail.unique_id }}</h5>
        <h5 class="pull-right">
          {{ currency_sign
          }}{{ order_detail.order_payment_detail.total.toFixed(2) }} (<span
            [ngSwitch]="order_detail.order_payment_detail.is_payment_mode_cash"
          >
            <span
              *ngIf="!order_detail.order_payment_detail.is_paid_from_wallet"
            >
              <span *ngSwitchCase="true"
                ><span>{{ title.cash }}</span></span
              >
              <span *ngSwitchCase="false"
                ><span
                  >{{ order_detail?.payment_gateway_detail[0]?.name }}
                </span></span
              >
            </span>
            <span *ngIf="order_detail.order_payment_detail.is_paid_from_wallet">
              <span> + {{ title.wallet }}</span>
            </span> </span
          >)
        </h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-12 no_padding">
            <label>{{ heading_title.user_detail }}</label>
            <span
              class="pull-right"
              *ngIf="
                order_detail.order_status == ORDER_STATE.ORDER_COMPLETED &&
                !order_detail.is_store_rated_to_user
              "
            >
              <button
                class="btn btn-black btn-xs pull-right"
                (click)="give_rate_modal(order_detail._id, index, 1)"
              >
                Give rate
              </button></span
            >
            <span class="pull-right" *ngIf="order_detail.is_store_rated_to_user"
              ><span><i class="fa fa-star" aria-hidden="true"></i></span>
              {{ order_detail.review_detail[0].store_rating_to_user }}
            </span>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title?.name }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.user_detail.first_name +
                  " " +
                  order_detail.user_detail.last_name
              }}
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title.email }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{ order_detail.user_detail.email }}
            </div>
          </div>
        </div>

        <div
          class="row"
          style="border-top: 1px solid #d8d1d1; padding-top: 10px"
          *ngIf="order_detail.cart_detail.destination_addresses.length > 0"
        >
          <div class="col-md-12 no_padding">
            <label>{{ heading_title.order_user_detail }}</label>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title?.name }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.cart_detail?.destination_addresses[0]?.user_details
                  ?.name
              }}
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title.phone }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.cart_detail.destination_addresses[0].user_details
                  .country_phone_code
              }}
              {{
                order_detail.cart_detail.destination_addresses[0].user_details
                  .phone
              }}
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title.address }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{ order_detail.cart_detail.destination_addresses[0].address }}
              ({{ order_detail.order_payment_detail.total_distance
              }}{{ title.km }})
            </div>
          </div>

          <div
            class="col-md-12"
            *ngIf="
              order_detail.cart_detail.destination_addresses[0].building_no
            "
          >
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >Building No :</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.cart_detail.destination_addresses[0].building_no
              }}
            </div>
          </div>

          <div
            class="col-md-12"
            *ngIf="
              order_detail.cart_detail.destination_addresses[0].appartmentno
            "
          >
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >Apartment No :</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.cart_detail.destination_addresses[0].appartmentno
              }}
            </div>
          </div>
        </div>

        <div
          class="row"
          style="border-top: 1px solid #d8d1d1; padding-top: 10px"
          *ngIf="
            !order_detail.order_payment_detail.is_user_pick_up_order &&
            order_detail.provider_detail
          "
        >
          <div class="col-md-12 no_padding">
            <label>{{ heading_title.provider_detail }}</label>
            <span
              class="pull-right"
              *ngIf="
                order_detail.order_status == ORDER_STATE.ORDER_COMPLETED &&
                !order_detail.is_store_rated_to_provider &&
                !order_detail.order_payment_detail.is_user_pick_up_order
              "
            >
              <button
                class="btn btn-black btn-xs pull-right"
                (click)="give_rate_modal(order_detail._id, index, 2)"
              >
                Give rate
              </button></span
            >
            <span
              class="pull-right"
              *ngIf="order_detail.is_store_rated_to_provider"
              ><span><i class="fa fa-star" aria-hidden="true"></i></span>
              {{ order_detail.review_detail[0].store_rating_to_provider }}</span
            >
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title?.name }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{
                order_detail.provider_detail.first_name +
                  " " +
                  order_detail.provider_detail.last_name
              }}
            </div>
          </div>
          <div class="col-md-12">
            <label class="col-lg-4 col-sm-4 col-xs-4 control-label"
              >{{ title.email }}:</label
            >
            <div class="col-lg-8 col-sm-8 col-xs-8">
              {{ order_detail.provider_detail.email }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm animated fadeInUpBig"
  #modal
>
  <div class="modal-header">
    <h4 class="modal-title">{{ heading_title.rating }}</h4>
  </div>
  <div class="modal-body" *ngIf="order_list.length > 0">
    <div class="row" *ngIf="order_list.length > 0">
      <div class="col-md-12">
        <div style="text-align: center">
          <div *ngIf="type == 1">
            <h3 class="m-b-xs">
              <strong
                >{{ order_detail.user_detail.first_name }}
                {{ order_detail.user_detail.last_name }}</strong
              >
            </h3>
            <img
              class="img-circle"
              style="height: 60px; width: 60px"
              src="{{
                order_detail.user_detail.image_url != ''
                  ? helper.CONSTANT.IMAGE_BASE_URL +
                    order_detail.user_detail.image_url
                  : 'default.png'
              }}"
            />
          </div>
          <div *ngIf="type == 2 && order_detail.provider_detail">
            <h3 class="m-b-xs">
              <strong
                >{{ order_detail.provider_detail.first_name }}
                {{ order_detail.provider_detail.last_name }}</strong
              >
            </h3>
            <img
              class="img-circle"
              style="height: 60px; width: 60px"
              src="{{
                order_detail.provider_detail.image_url != ''
                  ? helper.CONSTANT.IMAGE_BASE_URL +
                    order_detail.provider_detail.image_url
                  : 'default.png'
              }}"
            />
          </div>
          <div>
            <rating [(ngModel)]="rating" [float]="true"></rating>
          </div>
        </div>
        <div style="margin-top: 10px">
          <label class="col-md-12" style="padding-left: 0">Comment</label>
          <textarea
            class="col-md-12"
            style="max-width: 100%; max-height: 80px"
            [(ngModel)]="review"
            name="review"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button type="button" class="btn btn-primary" (click)="give_rate()">
        {{ button.submit }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  cssClass="modal-invoice animated fadeInUpBig"
  #order_detail_modal
>
  <div class="modal-header">
    <label>{{ heading_title.order_detail }}</label>
  </div>
  <div class="modal-body">
    <div class="row" *ngIf="order_detail.cart_detail">
      <div class="col-md-4">
        <div class="ibox">
          <div class="ibox-title">
            <h4 class="pull-right">
              {{ currency_sign }}{{ order_total.toFixed(2) }}
            </h4>
            <span style="position: absolute; left: 48%"
              >(<strong>{{ total_item }}</strong
              >) {{ title.items }}</span
            >
            <h5>{{ heading_title.order_detail }}</h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div
              *ngFor="
                let products of order_detail.cart_detail.order_details;
                let product_index = index
              "
            >
              <div style="border-bottom: 1px solid brown">
                <h4 class="pull-right">
                  {{ currency_sign
                  }}{{ product_item_total_array[product_index] }}
                  <span
                    *ngIf="hide_specification_group[product_index] == 'true'"
                    (click)="show_specifications_group(product_index)"
                    class="fa fa-chevron-left"
                  ></span>
                  <span
                    *ngIf="hide_specification_group[product_index] == 'false'"
                    (click)="hide_specifications_group(product_index)"
                    class="fa fa-chevron-down"
                  ></span>
                </h4>
                <span style="position: absolute; left: 48%"
                  >(<strong>{{ products.items.length }}</strong
                  >) {{ title.items }}</span
                >
                <h5>{{ products.product_name }}</h5>
              </div>

              <div
                id="spec_list{{ product_index }}"
                class="table-responsive"
                style="width: 100%"
              >
                <table class="table">
                  <thead style="border-bottom: 1px solid">
                    <tr>
                      <th></th>
                      <th>{{ title.item }}</th>
                      <th>
                        {{ title.spec }}
                        {{ title.price }}
                      </th>
                      <th>{{ title.price }}</th>
                      <th>{{ title.qty }}</th>
                      <th>{{ title.total }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr
                      style="cursor: pointer"
                      *ngFor="
                        let item of products.items;
                        let odd = odd;
                        let item_index = index
                      "
                      (click)="get_specification(product_index, item_index)"
                    >
                      <td>
                        <img
                          [src]="
                            item.image_url != ''
                              ? item.image_url
                              : 'web_images/storeplaceholder.png'
                          "
                          style="
                            border-radius: 10%;
                            width: 50px;
                            height: 50px;
                            padding-right: 0px;
                          "
                        />
                      </td>
                      <td style="padding-top: 20px">{{ item.item_name }}</td>
                      <td style="padding-top: 20px">
                        {{ currency_sign }}{{ item.total_specification_price }}
                      </td>
                      <td style="padding-top: 20px">
                        {{ currency_sign }}{{ item.item_price }}
                      </td>
                      <td style="padding-top: 20px">{{ item.quantity }}</td>
                      <td style="padding-top: 20px">
                        {{ currency_sign
                        }}{{
                          (
                            (item.item_price + item.total_specification_price) *
                            item.quantity
                          ).toFixed(2)
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="is_show_specification">
        <div class="ibox">
          <div class="ibox-title">
            <h5>{{ title.specifications }}</h5>
            <span
              class="fa fa-remove pull-right"
              (click)="is_show_specification = false"
            ></span>
          </div>

          <div class="ibox-content invoice_popup_box">
            <div
              *ngFor="let specification_group of specifications; let odd = odd"
              [class.row]="odd"
              style="margin: 0"
            >
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
                  <div
                    class="col-md-12"
                    style="padding: 0; border-bottom: 1px solid #dcdcdc"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <h5>{{ specification_group?.name }}</h5>
                    </div>
                    <div
                      *ngIf="specification_group.price > 0"
                      class="col-md-4 col-sm-4 col-xs-4"
                    >
                      <h5 style="float: right">
                        {{ currency_sign
                        }}{{ specification_group.price.toFixed(2) }}
                      </h5>
                    </div>
                  </div>

                  <div
                    class="col-md-12"
                    *ngFor="let specification of specification_group.list"
                  >
                    <div style="padding: 0" class="col-md-8 col-sm-8 col-xs-8">
                      <h6 style="font-size: 13px">{{ specification?.name }}</h6>
                    </div>
                    <div
                      *ngIf="specification.price > 0"
                      class="col-md-4 col-sm-4 col-xs-4"
                      style="padding: 0"
                    >
                      <h6 style="font-size: 13px; float: right">
                        {{ currency_sign }}{{ specification.price.toFixed(2) }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row"
              style="border-top: 1px solid; padding-top: 15px"
              *ngIf="item_note != ''"
            >
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label>{{ title.item_note_here }}</label>
                <div>
                  <h6 style="font-size: 13px">{{ item_note }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="!is_show_specification">
        <div class="ibox">
          <div class="ibox-title" style="background-color: #d4d8d8">
            <h5>{{ heading_title.order_status }}</h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div
              id="vertical-timeline"
              class="vertical-container dark-timeline"
            >
              <div
                *ngFor="let date of order_detail.date_time"
                class="vertical-timeline-block"
              >
                <div class="vertical-timeline-icon gray-bg"></div>
                <div
                  class="vertical-timeline-content"
                  [ngSwitch]="date.status"
                  style="padding-top: 1px"
                >
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.WAITING_FOR_ACCEPT_STORE"
                  >
                    <span>{{ helper.status.waiting_for_accept }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_ACCEPTED">
                    <span>{{ helper.status.accepted }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_PREPARING_ORDER">
                    <span>{{ helper.status.start_preparing_order }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.OREDER_READY">
                    <span>{{ helper.status.order_ready }}</span>
                  </p>
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.WAITING_FOR_DELIVERY_MAN"
                  >
                    <span>{{ helper.status.waiting_for_delivery_man }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_REJECTED">
                    <span>{{ helper.status.rejected }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED">
                    <span>{{ helper.status.cancelled }}</span>
                  </p>

                  <span class="vertical-date small text-muted">
                    {{ date.date | date : 'd MMM yyyy, h:mm a' }}
                  </span>
                </div>
              </div>
              <div *ngIf="order_detail.request_detail">
                <div
                  *ngFor="let date of order_detail.request_detail.date_time"
                  class="vertical-timeline-block"
                >
                  <div class="vertical-timeline-icon gray-bg"></div>
                  <div
                    class="vertical-timeline-content"
                    [ngSwitch]="date.status"
                    style="padding-top: 1px"
                  >
                    <p
                      *ngSwitchCase="
                        helper.ORDER_STATE.WAITING_FOR_DELIVERY_MAN
                      "
                    >
                      <span>{{ helper.status.waiting_for_delivery_man }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_ACCEPTED">
                      <span>{{ helper.status.delivery_man_accepted }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_COMING">
                      <span>{{ helper.status.delivery_man_coming }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_ARRIVED">
                      <span>{{ helper.status.delivery_man_arrived }}</span>
                    </p>
                    <p
                      *ngSwitchCase="
                        helper.ORDER_STATE.DELIVERY_MAN_PICKED_ORDER
                      "
                    >
                      <span>{{ helper.status.picked_order }}</span>
                    </p>
                    <p
                      *ngSwitchCase="
                        helper.ORDER_STATE.DELIVERY_MAN_STARTED_DELIVERY
                      "
                    >
                      <span>{{ helper.status.started_for_delivery }}</span>
                    </p>
                    <p
                      *ngSwitchCase="
                        helper.ORDER_STATE.DELIVERY_MAN_ARRIVED_AT_DESTINATION
                      "
                    >
                      <span>{{ helper.status.arrived_at_destination }}</span>
                    </p>
                    <p
                      *ngSwitchCase="
                        helper.ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY
                      "
                    >
                      <span>{{ helper.status.delivered_ordered }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.STORE_REJECTED">
                      <span>{{ helper.status.rejected }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED">
                      <span>{{ helper.status.cancelled }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.NO_DELIVERY_MAN_FOUND">
                      <span>{{ helper.status.no_delivery_man_found }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_REJECTED">
                      <span>{{ helper.status.delivery_man_rejected }}</span>
                    </p>
                    <p
                      *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_CANCELLED"
                    >
                      <span>{{ helper.status.delivery_man_cancelled }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.CANCELED_BY_USER">
                      <span>{{ helper.status.user_cancelled }}</span>
                    </p>
                    <p
                      *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED_REQUEST"
                    >
                      <span>{{ helper.status.cancelled_request }}</span>
                    </p>
                    <p *ngSwitchCase="helper.ORDER_STATE.ORDER_COMPLETED">
                      <span>{{ helper.status.completed }}</span>
                    </p>

                    <span class="vertical-date small text-muted">
                      {{ date.date | date : 'd MMM yyyy, h:mm a' }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ibox">
          <div class="ibox-title" style="background-color: #d4d8d8">
            <h5>{{ order_detail.order_payment_detail.invoice_number }}</h5>
            <h5 class="pull-right">
              {{ currency_sign
              }}{{ order_detail.order_payment_detail.total.toFixed(2) }}
            </h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
                <div class="col-md-12 no_padding">
                  <label style="margin-top: 10px">{{
                    heading_title.delivery_fees
                  }}</label>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.service_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_service_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.tax_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_admin_tax_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <!--<div class="col-md-12" style="padding: 0;border-bottom: 1px solid #dcdcdc;">-->
                <!--<div class="col-md-8 col-sm-8 col-xs-8"><h5>{{title.total_delivery_price }}</h5></div>-->
                <!--<div class="col-md-4 col-sm-4 col-xs-4"><h5 style="float: right;">{{currency_sign}}{{order_detail.order_payment_detail.total_delivery_price}}</h5></div>-->
                <!--</div>-->
                <div
                  class="col-md-12"
                  *ngIf="
                    order_detail.order_payment_detail
                      .is_promo_for_delivery_service == true
                  "
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.promo_bonus }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.promo_payment.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8" style="color: red">
                    <h5>{{ title.total_delivery_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4" style="color: red">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_delivery_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>

                <div class="col-md-12 no_padding">
                  <label style="margin-top: 10px">{{
                    heading_title.order_fees
                  }}</label>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.cart_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_cart_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.tax_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_store_tax_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <!--<div class="col-md-12" style="padding: 0;border-bottom: 1px solid #dcdcdc;">-->
                <!--<div class="col-md-8 col-sm-8 col-xs-8"><h5>{{title.total_order_price }}</h5></div>-->
                <!--<div class="col-md-4 col-sm-4 col-xs-4"><h5 style="float: right;">{{currency_sign}}{{order_detail.order_payment_detail.total_order_price}}</h5></div>-->
                <!--</div>-->
                <div
                  class="col-md-12"
                  *ngIf="
                    order_detail.order_payment_detail
                      .is_promo_for_delivery_service == false
                  "
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.promo_bonus }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.promo_payment.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8" style="color: red">
                    <h5>{{ title.total_order_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4" style="color: red">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_order_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>

                <div class="col-md-12 no_padding">
                  <label style="margin-top: 10px">{{
                    heading_title.payment
                  }}</label>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.wallet_payment }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.wallet_payment.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.cash_payment }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.cash_payment.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.other_payment }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.card_payment.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>

                <div class="col-md-12 no_padding">
                  <label style="margin-top: 10px">{{
                    heading_title.earning
                  }}</label>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.service_price }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5
                      *ngIf="
                        order_detail.order_payment_detail
                          .is_store_pay_delivery_fees
                      "
                      style="float: right"
                    >
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_delivery_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                    <h5
                      *ngIf="
                        !order_detail.order_payment_detail
                          .is_store_pay_delivery_fees
                      "
                      style="float: right"
                    >
                      0
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.order_payment }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5
                      *ngIf="
                        order_detail.order_payment_detail
                          .is_payment_mode_cash &&
                        !order_detail.order_payment_detail
                          .is_order_price_paid_by_store
                      "
                      style="float: right"
                    >
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_order_price.toFixed(
                          2
                        )
                      }}
                    </h5>
                    <h5
                      *ngIf="
                        !order_detail.order_payment_detail
                          .is_payment_mode_cash ||
                        order_detail.order_payment_detail
                          .is_order_price_paid_by_store
                      "
                      style="float: right"
                    >
                      0
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.profit }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.total_store_income.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  style="padding: 0; border-bottom: 1px solid #dcdcdc"
                >
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h5>{{ title.pay_by_admin }}</h5>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h5 style="float: right">
                      {{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.pay_to_store.toFixed(
                          2
                        )
                      }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
