<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="order_details.product_name">
              {{ title.filter_product }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              #store_open_time="ngModel"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.sort }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="sort_field"
            [(ngModel)]="sort_field"
            name="sort_field"
            tabindex="4"
          >
            <option value="unique_id">{{ title.filter_id }}</option>
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="order_details.product_name">
              {{ title.filter_product }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_orders">
          <select
            chosen
            class="chosen-select"
            id="sort_order"
            [(ngModel)]="sort_order"
            name="sort_order"
            tabindex="4"
          >
            <option value="1">{{ title.ascending }}</option>
            <option value="-1">{{ title.descending }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="filter(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h5>{{ heading_title.order_list }}</h5>
    </div>
    <div class="ibox-content" style="padding-bottom: 40px">
      <div class="table-responsive table_height" style="padding-bottom: 100px">
        <table class="table">
          <thead>
            <tr>
              <th>{{ title.id }}</th>
              <th>{{ title.order_start_at }}</th>
              <th>{{ title.user }}</th>
              <th>{{ title.product }}</th>
              <th>{{ title.payment_by }}</th>
              <th>{{ title.total }}</th>
              <th>{{ title.status }}</th>
              <th>{{ title.action }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of order_list; let last = last">
              <td>{{ order.unique_id }}</td>
              <td *ngIf="order.is_schedule_order == false">{{ title.asap }}</td>
              <td
                *ngIf="
                  order.is_schedule_order == true &&
                  order.schedule_order_start_at !== null
                "
              >
                {{
                  order.schedule_order_start_at
                }}
              </td>

              <td>
                {{ order.user_detail.first_name }}
                {{ order.user_detail.last_name }}
              </td>
              <td>
                <div *ngFor="let product of order.cart_detail.order_details">
                  {{ product.product_name }}
                </div>
              </td>
              <td [ngSwitch]="order.order_payment_detail.is_payment_mode_cash">
                <div *ngIf="order.order_payment_detail.is_paid_from_wallet">
                  <span class="label label-success">{{ title.wallet }}</span>
                </div>
                <div *ngIf="!order.order_payment_detail.is_paid_from_wallet">
                  <div *ngSwitchCase="true">
                    <span class="label label-primary">{{ title.cash }}</span>
                  </div>
                  <div *ngSwitchCase="false">
                    <span class="label label-danger"
                      >{{ order.payment_gateway_detail[0].name }}
                    </span>
                  </div>
                </div>
              </td>
              <td>{{ order.order_payment_detail.total.toFixed(2) }}</td>
              <td [ngSwitch]="order.order_status">
                <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE">
                  <span class="label label-info">{{
                    status.waiting_for_accept
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED">
                  <span class="label label-primary">{{ status.accepted }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_PREPARING_ORDER">
                  <span class="label label-primary">{{
                    status.start_preparing_order
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.OREDER_READY">
                  <span class="label label-primary">{{
                    status.order_ready
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_DELIVERY_MAN">
                  <span class="label label-info">{{
                    status.waiting_for_delivery_man
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_REJECTED">
                  <span class="label label-danger">{{ status.rejected }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED">
                  <span class="label label-danger">{{ status.cancelled }}</span>
                </div>
              </td>
              <td>
                <div
                  class="dropdown"
                  [class.dropup]="last && !index == 0"
                  dropdown
                >
                  <button class="btn btn-primary" dropdown-open>
                    {{ button.action }}<span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li [hidden]="order.order_status > 5">
                      <form
                        method="post"
                        #orderStatusForm="ngForm"
                        (ngSubmit)="orderStatus(orderStatusForm.value)"
                      >
                        <input
                          type="hidden"
                          [(ngModel)]="order._id"
                          name="order_id"
                        />
                        <input
                          type="hidden"
                          [(ngModel)]="order.order_type"
                          name="order_type"
                        />
                        <div [ngSwitch]="order.order_status">
                          <div
                            *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE"
                          >
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.STORE_ACCEPTED"
                              name="order_status"
                            />
                            <button
                              type="submit"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.accept }}
                            </button>
                          </div>

                          <div *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED">
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.STORE_PREPARING_ORDER"
                              name="order_status"
                            />
                            <button
                              type="submit"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.prepare_for_order }}
                            </button>
                          </div>

                          <div *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED">
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.STORE_PREPARING_ORDER"
                              name="order_status"
                            />
                            <button
                              type="button"
                              (click)="orderAssignProvider(order._id)"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.quick_delivery }}
                            </button>
                          </div>

                          <div
                            *ngSwitchCase="ORDER_STATE.STORE_PREPARING_ORDER"
                          >
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.OREDER_READY"
                              name="order_status"
                            />
                            <button
                              type="submit"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.order_ready }}
                            </button>
                          </div>
                        </div>
                      </form>
                    </li>
                    <li
                      [hidden]="
                        order.order_status > ORDER_STATE.OREDER_READY ||
                        order.order_type != helper.ADMIN_DATA_ID.STORE
                      "
                    >
                      <button
                        type="button"
                        (click)="edit_order(order._id)"
                        class="btn btn-default"
                        style="width: 100%; margin-bottom: 0px"
                      >
                        {{ button.edit_order }}
                      </button>
                    </li>

                    <li
                      [hidden]="
                        order.order_status != ORDER_STATE.OREDER_READY ||
                        order.order_payment_detail.is_user_pick_up_order ||
                        order.request_id != null
                      "
                    >
                      <form
                        method="post"
                        #orderAssignProviderForm="ngForm"
                        (ngSubmit)="orderAssignProvider(order._id)"
                      >
                        <input
                          type="hidden"
                          [(ngModel)]="order._id"
                          name="order_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-default"
                          style="width: 100%; margin-bottom: 0px"
                        >
                          {{ button.assign_delivery_for_provider }}
                        </button>
                      </form>
                    </li>

                    <li
                      [hidden]="
                        order.order_status != ORDER_STATE.OREDER_READY ||
                        !order.order_payment_detail.is_user_pick_up_order
                      "
                    >
                      <form
                        method="post"
                        #completeDeliveryForm="ngForm"
                        (ngSubmit)="
                          completeDeliveryModal(
                            order._id,
                            order.confirmation_code_for_complete_delivery
                          )
                        "
                      >
                        <input
                          type="hidden"
                          [(ngModel)]="order._id"
                          name="order_id"
                        />
                        <button
                          type="submit"
                          class="btn btn-default"
                          style="width: 100%; margin-bottom: 0px"
                        >
                          {{ button.complete_order }}
                        </button>
                      </form>
                    </li>

                    <li
                      [hidden]="
                        order.order_status >= ORDER_STATE.DELIVERY_MAN_ARRIVED
                      "
                    >
                      <form
                        method="post"
                        #rejectOrderForm="ngForm"
                        (ngSubmit)="rejectOrCancleOrder(rejectOrderForm.value)"
                      >
                        <input
                          type="hidden"
                          [(ngModel)]="order._id"
                          name="order_id"
                        />
                        <div [ngSwitch]="order.order_status">
                          <div
                            *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE"
                          >
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.STORE_REJECTED"
                              name="order_status"
                            />
                            <button
                              type="submit"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.reject }}
                            </button>
                          </div>
                          <div *ngSwitchDefault>
                            <input
                              type="hidden"
                              [(ngModel)]="ORDER_STATE.STORE_CANCELLED"
                              name="order_status"
                            />
                            <button
                              type="submit"
                              class="btn btn-default"
                              style="width: 100%; margin-bottom: 0px"
                            >
                              {{ button.cancle }}
                            </button>
                          </div>
                        </div>
                      </form>
                    </li>

                    <li>
                      <button
                        type="button"
                        (click)="vieworder_detail(order._id)"
                        class="btn btn-default"
                        style="width: 100%; margin-bottom: 0px"
                      >
                        {{ button.view_order_detail }}
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="lable_center">
          <ul class="pagination">
            <li *ngIf="page !== 1">
              <a class="btn" (click)="filter(page - 1)">{{ button.pre }}</a>
            </li>
            <li
              *ngFor="let index of total_pages"
              [class.active]="page == index"
            >
              <a
                *ngIf="
                  index == 1 ||
                  index == total_page ||
                  index == page ||
                  index == page - 1 ||
                  index == page + 1
                "
                (click)="filter(index)"
                class="btn"
                >{{ index }}</a
              >
              <a
                *ngIf="
                  (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                  (index == total_page - 1 &&
                    page !== total_page &&
                    page !== total_page - 1 &&
                    page !== total_page - 2)
                "
                class="btn"
                >...</a
              >
            </li>
            <li *ngIf="page !== total_page && order_list.length !== 0">
              <a class="btn" (click)="filter(page + 1)">{{ button.next }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="col-lg-4">-->
  <!--<div class="ibox">-->
  <!--<div class="ibox-content">-->
  <!--<h3>To-do</h3>-->
  <!--<p class="small"><i class="fa fa-hand-o-up"></i> Drag task between list</p>-->

  <!--<div class="input-group">-->
  <!--<input type="text" placeholder="Add new task. " class="input input-sm form-control">-->
  <!--<span class="input-group-btn">-->
  <!--<button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add task</button>-->
  <!--</span>-->
  <!--</div>-->
  <!--<ul ui-sortable="sortableOptions" class="sortable-list connectList agile-list" ng-model="todoList">-->
  <!--<li class="{{task.statusClass}}-element" ng-repeat="task in todoList">-->
  <!--{{task.content}}-->
  <!--<div class="agile-detail">-->
  <!--<a href="#" class="pull-right btn btn-xs btn-white">{{task.tagName}}</a>-->
  <!--<i class="fa fa-clock-o"></i> {{task.date}}-->
  <!--</div>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->
</div>
<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm animated fadeInUpBig"
  #cancel_order_modal
>
  <div class="modal-header">
    <h4 class="modal-title">{{ heading_title.cancel_order }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="radio">
        <label
          ><input
            type="radio"
            class="iradio"
            id="default_reason"
            name="cancel_reason"
            value="Enter Your Reason"
          /><span style="margin-left: 10px"
            >Too busy to deliver on time</span
          ></label
        >
      </div>
      <div class="radio">
        <label
          ><input
            type="radio"
            class="iradio"
            name="cancel_reason"
            value="Enter Your Reason"
          /><span style="margin-left: 10px">Service is not in list</span></label
        >
      </div>
      <div class="radio">
        <label
          ><input
            type="radio"
            class="iradio"
            name="cancel_reason"
            value="1"
          /><span style="margin-left: 10px">.....</span></label
        >
      </div>
      <div style="display: none" id="text_box">
        <input
          type="text"
          class="form-control"
          placeholder="Reason"
          [(ngModel)]="cancel_reason"
          name="cancel_reason"
          required
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button type="button" class="btn btn-black" (click)="cancelservice()">
        {{ button.submit }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm animated fadeInUpBig"
  #complete_order_modal
>
  <div class="modal-header">
    <h4 class="modal-title">{{ heading_title.complete_order }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div *ngIf="conf_code_error_message">
        <label style="color: red">{{
          helper.validation_message.confirmation_code_wrong
        }}</label>
      </div>

      <div class="form-group" id="otp_for_sms">
        <label>{{ title.confirmation_code }}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="confirmation_code"
          name="confirmation_code"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button type="button" class="btn btn-black" (click)="completeDelivery()">
        {{ button.submit }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-sm animated fadeInUpBig"
  #estimated_time_modal
>
  <form
    method="post"
    #orderAssignProviderForm="ngForm"
    (ngSubmit)="orderAssignProvider(order_id)"
  >
    <div class="modal-header">
      <label>{{ heading_title.estimated_time_for_ready_order }}</label>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            (keypress)="helper.number_validation($event)"
            [(ngModel)]="estimated_time"
            name="estimated_time"
            required
          />
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-black">
          {{ button.submit }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
