<footer [myLoading]="myLoading"></footer>

<div class="wrapper content_top_bar_view2 wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-3" *ngIf="is_product_selected">
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{ helper.heading_title.category }}</h5>
          <span
            class="fa fa-check pull-right"
            (click)="update_sequence_number(1)"
          ></span>
          <button
            class="btn pull-right"
            (click)="change_product_modifier(false)"
            style="margin-top: -7px"
          >
            {{ helper.button.view_modifier_group }}
          </button>
        </div>
        <div class="ibox-content">
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-10 col-sm-10 col-xs-10" style="padding-right: 0">
              <input
                type="text"
                colspan="2"
                placeholder="{{ helper.title.enter_product_name }}"
                (keyup)="check_product()"
                class="form-control"
                [(ngModel)]="add_product.name"
                #name="ngModel"
                name="name"
                required
              />
              <select
                class="chosen-select category_list"
                [(ngModel)]="add_product.category_id"
                name=""
                selected_category_for_product
              >
                <option value="" hidden>Select Category</option>
                <option
                  *ngFor="let category of category_list"
                  value="{{ category._id }}"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <span
                style="margin-top: 5px; font-size: 25px; float: right"
                (click)="addProduct()"
                class="fa fa-plus-circle"
              ></span>
            </div>
            <label *ngIf="product_already_exist">{{
              helper.title.category_already_exist
            }}</label>
          </div>

          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10" style="padding-right: 0">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="search_value"
                  placeholder="{{ title.search }}"
                  (keyup.enter)="filter(1)"
                  #store_open_time="ngModel"
                  name="search_value"
                />
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <strong
                style="margin-top: 10px"
                (click)="filter(1)"
                class="fa fa-search"
              ></strong>
            </div>
          </div>

          <ul
            id="sortable_product"
            class="sortable-list connectList agile-list product_list_height scrollbar"
          >
            <li
              *ngFor="
                let product of filtered_product_list;
                let product_index = index
              "
              (click)="select_product(product._id, $event)"
              class="product_li show_hover_only"
              [ngStyle]="{
                'background-color': !product.is_visible_in_store
                  ? '#D2CBCB'
                  : '#FAFAFB'
              }"
              [class.success-element]="
                product._id == selected_product_id &&
                selected_product_id_for_specification == ''
              "
            >
              <div>
                <span>{{ product.name }}</span>
                <a
                  title="Delete"
                  (click)="open_delete_product_modal(product)"
                  class="pull-right"
                  ><i class="fa fa-trash-o" style="color: #676a6c"></i
                ></a>
                <a
                  title="Hide"
                  *ngIf="product.is_visible_in_store"
                  (click)="updateProduct(product, false)"
                  class="pull-right"
                  ><i class="fa fa-eye-slash" style="color: #676a6c"></i
                ></a>
                <a
                  title="Show"
                  *ngIf="!product.is_visible_in_store"
                  (click)="updateProduct(product, true)"
                  class="pull-right"
                  ><i class="fa fa-eye" style="color: #676a6c"></i
                ></a>
                <a class="pull-right" (click)="open_edit_product_modal(product)"
                  ><i class="fa fa-pencil" style="color: #676a6c"></i
                ></a>
              </div>
            </li>
          </ul>
          <div style="margin-top: 20px">
            <button
              class="btn btn-black btn-block text-center"
              (click)="import_category()"
              style="margin-top: -7px"
            >
              Change Category
            </button>
          </div>
          <div style="margin-top: 20px">
            <button
              class="btn btn-black btn-block text-center"
              (click)="import_data()"
              style="margin-top: -7px"
            >
              {{ helper.button.import_data }}
            </button>
          </div>

          <div style="margin-top: 20px">
            <button
              class="btn btn-black btn-block text-center"
              (click)="import_images()"
              style="margin-top: -7px"
            >
              {{ helper.button.import_images }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" *ngIf="!is_product_selected">
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{ helper.heading_title.modifier_group }}</h5>
          <button
            class="btn pull-right"
            (click)="change_product_modifier(true)"
            style="margin-top: -7px"
          >
            {{ helper.button.view_product }}
          </button>
        </div>
        <div class="ibox-content">
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-10 col-sm-10 col-xs-10" style="padding-right: 0">
              <input
                type="text"
                class="form-control"
                placeholder="{{ helper.title.enter_modifier_group_name }}"
                name="specification_group_name"
                [(ngModel)]="specification_group_name"
              />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <span
                style="margin-top: 5px; font-size: 25px; float: right"
                (click)="add_specification_group()"
                class="fa fa-plus-circle"
              ></span>
            </div>
          </div>

          <ul
            class="sortable-list connectList agile-list product_list_height scrollbar"
          >
            <li
              *ngFor="
                let sp_group of specification_group_list;
                let sp_group_index = index
              "
              (click)="get_specification(sp_group._id)"
              class="product_li show_hover_only"
              [class.success-element]="
                sp_group._id == selected_specification_group_id
              "
            >
              <span>{{ sp_group.name }}</span>
              <a
                ><span
                  (click)="
                    delete_specification_group(
                      sp_group._id,
                      sp_group_index,
                      $event
                    )
                  "
                  class="fa fa-times pull-right"
                ></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="col-md-3"
      *ngIf="!is_product_selected && selected_specification_group_id"
    >
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{ selected_specification_group_name }}</h5>
          <span
            class="fa fa-check pull-right"
            (click)="updateSpecification()"
          ></span>
        </div>
        <div class="ibox-content">
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 0">
              <input
                type="text"
                placeholder="{{ helper.title.enter_specification }}"
                class="form-control"
                [(ngModel)]="specification_name"
                name="specification_name"
              />
            </div>
            <div
              class="col-md-4 col-sm-4 col-xs-4"
              style="padding-right: 5px; padding-left: 5px"
            >
              <input
                type="text"
                placeholder="{{ helper.title.item_price }}"
                class="form-control"
                [(ngModel)]="specification_price"
                name="specification_price"
                required
              />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <span
                style="margin-top: 5px; font-size: 25px; float: right"
                (click)="addSpecification()"
                class="fa fa-plus-circle"
              ></span>
            </div>
          </div>

          <div id="spec_list" class="product_list_height scrollbar">
            <form #specificationForm="ngForm" enctype="multipart/form-data">
              <ul class="sortable-list connectList agile-list">
                <li
                  class="product_li_sp"
                  *ngFor="
                    let specification of specification_name_array;
                    let specification_index = index
                  "
                >
                  {{ specification.name }}({{ specification.price }})
                  <span
                    (click)="deleteSpecification('', specification_index)"
                    class="fa fa-times pull-right"
                  ></span>
                </li>
              </ul>

              <ul class="sortable-list connectList agile-list">
                <li
                  class="product_li_sp show_hover_only"
                  *ngFor="
                    let specification of specification_list;
                    let specification_index = index
                  "
                >
                  {{ specification.name }}
                  <a
                    ><span
                      (click)="
                        deleteSpecification(
                          specification._id,
                          specification_index
                        )
                      "
                      class="fa fa-times pull-right"
                    ></span
                  ></a>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3" *ngIf="is_product_selected">
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{ helper.heading_title.item }}</h5>
          <span
            class="fa fa-check pull-right"
            (click)="update_sequence_number(2)"
          ></span>
        </div>
        <div class="ibox-content">
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6 col-sm-6 col-xs-6" style="padding-right: 5px">
              <input
                type="text"
                colspan="2"
                placeholder="{{ helper.title.item_name }}"
                (keyup)="check_item()"
                class="form-control"
                [(ngModel)]="add_item.name"
                #name="ngModel"
                name="name"
                required
              />
            </div>
            <div
              class="col-md-4 col-sm-4 col-xs-4"
              style="padding-right: 5px; padding-left: 5px"
            >
              <input
                type="text"
                colspan="2"
                placeholder="{{ helper.title.item_price }}"
                class="form-control"
                [(ngModel)]="add_item.price"
                #price="ngModel"
                name="price"
                required
              />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <span
                style="margin-top: 5px; font-size: 25px; float: right"
                (click)="add_item_data()"
                class="fa fa-plus-circle"
              ></span>
            </div>
            <label *ngIf="item_error != ''">{{ item_error }}</label>
          </div>
          <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10" style="padding-right: 0">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="search_item_value"
                  placeholder="{{ title.search }}"
                  (keyup.enter)="filter_items()"
                  #store_open_time="ngModel"
                  name="search_item_value"
                />
              </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
              <strong
                style="margin-top: 10px"
                (click)="filter_items()"
                class="fa fa-search"
              ></strong>
            </div>
          </div>
          <ul
            id="sortable"
            class="sortable-list connectList agile-list product_list_height scrollbar"
          >
            <li
              *ngFor="
                let item of filtered_item_temp_list;
                let item_index = index
              "
              (click)="select_item(item._id, $event)"
              class="product_li"
              [ngStyle]="{
                'background-color': !item.is_visible_in_store
                  ? '#D2CBCB'
                  : '#FAFAFB'
              }"
              [class.success-element]="item._id == selected_item_id"
            >
              {{ item.name }}
              <a (click)="open_delete_item_modal(item)" class="pull-right"
                ><i class="fa fa-trash-o" style="color: #676a6c"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-6" *ngIf="item_detail.name && is_product_selected">
      <div class="ibox">
        <div class="ibox-title">
          <h5>{{ item_detail.name }}</h5>
          <span class="fa fa-check pull-right" (click)="updateItem()"></span>
        </div>
        <div
          class="ibox-content scrollbar"
          style="height: calc(100vh - 163px); overflow: auto"
        >
          <div class="row">
            <div class="col-md-12" style="font-size: 7px">
              <label>{{ title.note_for_image }}: </label
              ><span
                >{{ title.image_note1 }} {{ image_setting.image_min_width }}x{{
                  image_setting.image_min_height
                }}
                {{ title.image_note2 }}
                {{ image_setting.image_max_width }}x{{
                  image_setting.image_max_height
                }}), {{ title.image_note3 }}
                <label>{{ image_setting.image_ratio }}</label>
                {{ title.image_note4 }}</span
              >
              <label
                *ngFor="let i of image_setting.image_type; let last = last"
              >
                {{ i.split("/")[1] }}<label [hidden]="last">, </label>
              </label>
              <span>{{ title.image_note5 }}</span>
            </div>
            <div class="form-group">
              <div
                class="scrollbar"
                id="style-3"
                style="
                  background-color: #fff;
                  width: 100%;
                  height: 112px;
                  text-align: center;
                "
              >
                <div
                  style="display: inline-table"
                  *ngIf="
                    item_detail.image_url.length + new_image_array.length < 5
                  "
                >
                  <span class="btn-file"
                    ><img
                      src="assets/web_images/camera_img.png"
                      style="
                        border-radius: 20%;
                        width: 80px;
                        height: 80px;
                        margin-right: 15px;
                      " />
                    <input
                      type="file"
                      #image_file
                      accept="image/*"
                      (change)="image_update($event)"
                      name="image"
                      style="margin-top: -12px; padding: 13px"
                  /></span>
                </div>

                <div
                  *ngFor="let image of new_image_array; let index = index"
                  style="display: inline-table"
                >
                  <img
                    [src]="image.base64_image"
                    style="
                      border-radius: 20%;
                      width: 80px;
                      height: 80px;
                      margin-right: 15px;
                    "
                  />
                  <div style="margin-top: -11px; margin-right: -58px">
                    <i
                      aria-hidden="true"
                      (click)="remove_new_image(index)"
                      class="fa fa-times-circle"
                      style="font-size: 25px; cursor: pointer; color: #bc2029"
                    ></i>
                  </div>
                </div>

                <div
                  *ngFor="let image of item_detail.image_url; let index = index"
                  style="display: inline-table"
                >
                  <img
                    src="{{ helper.CONSTANT.IMAGE_BASE_URL + image }}"
                    style="
                      border-radius: 20%;
                      width: 80px;
                      height: 80px;
                      margin-right: 15px;
                    "
                  />
                  <div style="margin-top: -11px; margin-right: -58px">
                    <i
                      aria-hidden="true"
                      (click)="delete_item_image(image, index)"
                      class="fa fa-times-circle"
                      style="font-size: 25px; cursor: pointer; color: #bc2029"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label>{{ helper.title.item_name }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_detail.name"
                #name="ngModel"
                name="name"
                required
              />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label>Change Category</label>
              <ng-multiselect-dropdown
                [settings]="dropdownSettings"
                [data]="filtered_product_list"
                [(ngModel)]="selectedCategory"
                (onSelect)="onItemSelect($event)"
              >
              </ng-multiselect-dropdown>
            </div>
            <label *ngIf="item_already_exist">{{
              helper.message.item_already_exist
            }}</label>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label>{{ helper.title.item_price }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_detail.price"
                #price="ngModel"
                name="price"
                required
              />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label>{{ helper.title.vat }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_detail.tax"
                #tax="ngModel"
                name="tax"
                required
              />
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">Bar Code</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_detail.unique_id_for_store_data"
                #unique_id_for_store_data="ngModel"
                name="unique_id_for_store_data"
                required
              />
              <!--   <ui-switch [(ngModel)]="item_detail.unique_id_for_store_data" #unique_id_for_store_data="ngModel" name="unique_id_for_store_data"></ui-switch> -->
            </div>
          </div>
          <div class="row" style="margin-top: 10px">
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label>Purchase Cost</label>
              <input
                type="number"
                class="form-control"
                [(ngModel)]="item_detail.purchase_cost"
                #purchase_cost="ngModel"
                name="purchase_cost"
                required
              />
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
              <label>Splash Price</label>
              <textarea
                style="max-width: 100%; max-height: 80px"
                class="form-control"
                [(ngModel)]="item_detail.item_price_without_offer"
                #item_price_without_offer="ngModel"
                name="item_price_without_offer"
                required
              ></textarea>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label>{{ helper.title.details }}</label>
              <textarea
                style="max-width: 100%; max-height: 80px"
                class="form-control"
                [(ngModel)]="item_detail.details"
                #details="ngModel"
                name="details"
                required
              ></textarea>
            </div>
          </div>

          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">{{
                helper.title.is_visible_in_store
              }}</label>
              <ui-switch
                [(ngModel)]="item_detail.is_visible_in_store"
                #is_visible_in_store="ngModel"
                name="is_visible_in_store"
              ></ui-switch>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">{{
                helper.title.is_item_in_stock
              }}</label>
              <ui-switch
                [(ngModel)]="item_detail.is_item_in_stock"
                #is_item_in_stock="ngModel"
                name="is_item_in_stock"
              ></ui-switch>
            </div>
          </div>
          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">Recommended Products</label>
              <ui-switch
                [(ngModel)]="item_detail.is_recommend_in_store"
                #is_recommend_in_store="ngModel"
                name="is_recommend_in_store"
              ></ui-switch>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">Express Delivery</label>
              <ui-switch
                [(ngModel)]="item_detail.is_most_popular"
                #is_express_in_delivery="ngModel"
                name="is_most_popular"
              ></ui-switch>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
              <label class="col-md-8 no_padding">Flower Descriptions</label>
              <textarea
                style="max-width: 100%; max-height: 80px"
                class="form-control"
                [(ngModel)]="item_detail.details_1"
                #details_1="ngModel"
                name="details_1"
                required
              ></textarea>
              <!-- <input type="text" class="form-control" [(ngModel)]="item_detail.details_1" #details_1="ngModel"  name="details_1"> -->
              <!--   <ui-switch [(ngModel)]="item_detail.unique_id_for_store_data" #unique_id_for_store_data="ngModel" name="unique_id_for_store_data"></ui-switch> -->
            </div>
          </div>

          <div class="row" style="margin-top: 10px">
            <div class="col-md-12">
              <label>Add Modifier</label>
            </div>
            <div class="col-md-6">
              <select
                class="chosen-select"
                [(ngModel)]="selected_spec_group_for_item"
                name=""
                selected_spec_group_for_item
              >
                <option value="" hidden>Select Modifier</option>
                <option
                  *ngFor="let sp_gp of specification_group_list"
                  value="{{ sp_gp._id }}"
                >
                  {{ sp_gp.name }}
                </option>
              </select>
            </div>
            <div class="col-md-6">
              <span
                class="fa fa-plus-circle"
                style="font-size: 25px"
                (click)="open_specification_modal()"
              ></span>
            </div>
          </div>

          <div *ngIf="item_detail.specifications.length > 0">
            <ul class="sortable-list connectList agile-list">
              <li
                style="padding-right: 0; padding-left: 0"
                class="product_li_sp"
                *ngFor="
                  let specification of item_detail.specifications;
                  let specification_index = index
                "
              >
                <span
                  class="fa fa-angle-right product_arrow"
                  *ngIf="selected_item_specification != specification._id"
                  (click)="selected_item_specification = specification._id"
                ></span>
                <span
                  class="fa fa-angle-down product_arrow"
                  *ngIf="selected_item_specification == specification._id"
                  (click)="selected_item_specification = ''"
                ></span>
                <span>{{ specification.name }}</span>
                <span
                  class="fa fa-close pull-right"
                  style="padding-right: 10px"
                  (click)="delete_item_specification(specification_index)"
                ></span>
                <span
                  class="fa fa-pencil pull-right"
                  style="padding-right: 10px"
                  (click)="
                    edit_item_specification(specification, specification_index)
                  "
                ></span>
                <ul
                  class="sortable-list connectList agile-list"
                  style="padding-bottom: 0"
                  *ngIf="selected_item_specification == specification._id"
                >
                  <li
                    class="product_li_sp"
                    style="background: #f8f8f9 !important; border: 0"
                    *ngFor="
                      let list of specification.list;
                      let list_index = index
                    "
                  >
                    <div class="row">
                      <div class="col-md-6">
                        <span>{{ list.name }}</span>
                      </div>
                      <div class="col-md-6">
                        <span>{{ list.price }}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl animated fadeInDownBig"
  #edit_product_modal
>
  <div class="modal-header">
    <h5>Edit Category</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <input
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="product_data.name"
          #name="ngModel"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 form-group">
        <input
          type="text"
          class="form-control"
          name="sequence_number"
          [(ngModel)]="product_data.sequence_number"
          #name="ngModel"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <select
          class="chosen-select category_list1"
          [(ngModel)]="this.product_data.category_id"
          name="category_for_product"
          #category_for_product="ngModel"
        >
          <option value="" hidden>Select Category</option>
          <option
            *ngFor="let category of category_list"
            value="{{ category._id }}"
          >
            {{ category.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button
        type="button"
        (click)="updateProduct(product_data, product_data.is_visible_in_store)"
        class="btn btn-primary"
      >
        {{ button.update }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xs animated fadeInDownBig"
  #add_specification_modal
>
  <div class="modal-header">
    <h5>{{ helper.heading_title.add_modifier_group }}</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="{{ helper.title.enter_modifier_group_name }}"
          name="specification_group_name"
          [(ngModel)]="specification_group_name"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button
        type="button"
        (click)="add_specification_group()"
        class="btn btn-primary"
      >
        {{ button.update }}
      </button>
    </div>
  </div>
</ng-template>

<!-- <ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl animated fadeInDownBig"
  #image_crop_modal
>
  <div class="modal-header"> </div>
  <div class="modal-body">
    <img-cropper
      #cropper
      [image]="data"
      [settings]="cropperSettings"
    ></img-cropper><br />
    <button id="load-image" class="hidden" (click)="loadImage(cropper)"></button>
    {{ cropperSettings.croppedWidth }}
    {{ cropperSettings.croppedHeight }}
    <div class="col-lg-12 text_center">
      <span
        style="color: red"
        *ngIf="
          cropperSettings.croppedWidth < this.image_setting.image_min_width ||
          cropperSettings.croppedWidth > this.image_setting.image_max_width ||
          cropperSettings.croppedHeight < this.image_setting.image_min_height ||
          cropperSettings.croppedHeight > this.image_setting.image_max_height
        "
        >{{ image_error }}</span
      >
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button type="button" (click)="crop($event)" class="btn btn-primary">
        {{ button.done }}
      </button>
    </div>
  </div>
</ng-template> -->
<!-- <ng-container *ngTemplateOutlet="image_crop_modal"></ng-container> -->

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl animated fadeInDownBig"
  #item_spec_modal
>
  <form #modalForm="ngForm" (ngSubmit)="addiItemSpecification(modalForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">
        {{ heading_title.add_item_specification }}
      </h4>
    </div>
    <div class="modal-body">
      <input type="hidden" [(ngModel)]="index" name="index" />
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-sm-8 col-xs-8 no_padding">
            <div class="form-group">
              <label style="font-weight: normal">{{
                title.item_specification_name
              }}</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_detail.item_specification_name"
                #item_specification_name="ngModel"
                name="item_specification_name"
                required
              />
              <input
                type="hidden"
                class="form-control"
                [(ngModel)]="item_detail.specification_group_id"
                #specification_group_id="ngModel"
                name="specification_group_id"
              />
              <input
                type="hidden"
                class="form-control"
                [(ngModel)]="item_detail.type"
                #type="ngModel"
                name="type"
              />
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-4 no_padding">
            <label
              class="col-md-12 col-sm-12 col-xs-12"
              style="font-weight: normal"
              >{{ title.is_required }}</label
            >
            <ui-switch
              class="col-md-12 col-sm-12 col-xs-12"
              [(ngModel)]="item_detail.is_required"
              #is_required="ngModel"
              name="is_required"
              disabled
            ></ui-switch>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-8 col-sm-8 col-xs-8 no_padding">
            <div class="form-group">
              <label style="font-weight: normal">Specification Price</label>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="item_specification_price"
                name="item_specification_price"
                required
              />
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-4 col-xs-8 no_padding">
                        <select class="form-control" (change)="check_range_validation()" [(ngModel)]="select_type" name="select_type">
                            <option value="1">Select</option>
                            <option value="2">Select Range</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-8">
                        <div class="form-group" >
                            <input type="text" (keypress)="check_range_validation()"  class="form-control" [(ngModel)]="item_detail.range" #range="ngModel" name="range" required>
                        </div>
                    </div>
                    <div *ngIf="select_type==2" class="col-md-4 col-sm-4 col-xs-8 no_padding">
                        <div class="form-group" >
                            <input type="text" (keypress)="check_range_validation()"  class="form-control" [(ngModel)]="item_detail.max_range" #max_range="ngModel" name="max_range" required>
                        </div>
                    </div> -->
        </div>
        <!-- <div class="col-md-12" *ngIf="range_error">
                    <label class="error" style="font-weight: normal;">{{helper.validation_message.range_validation_error }}</label>
                </div> -->
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td style="width: 40%">
                    {{ title.add_specification }}
                  </td>
                  <td style="width: 120px">{{ title.price }}</td>
                  <td style="width: 30%">
                    {{ title.default_select }}
                  </td>
                </tr>
              </table>
              <div id="spec_model">
                <table class="table">
                  <tr
                    *ngFor="
                      let i of product_specification_list;
                      let index = index
                    "
                  >
                    <td style="width: 5%">
                      <label
                        ><input
                          type="checkbox"
                          class="icheck"
                          value="{{ i._id }}"
                      /></label>
                    </td>
                    <td style="width: 35%">
                      <label
                        ><span style="margin-left: 10px">{{
                          i.name
                        }}</span></label
                      >
                    </td>

                    <td style="width: 120px">
                      <div>
                        <input
                          type="text"
                          class="form-control"
                          [disabled]="checked_array[index] != true"
                          (keypress)="helper.number_validation($event)"
                          [(ngModel)]="i.price"
                          name="{{ index }}"
                        />
                      </div>
                    </td>
                    <td style="width: 30%">
                      <ui-switch
                        [(ngModel)]="i.is_default_selected"
                        #is_default_selected="ngModel"
                        [disabled]="checked_array[index] != true"
                        name="is_default_selected{{ i._id }}"
                      ></ui-switch>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div *ngIf="spec_list_error == 1">
              <label class="error" style="font-weight: normal">{{
                title.error_atleast_one_specification
              }}</label>
            </div>
            <div *ngIf="spec_list_error == 2">
              <label class="error" style="font-weight: normal">{{
                title.do_not_default_select_morethan_range
              }}</label>
            </div>
            <div *ngIf="spec_list_error == 3">
              <label class="error" style="font-weight: normal">{{
                helper.validation_message.range_validation_error
              }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" [disabled]="range_error" class="btn btn-primary">
          {{ spec_button }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
<style>
  .modal-xl {
    width: 1824px;
  }
</style>
<!-- category chat -->
<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  class="modal_category"
  cssClass="modal-xl"
  #import_category_modal
>
  <div class="modal-header">
    <h4 class="modal-title">Category</h4>
  </div>
  <div class="modal-body" style="padding: 4rem">
    <div class="">
      <div class="row animated fadeInRight">
        <div *ngFor="let i of category_list">
          <div class="row">
            <div class="col-md-6">
              <h3>
                <b
                  ><strong>{{ i.name }}</strong></b
                >
              </h3>
            </div>
            <div class="col-md-6">
              <ui-switch
                (change)="is_visible_in_store(i, $event)"
                style="float: right"
                [(ngModel)]="i.is_visible_in_store"
                name="is_visible_in_store"
              ></ui-switch>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl animated fadeInDownBig"
  #import_data_modal
>
  <div class="modal-header">
    <h4 class="modal-title">{{ helper.button.import_data }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-sm-3 control-label"
          >{{ helper.title.select_type }}:</label
        >
        <div class="col-sm-9">
          <select
            chosen
            class="form-control"
            [(ngModel)]="file_type"
            id="file_type"
            tabindex="4"
            name="file_type"
            required
          >
            <option value="{{ helper.IMPORT_STORE_DATA.PRODUCT }}">
              {{ helper.title.product }}
            </option>
            <option value="{{ helper.IMPORT_STORE_DATA.ITEM }}">
              {{ helper.title.item }}
            </option>
            <option
              value="{{ helper.IMPORT_STORE_DATA.UPDATE_ITEM_PRICE_DESC }}"
            >
              {{ helper.title.update_price_desc_and_vat }}
            </option>
            <option value="{{ helper.IMPORT_STORE_DATA.SPECIFICATION_GROUP }}">
              {{ helper.title.specification_group }}
            </option>
            <option value="{{ helper.IMPORT_STORE_DATA.SPECIFICATION }}">
              {{ helper.title.specification }}
            </option>
            <option value="{{ helper.IMPORT_STORE_DATA.ITEM_SPECIFICATION }}">
              {{ helper.title.item_specification }}
            </option>
            <option
              value="{{ helper.IMPORT_STORE_DATA.UPDATE_ITEM_SPECIFICATION }}"
            >
              {{ helper.title.update_item_specification }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-12">
        <label class="col-sm-3 control-label"
          >{{ helper.title.select_file }}:</label
        >
        <div class="col-sm-9">
          <div
            class="fileinput fileinput-new input-group"
            data-provides="fileinput"
          >
            <div
              class="form-control"
              data-trigger="fileinput"
              style="overflow-x: hidden"
            >
              <i class="glyphicon glyphicon-file fileinput-exists"></i>
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file"
              ><span class="fileinput-new">{{ helper.button.select_file }}</span
              ><span class="fileinput-exists">{{ helper.button.change }}</span>
              <input
                type="file"
                (change)="upload_excel($event)"
                name="logo_image"
                placeholder="Select Logo Image"
            /></span>
            <a
              href="#"
              id="remove"
              class="input-group-addon btn btn-default fileinput-exists"
              data-dismiss="fileinput"
              >{{ helper.button.remove_file }}</a
            >
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>

      <div
        class="form-group col-md-12"
        *ngIf="file_type == helper.IMPORT_STORE_DATA.ITEM"
      >
        <label class="col-sm-3 control-label"
          >{{ helper.title.select_image_file }}:</label
        >
        <div class="col-sm-9">
          <div
            class="fileinput fileinput-new input-group"
            data-provides="fileinput"
          >
            <div
              class="form-control"
              data-trigger="fileinput"
              style="overflow-x: hidden"
            >
              <i class="glyphicon glyphicon-file fileinput-exists"></i>
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file"
              ><span class="fileinput-new">{{ helper.button.select_file }}</span
              ><span class="fileinput-exists">{{ helper.button.change }}</span>
              <input
                type="file"
                (change)="upload_zip($event)"
                name="logo_zip"
                placeholder="Select Image Zip"
            /></span>
            <a
              href="#"
              id="remove"
              class="input-group-addon btn btn-default fileinput-exists"
              data-dismiss="fileinput"
              >{{ helper.button.remove_file }}</a
            >
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div *ngIf="myLoading == true" style="text-align: center">Loading..</div>
      <div class="form-group col-md-12 text-center">
        <button
          type="submit"
          (click)="upload_excel_data()"
          id="submit"
          name="submit"
          class="btn btn-primary"
        >
          {{ helper.button.submit }}
        </button>
        <button type="submit" class="btn btn-primary">
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.ITEM"
            href="assets/web_images/item.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.ITEM_SPECIFICATION"
            href="assets/web_images/item_specification.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.SPECIFICATION"
            href="assets/web_images/specification.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.PRODUCT"
            href="assets/web_images/product.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.SPECIFICATION_GROUP"
            href="assets/web_images/specification_group.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="
              file_type == helper.IMPORT_STORE_DATA.UPDATE_ITEM_SPECIFICATION
            "
            href="assets/web_images/specification_group.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
          <a
            style="color: #fff !important"
            *ngIf="file_type == helper.IMPORT_STORE_DATA.UPDATE_ITEM_PRICE_DESC"
            href="assets/web_images/update_item_new.xlsx"
            target="_blank"
            >{{ helper.button.download_demo_file }}</a
          >
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl animated fadeInDownBig"
  #import_images_modal
>
  <div class="modal-header">
    <h4 class="modal-title">{{ helper.button.import_images }}</h4>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-12">
        <label class="col-sm-3 control-label"
          >{{ helper.title.select_image_file }}:</label
        >
        <div class="col-sm-9">
          <div
            class="fileinput fileinput-new input-group"
            data-provides="fileinput"
          >
            <div
              class="form-control"
              data-trigger="fileinput"
              style="overflow-x: hidden"
            >
              <i class="glyphicon glyphicon-file fileinput-exists"></i>
              <span class="fileinput-filename"></span>
            </div>
            <span class="input-group-addon btn btn-default btn-file"
              ><span class="fileinput-new">{{ helper.button.select_file }}</span
              ><span class="fileinput-exists">{{ helper.button.change }}</span>
              <input
                type="file"
                (change)="upload_zip2($event)"
                name="logo_zip"
                placeholder="Select Image Zip"
            /></span>
            <a
              href="#"
              id="remove"
              class="input-group-addon btn btn-default fileinput-exists"
              data-dismiss="fileinput"
              >{{ helper.button.remove_file }}</a
            >
          </div>
        </div>
        <div class="col-sm-3"></div>
      </div>
      <div *ngIf="myLoading == true" style="text-align: center">Loading..</div>
      <div class="form-group col-md-12 text-center">
        <button
          type="submit"
          (click)="upload_images_data()"
          id="submit"
          name="submit"
          class="btn btn-primary"
        >
          {{ helper.button.submit }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xs animated fadeInDownBig"
  #delete_product_modal
>
  <div class="modal-header">
    <h5>Delete Product: {{ product_data.name }}</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-md-12 col-sm-12">
        You are deleting product and its items.
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button
        type="button"
        (click)="deleteProduct(product_data)"
        class="btn btn-primary"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>

<ng-template
  let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xs animated fadeInDownBig"
  #delete_item_modal
>
  <div class="modal-header">
    <h5>Delete Item: {{ item_data.name }}</h5>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-10">You are deleting item.</div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button
        type="button"
        (click)="deleteItem(item_data)"
        class="btn btn-primary"
      >
        Delete
      </button>
    </div>
  </div>
</ng-template>
