<div class="content">
  <div class="page-heading">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <h2>Stock Transfers</h2>
          </div>
          <div class="col-auto">
            <a class="btn btn-sm btn-light-primary" href="javascript:void(0);"
              ><i class="fa-solid fa-plus"></i>New Stock Transfer</a
            >
          </div>
        </div>
      </div>
      <div class="col-auto">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="form-field page-heading-search-field mb-0">
              <div class="field-icon">
                <input
                  type="text"
                  class="form-control form-control-sm form-control-shadow"
                  placeholder="Search..."
                />
                <div class="icon">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="dropdown filter-dropdown">
              <button
                type="button"
                class="btn btn-sm btn-icon btn-light-primary"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                data-bs-auto-close="outside"
              >
                <i class="fa-solid fa-filter"></i>
              </button>
              <div class="dropdown-menu p-3 w-365">
                <form>
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Product Code</label>
                        <input
                          type="text"
                          class="form-control form-control-sm form-control-solid"
                          id=""
                          placeholder=""
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Category</label>
                        <select
                          class="form-select form-select-sm form-select-solid select2-hidden-accessible"
                          data-select2-id="select2-data-7-87bc"
                          tabindex="-1"
                          aria-hidden="true"
                        >
                          <option data-select2-id="select2-data-9-2wfx">
                            Category
                          </option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option></select
                        ><span
                          class="select2 select2-container select2-container--default"
                          dir="ltr"
                          data-select2-id="select2-data-8-r16h"
                          style="width: 100px"
                          ><span class="selection"
                            ><span
                              class="select2-selection select2-selection--single"
                              role="combobox"
                              aria-haspopup="true"
                              aria-expanded="false"
                              tabindex="0"
                              aria-disabled="false"
                              aria-labelledby="select2-jgdr-container"
                              aria-controls="select2-jgdr-container"
                              ><span
                                class="select2-selection__rendered"
                                id="select2-jgdr-container"
                                role="textbox"
                                aria-readonly="true"
                                title="Category"
                                >Category</span
                              ><span
                                class="select2-selection__arrow"
                                role="presentation"
                                ><b role="presentation"></b></span></span></span
                          ><span
                            class="dropdown-wrapper"
                            aria-hidden="true"
                          ></span
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Quantity</label>
                        <input
                          type="text"
                          class="form-control form-control-sm form-control-solid"
                          id=""
                          placeholder=""
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Status</label>
                        <select
                          class="form-select form-select-sm form-select-solid select2-hidden-accessible"
                          data-select2-id="select2-data-10-kvv7"
                          tabindex="-1"
                          aria-hidden="true"
                        >
                          <option data-select2-id="select2-data-12-t9ds">
                            Active
                          </option>
                          <option>Inactive</option></select
                        ><span
                          class="select2 select2-container select2-container--default"
                          dir="ltr"
                          data-select2-id="select2-data-11-i1u8"
                          style="width: 100px"
                          ><span class="selection"
                            ><span
                              class="select2-selection select2-selection--single"
                              role="combobox"
                              aria-haspopup="true"
                              aria-expanded="false"
                              tabindex="0"
                              aria-disabled="false"
                              aria-labelledby="select2-i7qp-container"
                              aria-controls="select2-i7qp-container"
                              ><span
                                class="select2-selection__rendered"
                                id="select2-i7qp-container"
                                role="textbox"
                                aria-readonly="true"
                                title="Active"
                                >Active</span
                              ><span
                                class="select2-selection__arrow"
                                role="presentation"
                                ><b role="presentation"></b></span></span></span
                          ><span
                            class="dropdown-wrapper"
                            aria-hidden="true"
                          ></span
                        ></span>
                      </div>
                    </div>
                  </div>
                  <div class="row g-3">
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Created On</label>
                        <input
                          type="date"
                          class="form-control form-control-sm form-control-solid"
                          id=""
                          placeholder=""
                        />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-field">
                        <label for="" class="form-label">Create By</label>
                        <select
                          class="form-select form-select-sm form-select-solid select2-hidden-accessible"
                          data-select2-id="select2-data-13-ajmx"
                          tabindex="-1"
                          aria-hidden="true"
                        >
                          <option data-select2-id="select2-data-15-y200">
                            Administrator
                          </option>
                          <option>1</option>
                          <option>2</option>
                          <option>3</option>
                          <option>4</option></select
                        ><span
                          class="select2 select2-container select2-container--default"
                          dir="ltr"
                          data-select2-id="select2-data-14-6gsl"
                          style="width: 100px"
                          ><span class="selection"
                            ><span
                              class="select2-selection select2-selection--single"
                              role="combobox"
                              aria-haspopup="true"
                              aria-expanded="false"
                              tabindex="0"
                              aria-disabled="false"
                              aria-labelledby="select2-qnmz-container"
                              aria-controls="select2-qnmz-container"
                              ><span
                                class="select2-selection__rendered"
                                id="select2-qnmz-container"
                                role="textbox"
                                aria-readonly="true"
                                title="Administrator"
                                >Administrator</span
                              ><span
                                class="select2-selection__arrow"
                                role="presentation"
                                ><b role="presentation"></b></span></span></span
                          ><span
                            class="dropdown-wrapper"
                            aria-hidden="true"
                          ></span
                        ></span>
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-sm btn-primary w-100">
                    Filter
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-list-data table-hover">
      <thead class="bg-light">
        <tr>
          <th scope="col">Stock Transfer Reference</th>
          <th scope="col">From Store Codey</th>
          <th scope="col">From Store Name</th>
          <th scope="col">To Store Code</th>
          <th scope="col">To Store Name</th>
          <th scope="col">Status</th>
          <th scope="col">Created On</th>
          <th scope="col">Updated On</th>
          <th scope="col">Create By</th>
          <th scope="col" class="text-end">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td><b>102</b></td>
          <td>RSTORE</td>
          <td>Rajan Store</td>
          <td>ABHISHEK_STORE</td>
          <td>Abhishek's Store</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
          <td>8-6-2022 08:30 PM</td>
          <td>8-6-2022 08:30 PM</td>
          <td>Administrator</td>
          <td class="text-end">
            <div class="dropdown">
              <button
                class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Edit</a></li>
                <li>
                  <a class="dropdown-item" href="stock-transfer-view.html"
                    >View</a
                  >
                </li>
                <li><a class="dropdown-item" href="#">Delete</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="data-footer">
    <div class="row align-items-center justify-content-end">
      <div class="col-auto">
        <ul class="pagination">
          <li class="page-item">
            <a
              class="page-link"
              href="javascript:void(0)"
              aria-label="Previous"
            >
              <span aria-hidden="true"
                ><i class="fa-solid fa-chevron-left"></i
              ></span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">1</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="javascript:void(0)">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="javascript:void(0)" aria-label="Next">
              <span aria-hidden="true"
                ><i class="fa-solid fa-chevron-right"></i
              ></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
