<style type="text/css">
  .scrollbar_for_history {
    height: 100%;
    background: #fff;
    overflow-y: auto;
  }

  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  .scrollbar::-webkit-scrollbar {
    width: 3px;
    background-color: #222222;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
</style>
<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-3 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>

      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="user_detail.email">
              {{ title.user }}
            </option>
            <option value="provider_detail.email">
              {{ title.provider }}
            </option>
            <option value="store_detail.email">
              {{ title.store }}
            </option>
            <option value="wallet_description">
              {{ title.comment }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="lable_center">
          <label>{{ title.user }}</label>
        </div>
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="user_type"
            [(ngModel)]="user_type"
            name="user_type"
            tabindex="4"
          >
            <option value="0">{{ title.all }}</option>
            <option value="{{ helper.ADMIN_DATA_ID.USER }}">
              {{ title.user }}
            </option>
            <option value="{{ helper.ADMIN_DATA_ID.PROVIDER }}">
              {{ title.provider }}
            </option>
            <option value="{{ helper.ADMIN_DATA_ID.STORE }}">
              {{ title.store }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="lable_center">
          <label>{{ title.comment }}</label>
        </div>
        <div class="form-group" id="sort_orders">
          <select
            chosen
            class="chosen-select"
            id="wallet_comment_id"
            [(ngModel)]="wallet_comment_id"
            name="wallet_comment_id"
            tabindex="4"
          >
            <option value="0">{{ title.all }}</option>
            <option value="{{ helper.WALLET_COMMENT_ID.SET_BY_ADMIN }}">
              {{ title.SET_BY_ADMIN }}
            </option>
            <option value="{{ helper.WALLET_COMMENT_ID.ADDED_BY_CARD }}">
              {{ title.ADDED_BY_CARD }}
            </option>
            <option value="{{ helper.WALLET_COMMENT_ID.ADDED_BY_REFERRAL }}">
              {{ title.ADDED_BY_REFERRAL }}
            </option>
            <option value="{{ helper.WALLET_COMMENT_ID.ORDER_CHARGED }}">
              {{ title.ORDER_CHARGED }}
            </option>
            <option value="{{ helper.WALLET_COMMENT_ID.ORDER_REFUND }}">
              {{ title.ORDER_REFUND }}
            </option>
            <option value="{{ helper.WALLET_COMMENT_ID.SET_ORDER_PROFIT }}">
              {{ title.SET_ORDER_PROFIT }}
            </option>
            <option
              value="{{ helper.WALLET_COMMENT_ID.ORDER_CANCELLATION_CHARGE }}"
            >
              {{ title.ORDER_CANCELLATION_CHARGE }}
            </option>
            <option
              value="{{ helper.WALLET_COMMENT_ID.SET_BY_WALLET_REQUEST }}"
            >
              {{ title.SET_BY_WALLET_REQUEST }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-12">
      <div class="lable_center">
        <label>{{ title.date_filter }}</label>
      </div>
      <div class="col-md-12 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <my-date-picker
              id="start_date"
              [options]="helper.myStartDatePickerOptions"
              placeholder="Start Date"
              [(ngModel)]="start_date"
              (dateChanged)="helper.onStartDateChanged($event)"
              readonly
            ></my-date-picker>
            <span class="input-group-addon date_filter_icon">To</span>

            <my-date-picker
              id="end_date"
              [options]="helper.myEndDatePickerOptions"
              placeholder="End Date"
              [(ngModel)]="end_date"
              (dateChanged)="helper.onEndDateChanged($event)"
              readonly
            ></my-date-picker>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <!--            <div class="col-md-6 col-sm-6 filter_btn_div">
                <input type="button" (click)="wallet_history_export_excel()" class="btn export_excel_btn pull-right" value="{{button.export_excel}}" >
            </div>-->
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="wallet_history_export_csv()"
          class="btn export_excel_btn pull-right"
          value="{{ button.export_excel }}"
        />
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="wallet_history(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content content_top_bar_view1 animated fadeInRight">
  <div class="ibox" *ngIf="wallet_list.length == 0">
    <div class="ibox-content">
      <div class="lable_center">
        <label>No Records</label>
      </div>
    </div>
  </div>
  <div class="ibox" *ngIf="wallet_list.length > 0">
    <div class="ibox-content">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ title.id }}</th>
              <th>{{ title.type }}</th>
              <th>{{ title.email }}</th>
              <th>{{ title.date }}</th>
              <th>{{ title.country }}</th>
              <th>{{ title.currency }}</th>
              <th>{{ title.wallet_amount }}</th>
              <th>{{ title.add_cut }}</th>
              <th>{{ title.wallet }}</th>
              <th>{{ title.from_where }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let wallet of wallet_list">
              <td>{{ wallet.unique_id }}</td>
              <td [ngSwitch]="wallet.user_type">
                <div *ngSwitchCase="7">{{ title.user }}</div>
                <div *ngSwitchCase="8">{{ title.provider }}</div>
                <div *ngSwitchCase="2">{{ title.store }}</div>
              </td>
              <td [ngSwitch]="wallet.user_type">
                <div *ngSwitchCase="7">
                  <span *ngIf="wallet.user_detail[0]">{{
                    wallet.user_detail[0].email
                  }}</span>
                </div>
                <div *ngSwitchCase="8">
                  <span *ngIf="wallet.provider_detail[0]">{{
                    wallet.provider_detail[0].email
                  }}</span>
                </div>
                <div *ngSwitchCase="2">
                  <span *ngIf="wallet.store_detail[0]">{{
                    wallet.store_detail[0].email
                  }}</span>
                </div>
              </td>
              <td>{{ wallet.created_at | date: DATE_FORMAT.DD_MMM_YYYY }}</td>
              <td>{{ wallet.country_details.country_name }}</td>

              <td [ngSwitch]="wallet.user_type">
                <div *ngSwitchCase="7">
                  <span *ngIf="wallet.user_detail[0]">{{
                    wallet.user_detail[0].wallet_currency_code
                  }}</span>
                </div>
                <div *ngSwitchCase="8">
                  <span *ngIf="wallet.provider_detail[0]">{{
                    wallet.provider_detail[0].wallet_currency_code
                  }}</span>
                </div>
                <div *ngSwitchCase="2">
                  <span *ngIf="wallet.store_detail[0]">{{
                    wallet.store_detail[0].wallet_currency_code
                  }}</span>
                </div>
              </td>

              <td>{{ wallet.wallet_amount.toFixed(2) }}</td>
              <td>
                <span *ngIf="wallet.wallet_status == 1" style="color: green">{{
                  wallet.added_wallet.toFixed(2)
                }}</span>
                <span *ngIf="wallet.wallet_status == 2" style="color: red">{{
                  wallet.added_wallet.toFixed(2)
                }}</span>
              </td>
              <td>{{ wallet.total_wallet_amount.toFixed(2) }}</td>
              <td>{{ wallet.wallet_description }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12">
    <div class="lable_center">
      <ul class="pagination">
        <li *ngIf="page !== 1">
          <a class="btn" (click)="wallet_history(page - 1)">{{ button.pre }}</a>
        </li>
        <li *ngFor="let index of total_pages" [class.active]="page == index">
          <a
            *ngIf="
              index == 1 ||
              index == total_page ||
              index == page ||
              index == page - 1 ||
              index == page + 1
            "
            (click)="wallet_history(index)"
            class="btn"
            >{{ index }}</a
          >
          <a
            *ngIf="
              (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
              (index == total_page - 1 &&
                page !== total_page &&
                page !== total_page - 1 &&
                page !== total_page - 2)
            "
            class="btn"
            >...</a
          >
        </li>
        <li *ngIf="page !== total_page && wallet_list.length !== 0">
          <a class="btn" (click)="wallet_history(page + 1)">{{
            button.next
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
