<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="order_details.product_name">
              {{ title.filter_product }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              #store_open_time="ngModel"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.sort }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="sort_field"
            [(ngModel)]="sort_field"
            name="sort_field"
            tabindex="4"
          >
            <option value="unique_id">{{ title.filter_id }}</option>
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="order_details.product_name">
              {{ title.filter_product }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_orders">
          <select
            chosen
            class="chosen-select"
            id="sort_order"
            [(ngModel)]="sort_order"
            name="sort_order"
            tabindex="4"
          >
            <option value="1">{{ title.ascending }}</option>
            <option value="-1">{{ title.descending }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          class="btn export_excel_btn pull-right"
          value="{{ button.export_excel }}"
        />
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="filter(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
    </div>
  </div>
</div>
<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-title">
      <h5>{{ heading_title.order_list }}</h5>
    </div>
    <div class="ibox-content" style="padding-bottom: 40px">
      <div class="table-responsive table_height" style="padding-bottom: 100px">
        <table class="table">
          <thead>
            <tr>
              <th>{{ title.id }}</th>
              <th>{{ title.user }}</th>
              <th>{{ title.store }}</th>
              <th>{{ title.product }}</th>
              <th>{{ title.payment_by }}</th>
              <th>{{ title.total }}</th>
              <th>{{ title.status }}</th>
              <th>{{ title.action }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of order_list; let last = last">
              <td>{{ order.unique_id }}</td>
              <td>
                {{ order.user_detail.first_name }}
                {{ order.user_detail.last_name }}
              </td>
              <td>{{ order.store_detail.name }}</td>
              <td>
                <div *ngFor="let product of order.order_details">
                  {{ product.product_name }}
                </div>
              </td>
              <!--<td [ngSwitch]="order.is_payment_mode_cash">-->
              <!--<div *ngSwitchCase="true"><span class="label label-primary">Cash</span></div>-->
              <!--<div *ngSwitchCase="false"><span class="label label-danger">Card</span></div>-->
              <!--</td>-->
              <td [ngSwitch]="order.order_payment_detail.is_payment_mode_cash">
                <div *ngSwitchCase="true">
                  <span class="label label-primary">{{ title.cash }}</span>
                </div>
                <div *ngSwitchCase="false">
                  <span class="label label-danger"
                    >{{ order.payment_gateway_detail[0].name }}
                  </span>
                </div>
              </td>
              <td>{{ order.order_payment_detail.total.toFixed(2) }}</td>
              <td [ngSwitch]="order.order_status">
                <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE">
                  <span class="label label-info">{{
                    status.waiting_for_accept
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED">
                  <span class="label label-primary">{{ status.accepted }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_PREPARING_ORDER">
                  <span class="label label-primary">{{
                    status.start_preparing_order
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.OREDER_READY">
                  <span class="label label-primary">{{
                    status.order_ready
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_DELIVERY_MAN">
                  <span class="label label-info">{{
                    status.waiting_for_delivery_man
                  }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_REJECTED">
                  <span class="label label-danger">{{ status.rejected }}</span>
                </div>
                <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED">
                  <span class="label label-danger">{{ status.cancelled }}</span>
                </div>
              </td>
              <td>
                <div
                  class="dropdown"
                  [class.dropup]="last && !index == 0"
                  dropdown
                >
                  <button class="btn btn-primary" dropdown-open>
                    Action <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button
                        type="button"
                        (click)="vieworder_detail(order._id)"
                        class="btn btn-default"
                        style="width: 100%; margin-bottom: 0px"
                      >
                        {{ button.view_order_detail }}
                      </button>
                    </li>
                    <li>
                      <button
                        type="button"
                        (click)="viewcart_detail(order._id)"
                        class="btn btn-default"
                        style="width: 100%; margin-bottom: 0px"
                      >
                        {{ button.view_cart_detail }}
                      </button>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="lable_center">
          <ul class="pagination">
            <li *ngIf="page !== 1">
              <a class="btn" (click)="filter(page - 1)">{{ button.pre }}</a>
            </li>
            <li
              *ngFor="let index of total_pages"
              [class.active]="page == index"
            >
              <a
                *ngIf="
                  index == 1 ||
                  index == total_page ||
                  index == page ||
                  index == page - 1 ||
                  index == page + 1
                "
                (click)="filter(index)"
                class="btn"
                >{{ index }}</a
              >
              <a
                *ngIf="
                  (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                  (index == total_page - 1 &&
                    page !== total_page &&
                    page !== total_page - 1 &&
                    page !== total_page - 2)
                "
                class="btn"
                >...</a
              >
            </li>
            <li *ngIf="page !== total_page && order_list.length !== 0">
              <a class="btn" (click)="filter(page + 1)">{{ button.next }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
