<style>
  #clock-picker {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
</style>

<div class="wrapper wrapper-content animated fadeInRight content_top_bar">
  <div class="row">
    <form
      #promocodeForm="ngForm"
      (ngSubmit)="AddPromocode(promocodeForm.value)"
    >
      <input
        type="hidden"
        class="form-control"
        [(ngModel)]="promo_id"
        name="promo_id"
      />
      <input
        type="hidden"
        class="form-control"
        [(ngModel)]="add_promo_code.store_id"
        #store_id="ngModel"
        name="store_id"
      />

      <div class="col-md-4">
        <div class="col-md-12 no_padding">
          <div class="ibox">
            <div class="ibox-content" style="height: 480px">
              <div class="row">
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{
                    title.country
                  }}</label>
                  <div class="col-lg-8 form-group add">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="country"
                      [(ngModel)]="add_promo_code.country_id"
                      #country_id="ngModel"
                      name="country_id"
                      data-placeholder="Select Country"
                      tabindex="4"
                    >
                      <option
                        *ngFor="let i of country_list"
                        value="{{ i._id }}"
                      >
                        {{ i.country_name }}
                      </option>
                    </select>
                    <div *ngIf="country_id.errors">
                      <div
                        style="color: red"
                        [hidden]="!country_id.errors.required"
                      >
                        {{ validation_message.select_country_required }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="type == 'edit'" class="col-lg-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="add_promo_code.country_name"
                      #country_name="ngModel"
                      name="country_name"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{ title.city }}</label>
                  <div class="col-lg-8 form-group add">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="city"
                      [(ngModel)]="add_promo_code.city_id"
                      #city_id="ngModel"
                      name="city_id"
                      data-placeholder="Select City"
                      tabindex="4"
                    >
                      <option selected style="display: none">
                        {{ title.select }}
                      </option>
                      <option value="000000000000000000000000">
                        {{ title.all }}
                      </option>
                      <option *ngFor="let i of city_list" value="{{ i._id }}">
                        {{ i.city_name }}
                      </option>
                    </select>
                  </div>
                  <div *ngIf="type == 'edit'" class="col-lg-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="add_promo_code.city_name"
                      #city_name="ngModel"
                      name="city_name"
                      readonly
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{ title.name }}</label>
                  <div class="col-lg-8 form-group add">
                    <input
                      type="text"
                      class="form-control"
                      style="text-transform: uppercase"
                      [(ngModel)]="add_promo_code.promo_code_name"
                      #promo_code_name="ngModel"
                      (keyup)="check_promo_code(promo_code_name.value)"
                      name="promo_code_name"
                      required
                    />
                    <label class="col-lg-12 control-label" style="color: red">{{
                      promo_exist
                    }}</label>
                    <div
                      *ngIf="
                        promo_code_name.errors &&
                        (promo_code_name.dirty || promo_code_name.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="!promo_code_name.errors.required"
                      >
                        {{ validation_message.promo_code_name_required }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="type == 'edit'" class="col-lg-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="add_promo_code.promo_code_name"
                      #promo_code_name="ngModel"
                      name="promo_code_name"
                      readonly
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{
                    title.details
                  }}</label>
                  <div class="col-lg-8 form-group">
                    <textarea
                      class="form-control"
                      [(ngModel)]="add_promo_code.promo_details"
                      #promo_details="ngModel"
                      name="promo_details"
                      required
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{ title.type }}</label>
                  <div class="col-lg-8 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="promo_code_type"
                      [(ngModel)]="add_promo_code.promo_code_type"
                      #promo_code_type="ngModel"
                      name="promo_code_type"
                    >
                      <option value="2">{{ title.absolute }}</option>
                      <option value="1">{{ title.percentage }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{
                    title.value
                  }}</label>
                  <div class="col-lg-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="add_promo_code.promo_code_value"
                      #promo_code_value="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_code_value"
                      required
                    />
                    <div
                      *ngIf="
                        promo_code_value.errors &&
                        (promo_code_value.dirty || promo_code_value.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="!promo_code_value.errors.required"
                      >
                        {{ validation_message.promo_code_value_required }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-4 control-label">{{
                    title.promo_for
                  }}</label>
                  <div class="col-lg-8 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="promo_for"
                      [disabled]="this.promo_id !== ''"
                      [(ngModel)]="add_promo_code.promo_for"
                      #promo_for="ngModel"
                      name="promo_for"
                    >
                      <option
                        *ngFor="let i of helper.ADMIN_PROMO_FOR"
                        value="{{ i.ID }}"
                      >
                        {{ i.NAME }}
                      </option>
                    </select>
                    <!--<input type="text" class="form-control edit" [(ngModel)]="add_promo_code.promo_for" #promo_for="ngModel"  name="promo_for" readonly />-->
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-md-4 control-label">{{
                    title.admin_loyalty_type
                  }}</label>
                  <div class="col-md-8 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="admin_loyalty_type"
                      [(ngModel)]="add_promo_code.admin_loyalty_type"
                      #admin_loyalty_type="ngModel"
                      name="admin_loyalty_type"
                    >
                      <option value="1">{{ title.percentage }}</option>
                      <option value="2">{{ title.absolute }}</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-md-4 control-label">{{
                    title.admin_loyalty
                  }}</label>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="add_promo_code.admin_loyalty"
                      #admin_loyalty="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="admin_loyalty"
                      required
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12 no_padding">
          <div class="ibox">
            <div class="ibox-content" style="height: 480px">
              <div class="row">
                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.approved
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="add_promo_code.is_approved"
                      #is_approved="ngModel"
                      name="is_approved"
                    ></ui-switch>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.active
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="add_promo_code.is_active"
                      #is_active="ngModel"
                      name="is_active"
                    ></ui-switch>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.is_promo_apply_on_completed_order
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="
                        add_promo_code.is_promo_apply_on_completed_order
                      "
                      #is_promo_apply_on_completed_order="ngModel"
                      name="is_promo_apply_on_completed_order"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="
                        !add_promo_code.is_promo_apply_on_completed_order
                      "
                      class="form-control"
                      [(ngModel)]="
                        add_promo_code.promo_apply_after_completed_order
                      "
                      #promo_apply_after_completed_order="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_apply_after_completed_order"
                      required
                    />
                    <div
                      *ngIf="
                        promo_apply_after_completed_order.errors &&
                        (promo_apply_after_completed_order.dirty ||
                          promo_apply_after_completed_order.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="
                          !promo_apply_after_completed_order.errors.required
                        "
                      >
                        {{ validation_message.promo_code_uses_required }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.is_promo_required_uses
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="add_promo_code.is_promo_required_uses"
                      #is_promo_required_uses="ngModel"
                      name="is_promo_required_uses"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="!add_promo_code.is_promo_required_uses"
                      class="form-control"
                      [(ngModel)]="add_promo_code.promo_code_uses"
                      #promo_code_uses="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_code_uses"
                      required
                    />
                    <div
                      *ngIf="
                        promo_code_uses.errors &&
                        (promo_code_uses.dirty || promo_code_uses.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="!promo_code_uses.errors.required"
                      >
                        {{ validation_message.promo_code_uses_required }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.is_promo_user_required_uses
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="add_promo_code.is_promo_user_required_uses"
                      #is_promo_user_required_uses="ngModel"
                      name="is_promo_user_required_uses"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="!add_promo_code.is_promo_user_required_uses"
                      class="form-control"
                      [(ngModel)]="add_promo_code.promo_user_code_uses"
                      #promo_user_code_uses="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_user_code_uses"
                      required
                    />
                    <div
                      *ngIf="
                        promo_user_code_uses.errors &&
                        (promo_user_code_uses.dirty ||
                          promo_user_code_uses.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="!promo_user_code_uses.errors.required"
                      >
                        {{ validation_message.promo_code_uses_required }}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.is_promo_have_minimum_amount_limit
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="
                        add_promo_code.is_promo_have_minimum_amount_limit
                      "
                      #is_promo_have_minimum_amount_limit="ngModel"
                      name="is_promo_have_minimum_amount_limit"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="
                        !add_promo_code.is_promo_have_minimum_amount_limit
                      "
                      class="form-control"
                      [(ngModel)]="
                        add_promo_code.promo_code_apply_on_minimum_amount
                      "
                      #promo_code_apply_on_minimum_amount="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_code_apply_on_minimum_amount"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.is_promo_have_max_discount_limit
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="
                        add_promo_code.is_promo_have_max_discount_limit
                      "
                      #is_promo_have_max_discount_limit="ngModel"
                      name="is_promo_have_max_discount_limit"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="
                        !add_promo_code.is_promo_have_max_discount_limit
                      "
                      class="form-control"
                      [(ngModel)]="
                        add_promo_code.promo_code_max_discount_amount
                      "
                      #promo_code_max_discount_amount="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_code_max_discount_amount"
                      required
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{
                    title.min_item_limit
                  }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      [(ngModel)]="
                        add_promo_code.is_promo_have_item_count_limit
                      "
                      #is_promo_have_item_count_limit="ngModel"
                      name="is_promo_have_item_count_limit"
                    ></ui-switch>
                  </div>
                  <div class="col-lg-4 form-group">
                    <input
                      type="text"
                      [disabled]="
                        !add_promo_code.is_promo_have_item_count_limit
                      "
                      class="form-control"
                      [(ngModel)]="
                        add_promo_code.promo_code_apply_on_minimum_item_count
                      "
                      #promo_code_apply_on_minimum_item_count="ngModel"
                      (keypress)="helper.number_validation($event)"
                      name="promo_code_apply_on_minimum_item_count"
                      required
                    />
                    <div
                      *ngIf="
                        promo_code_apply_on_minimum_item_count.errors &&
                        (promo_code_apply_on_minimum_item_count.dirty ||
                          promo_code_apply_on_minimum_item_count.touched)
                      "
                    >
                      <div
                        style="color: red"
                        [hidden]="
                          !promo_code_apply_on_minimum_item_count.errors
                            .required
                        "
                      >
                        {{ validation_message.promo_code_uses_required }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12 no_padding">
          <div class="ibox">
            <div class="ibox-content" style="height: 480px">
              <div class="row">
                <div class="col-md-12">
                  <label class="col-lg-6 control-label">{{ title.date }}</label>
                  <div class="col-lg-2 form-group">
                    <ui-switch
                      class="pull-right"
                      (change)="change_switch()"
                      [(ngModel)]="add_promo_code.is_promo_have_date"
                      #is_promo_have_date="ngModel"
                      name="is_promo_have_date"
                    ></ui-switch>
                  </div>
                </div>

                <div
                  class="col-md-12"
                  [hidden]="!add_promo_code.is_promo_have_date"
                >
                  <label class="col-lg-6 control-label">{{
                    title.start_date
                  }}</label>
                  <div class="col-lg-6 form-group">
                    <my-date-picker
                      [options]="helper.promocodeStartDatePickerOptions"
                      placeholder="{{ title.start_date }}"
                      [(ngModel)]="add_promo_code.promo_start_date"
                      #promo_start_date="ngModel"
                      (dateChanged)="helper.promocodeOnStartDateChanged($event)"
                      name="promo_start_date"
                      required
                    ></my-date-picker>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  [hidden]="!add_promo_code.is_promo_have_date"
                >
                  <label class="col-lg-6 control-label">{{
                    title.expiry_date
                  }}</label>
                  <div class="col-lg-6 form-group">
                    <my-date-picker
                      id="expiry_date"
                      [options]="helper.promocodeEndDatePickerOptions"
                      placeholder="{{ title.end_date }}"
                      [(ngModel)]="add_promo_code.promo_expire_date"
                      #promo_expire_date="ngModel"
                      (dateChanged)="helper.promocodeOnEndDateChanged($event)"
                      name="promo_expire_date"
                      required
                    ></my-date-picker>
                  </div>
                </div>

                <div
                  class="col-md-12"
                  [hidden]="!add_promo_code.is_promo_have_date"
                >
                  <label class="col-lg-6 control-label">{{
                    title.promo_recursion_type
                  }}</label>
                  <div class="col-lg-6 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="promo_recursion_type"
                      [(ngModel)]="add_promo_code.promo_recursion_type"
                      #promo_recursion_type="ngModel"
                      name="promo_recursion_type"
                      required
                    >
                      <option
                        *ngFor="let i of helper.PROMO_RECURSION"
                        value="{{ i.ID }}"
                      >
                        {{ i.NAME }}
                      </option>
                    </select>
                  </div>
                </div>

                <div
                  class="col-md-12"
                  [hidden]="add_promo_code.promo_recursion_type == 0"
                >
                  <label class="col-lg-6 control-label">{{
                    title.start_time
                  }}</label>
                  <div
                    class="
                      col-lg-6 col-xs-6
                      form-group
                      input-group
                      clock-picker
                    "
                    id="clock-picker"
                    data-autoclose="true"
                  >
                    <input
                      type="text"
                      class="form-control"
                      id="promo_start_time"
                      [(ngModel)]="add_promo_code.promo_start_time"
                      #promo_start_time="ngModel"
                      name="promo_start_time"
                      readonly
                      required
                    />
                    <span class="input-group-addon">
                      <span class="fa fa-clock-o"></span>
                    </span>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  [hidden]="add_promo_code.promo_recursion_type < 1"
                >
                  <label class="col-lg-6 control-label">{{
                    title.end_time
                  }}</label>
                  <div
                    class="
                      col-lg-6 col-xs-6
                      form-group
                      input-group
                      clock-picker
                    "
                    id="clock-picker"
                    data-autoclose="true"
                  >
                    <input
                      type="text"
                      class="form-control"
                      id="promo_end_time"
                      [(ngModel)]="add_promo_code.promo_end_time"
                      #promo_end_time="ngModel"
                      name="promo_end_time"
                      readonly
                      required
                    />
                    <span class="input-group-addon">
                      <span class="fa fa-clock-o"></span>
                    </span>
                  </div>
                </div>

                <div
                  class="col-md-12"
                  *ngIf="
                    add_promo_code.is_promo_have_date &&
                    add_promo_code.promo_recursion_type >= 4
                  "
                  [hidden]="
                    !add_promo_code.is_promo_have_date ||
                    add_promo_code.promo_recursion_type < 4
                  "
                >
                  <label class="col-lg-6 control-label">{{
                    title.months
                  }}</label>
                  <div class="col-lg-6 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="months"
                      [(ngModel)]="add_promo_code.months"
                      #months="ngModel"
                      multiple
                      name="months"
                      required
                    >
                      <option *ngFor="let i of helper.MONTH" value="{{ i }}">
                        {{ i }}
                      </option>
                    </select>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  *ngIf="
                    add_promo_code.is_promo_have_date &&
                    add_promo_code.promo_recursion_type >= 3
                  "
                >
                  <label class="col-lg-6 control-label">{{
                    title.weeks
                  }}</label>
                  <div class="col-lg-6 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="weeks"
                      [(ngModel)]="add_promo_code.weeks"
                      #weeks="ngModel"
                      multiple
                      name="weeks"
                      required
                    >
                      <option *ngFor="let i of helper.WEEK" value="{{ i }}">
                        {{ i }}
                      </option>
                    </select>
                  </div>
                </div>
                <div
                  class="col-md-12"
                  *ngIf="
                    add_promo_code.is_promo_have_date &&
                    add_promo_code.promo_recursion_type >= 2
                  "
                >
                  <label class="col-lg-6 control-label">{{ title.days }}</label>
                  <div class="col-lg-6 form-group">
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="days"
                      [(ngModel)]="add_promo_code.days"
                      #days="ngModel"
                      multiple
                      name="days"
                      required
                    >
                      <option *ngFor="let i of helper.DAY" value="{{ i }}">
                        {{ i }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12">
                <div
                  class="form-group"
                  *ngIf="
                    add_promo_code.promo_for ==
                    helper.ADMIN_PROMO_FOR_ID.DELIVERIES
                  "
                >
                  <div
                    class="col-md-3"
                    style="margin-bottom: 5px"
                    *ngFor="let i of delivery_list"
                  >
                    <label
                      ><input
                        class="icheck"
                        id="icheck{{ i._id }}"
                        type="checkbox"
                        value="{{ i._id }}"
                      /><span style="margin-left: 10px">{{
                        i.delivery_name
                      }}</span></label
                    >
                  </div>
                </div>
                <div
                  class="form-group"
                  *ngIf="
                    add_promo_code.promo_for == helper.ADMIN_PROMO_FOR_ID.STORE
                  "
                >
                  <div
                    class="col-md-3"
                    style="margin-bottom: 5px"
                    *ngFor="let i of store_list"
                  >
                    <label
                      ><input
                        class="icheck_store"
                        id="icheck{{ i._id }}"
                        type="checkbox"
                        value="{{ i._id }}"
                      /><span style="margin-left: 10px">{{
                        i.email
                      }}</span></label
                    >
                  </div>
                </div>
                <div
                  class="form-group"
                  *ngIf="
                    add_promo_code.promo_for ==
                    helper.ADMIN_PROMO_FOR_ID.PRODUCT
                  "
                >
                  <div *ngFor="let a of product_list">
                    <div
                      class="col-md-3"
                      style="margin-bottom: 5px"
                      *ngFor="let i of a.product_detail"
                    >
                      <label
                        ><input
                          class="icheckproduct"
                          id="icheck{{ i._id }}"
                          type="checkbox"
                          value="{{ i._id }}"
                        /><span style="margin-left: 10px">{{
                          i.name
                        }}</span></label
                      >
                    </div>
                  </div>
                </div>
                <div
                  class="form-group"
                  *ngIf="
                    add_promo_code.promo_for == helper.ADMIN_PROMO_FOR_ID.ITEM
                  "
                >
                  <div *ngFor="let product of item_list">
                    <div
                      class="col-md-3"
                      style="margin-bottom: 5px"
                      *ngFor="let i of product.item_detail"
                    >
                      <label
                        ><input
                          class="icheckitem"
                          id="icheck{{ i._id }}"
                          type="checkbox"
                          value="{{ i._id }}"
                        /><span style="margin-left: 10px">{{
                          i.name
                        }}</span></label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="ibox">
          <div class="ibox-content wizard">
            <div class="row">
              <div class="col-lg-4"></div>
              <div
                *ngIf="promo_id == ''"
                class="col-lg-4"
                style="text-align: center"
              >
                <input
                  type="submit"
                  id="submit"
                  name="submit"
                  style="width: 60%"
                  class="btn btn-primary"
                  value="{{ button.submit }}"
                />
              </div>
              <div
                *ngIf="promo_id !== ''"
                class="col-lg-4"
                style="text-align: center"
              >
                <input
                  type="submit"
                  id="update"
                  name="update"
                  style="width: 60%"
                  class="btn btn-primary"
                  value="{{ button.update }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
