<div class="wrapper wrapper-content animated fadeInRight content_top_bar">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="wizard">
          <div class="steps clearfix">
            <ul style="display: table; padding: 0px">
              <li
                style="margin: 0px !important; border: 0px; width: 100px"
                [ngClass]="{ current: activeRoute('setting/basic_setting') }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/basic_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.admin }}</span
                  ></a
                >
              </li>
              <li
                style="margin: 0px !important; border: 0px; width: 100px"
                [ngClass]="{
                  current: activeRoute('setting/installation_setting')
                }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/installation_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.logo }}</span
                  ></a
                >
              </li>

              <li
                style="margin: 0px !important; border: 0px; width: 150px"
                [ngClass]="{ current: activeRoute('setting/image_setting') }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/image_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.image_setting }}</span
                  ></a
                >
              </li>
              <!--                            <li style="margin: 0px !important;border: 0px; width: 100px !important;" [ngClass]="{current: activeRoute('setting/app_setting')}">
                                <a style="border-bottom-right-radius: 0px; text-align:center; border-bottom-left-radius: 0px;border: 0px;" [routerLink]="['/setting/app_setting']" class="btn-default"><span style="font-weight: bold;display:block;" class="nav-label">{{setting_tab_title.app_settings }}</span></a>
                            </li>-->
              <li
                style="margin: 0px !important; border: 0px; width: 100px"
                [ngClass]="{ current: activeRoute('setting/other_setting') }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/other_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ title.app_settings }}</span
                  ></a
                >
              </li>
              <li
                style="margin: 0px !important; border: 0px; width: 150px"
                [ngClass]="{
                  current: activeRoute('setting/google_key_setting')
                }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/google_key_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.google_key_settings }}</span
                  ></a
                >
              </li>
              <li
                style="margin: 0px !important; border: 0px; width: 200px"
                [ngClass]="{
                  current: activeRoute('setting/app_update_setting')
                }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/app_update_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.app_update_settings }}</span
                  ></a
                >
              </li>
              <li
                style="margin: 0px !important; border: 0px; width: 200px"
                [ngClass]="{
                  current: activeRoute('setting/ios_push_notification_setting')
                }"
              >
                <a
                  style="
                    border-bottom-right-radius: 0px;
                    text-align: center;
                    border-bottom-left-radius: 0px;
                    border: 0px;
                  "
                  [routerLink]="['/setting/ios_push_notification_setting']"
                  class="btn-default"
                  ><span
                    style="font-weight: bold; display: block"
                    class="nav-label"
                    >{{ setting_tab_title.ios_push_notification }}</span
                  ></a
                >
              </li>
            </ul>
          </div>

          <div class="ibox-content" style="margin-top: -1px">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
