<footer [myLoading]="myLoading"></footer>

<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div>
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="first_name">{{ title.name }}</option>
            <option value="email">{{ title.email }}</option>
            <option value="phone">{{ title.phone }}</option>
            <option value="unique_id">{{ title.unique_id }}</option>
            <option value="country_details.country_name">
              {{ title.country }}
            </option>
            <option value="city">{{ title.city }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span (click)="filter(1)" class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6">
        <div>
          <label>{{ title.no_of_record }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="number_of_rec"
            [(ngModel)]="number_of_rec"
            name="number_of_rec"
            tabindex="4"
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <button
          type="button"
          (click)="user_export_csv(user_page_type)"
          class="btn export_excel_btn"
        >
          <span class="fa fa-file-excel-o"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content content_top_bar_view1 animated fadeInRight">
  <div class="row">
    <div class="col-md-8">
      <div class="ibox">
        <div class="ibox-content" style="padding-bottom: 40px">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <ul class="nav nav-tabs">
                <li
                  (click)="change_page_type(1)"
                  [class.active]="user_page_type == 1"
                  class="dsads uib-tab ng-scope ng-isolate-scope"
                  active="tab.active"
                >
                  <a class="ng-binding tab_selection">{{
                    helper.sub_menu_title.user
                  }}</a>
                </li>
                <li
                  (click)="change_page_type(2)"
                  [class.active]="user_page_type == 2"
                  class="uib-tab ng-scope ng-isolate-scope active"
                >
                  <a class="ng-binding tab_selection">{{
                    helper.sub_menu_title.block_user
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="lable_center" *ngIf="user_list.length == 0">
            <label>No Records</label>
          </div>
          <div
            [hidden]="user_list.length == 0"
            class="table-responsive scrollbar"
            style="height: calc(100vh - 285px); overflow: auto"
          >
            <table class="table">
              <thead>
                <tr>
                  <th>{{ title.id }}</th>
                  <th>{{ title.name }}</th>
                  <th>{{ title.email }}</th>
                  <th>{{ title.phone }}</th>
                  <th>{{ title.country }}</th>
                  <th>{{ title.city }}</th>
                  <th>{{ title.wallet }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let user of user_list"
                  [class.selected_tr]="user._id == user_detail._id"
                  (click)="get_user_detail(user._id)"
                >
                  <td>{{ user.unique_id }}</td>
                  <td>{{ user.first_name }} {{ user.last_name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.country_phone_code }} {{ user.phone }}</td>
                  <td>{{ user.country_details.country_name }}</td>
                  <td>{{ user.city }}</td>
                  <td>{{ user.wallet }} {{ user.wallet_currency_code }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 col-sm-12" style="margin-top: 5px">
            <div class="lable_center">
              <ul class="pagination">
                <li *ngIf="page !== 1">
                  <a class="btn" (click)="filter(page - 1)">{{ button.pre }}</a>
                </li>
                <li
                  *ngFor="let index of total_pages"
                  [class.active]="page == index"
                >
                  <a
                    *ngIf="
                      index == 1 ||
                      index == total_page ||
                      index == page ||
                      index == page - 1 ||
                      index == page + 1
                    "
                    (click)="filter(index)"
                    class="btn"
                    >{{ index }}</a
                  >
                  <a
                    *ngIf="
                      (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                      (index == total_page - 1 &&
                        page !== total_page &&
                        page !== total_page - 1 &&
                        page !== total_page - 2)
                    "
                    class="btn"
                    >...</a
                  >
                </li>
                <li *ngIf="page !== total_page && user_list.length !== 0">
                  <a class="btn" (click)="filter(page + 1)">{{
                    button.next
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="user_detail.phone">
      <div class="ibox">
        <div
          class="ibox-content user_fix_div scrollbar"
          style="height: calc(100vh - 200px); overflow: auto"
        >
          <div class="tab-content">
            <div
              id="contact-1"
              class="tab-pane active"
              ng-show="client == 1"
              ng-init="client = 1"
            >
              <div class="row m-b-lg">
                <span
                  *ngIf="is_edit && selected_tab == 1"
                  class="fa fa-check pull-right"
                  (click)="update_user_detail()"
                ></span>
                <div class="row no_margin">
                  <div class="col-sm-3" *ngIf="is_edit">
                    <div class="text-center">
                      <span class="btn-file"
                        ><img
                          style="width: 80px; height: 80px"
                          class="img-circle m-t-xs"
                          src="{{
                            user_detail.image_url != ''
                              ? helper.CONSTANT.IMAGE_BASE_URL +
                                user_detail.image_url
                              : 'default.png'
                          }}"
                          alt=""
                        />
                        <input
                          type="file"
                          (change)="change_image($event)"
                          accept="image/*"
                          name="image_url"
                        />
                      </span>
                    </div>
                  </div>
                  <div class="col-sm-12" *ngIf="!is_edit">
                    <span
                      *ngIf="!is_edit && selected_tab == 1"
                      (click)="is_edit = true"
                      class="fa fa-pencil pull-right"
                    ></span>
                    <div class="text-center">
                      <img
                        *ngIf="!is_edit"
                        alt="image"
                        style="width: 120px; height: 120px"
                        class="img-circle m-t-xs"
                        src="{{
                          user_detail.image_url != ''
                            ? helper.CONSTANT.IMAGE_BASE_URL +
                              user_detail.image_url
                            : 'default.png'
                        }}"
                      />
                      <div style="margin-top: 10px; font-size: 18px">
                        {{ user_detail.first_name }}
                        {{ user_detail.last_name }}
                        <span
                          class="fa fa-star"
                          style="padding-left: 10px"
                        ></span>
                        <span>{{
                          (user_detail.provider_rate + user_detail.store_rate) /
                            2
                        }}</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8" *ngIf="is_edit">
                    <div class="col-lg-6 form-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="user_detail.first_name"
                        #first_name="ngModel"
                        name="first_name"
                      />
                    </div>
                    <div class="col-lg-6 form-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="user_detail.last_name"
                        #last_name="ngModel"
                        name="last_name"
                      />
                    </div>
                    <div class="col-lg-12 form-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="user_detail.email"
                        #email="ngModel"
                        name="email"
                      />
                    </div>
                    <div class="col-lg-12 form-group">
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="user_detail.phone"
                        #phone="ngModel"
                        name="phone"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="row no_margin"
                  *ngIf="!is_edit"
                  style="margin-top: 10px"
                >
                  <div class="col-md-3 col-sm-3 col-xs-3 remove_right_padding">
                    <button
                      (click)="open_modal(type, user_detail._id)"
                      type="button"
                      class="btn btn-light_black btn-sm btn-block"
                      tooltip="{{ helper.button.add_wallet }}"
                      [tooltipDisabled]="false"
                      [tooltipAnimation]="true"
                      tooltipPlacement="top"
                    >
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                  <div
                    class="col-md-3 col-sm-3 col-xs-3 remove_left_right_padding"
                  >
                    <button
                      (click)="open_sms_modal(type, user_detail._id)"
                      type="button"
                      class="btn btn-light_black btn-sm btn-block"
                      tooltip="{{ helper.button.send_sms }}"
                      [tooltipDisabled]="false"
                      [tooltipAnimation]="true"
                      tooltipPlacement="top"
                    >
                      <i class="fa fa-comments"></i>
                    </button>
                  </div>
                  <div
                    class="col-md-3 col-sm-3 col-xs-3 remove_left_right_padding"
                  >
                    <button
                      (click)="open_notification_modal(type, user_detail._id)"
                      type="button"
                      class="btn btn-light_black btn-sm btn-block"
                      tooltip="{{ helper.button.send_notification }}"
                      [tooltipDisabled]="false"
                      [tooltipAnimation]="true"
                      tooltipPlacement="top"
                    >
                      <i class="fa fa-bell"></i>
                    </button>
                  </div>
                  <div
                    class="col-md-3 col-sm-3 col-xs-3 remove_left_padding"
                    *ngIf="!user_detail.is_approved"
                  >
                    <button
                      (click)="
                        approved_decline(user_page_type, user_detail._id)
                      "
                      type="button"
                      class="btn btn-light_black btn-sm btn-block"
                      tooltip="{{ helper.button.approved }}"
                      [tooltipDisabled]="false"
                      [tooltipAnimation]="true"
                      tooltipPlacement="top"
                    >
                      <i class="fa fa-check"></i>
                    </button>
                  </div>
                  <div
                    class="col-md-3 col-sm-3 col-xs-3 remove_left_padding"
                    *ngIf="user_detail.is_approved"
                  >
                    <button
                      (click)="
                        approved_decline(user_page_type, user_detail._id)
                      "
                      type="button"
                      class="btn btn-light_black btn-sm btn-block"
                      tooltip="{{ helper.button.decline }}"
                      [tooltipDisabled]="false"
                      [tooltipAnimation]="true"
                      tooltipPlacement="top"
                    >
                      <i class="fa fa-ban"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="client-detail">
                <div class="full-height-scroll">
                  <ul class="nav nav-tabs">
                    <li
                      (click)="selected_tab = 1"
                      [class.active]="selected_tab == 1"
                      class="dsads uib-tab ng-scope ng-isolate-scope"
                      active="tab.active"
                    >
                      <a class="ng-binding tab_selection">{{
                        helper.title.details
                      }}</a>
                    </li>
                    <li
                      (click)="get_document_list()"
                      [class.active]="selected_tab == 2"
                      class="uib-tab ng-scope ng-isolate-scope active"
                    >
                      <a class="ng-binding tab_selection">{{
                        helper.button.view_document
                      }}</a>
                    </li>
                    <li
                      (click)="get_referral_history()"
                      [class.active]="selected_tab == 3"
                      class="uib-tab ng-scope ng-isolate-scope active"
                    >
                      <a class="ng-binding tab_selection">{{
                        helper.button.referral
                      }}</a>
                    </li>
                    <li
                      (click)="get_review_history()"
                      [class.active]="selected_tab == 4"
                      class="uib-tab ng-scope ng-isolate-scope active"
                    >
                      <a class="ng-binding tab_selection">{{
                        helper.button.reviews
                      }}</a>
                    </li>
                  </ul>
                  <ul class="list-group clear-list" *ngIf="selected_tab == 1">
                    <li class="list-group-item">
                      <span class="pull-right">{{
                        user_detail.device_type +
                          " - " +
                          user_detail.app_version
                      }}</span>
                      {{ title.app_version }}
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right">{{
                        user_detail.created_at
                          | date: helper.DATE_FORMAT.DD_MMM_YYYY_HH_MM_A
                      }}</span>
                      {{ title.registered_date }}
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right"
                        ><ui-switch
                          [(ngModel)]="user_detail.is_phone_number_verified"
                          #is_phone_number_verified="ngModel"
                          name="is_phone_number_verified"
                          [disabled]="!is_edit"
                          size="small"
                        ></ui-switch
                      ></span>
                      {{ title.phone_number_verified }}
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right"
                        ><ui-switch
                          [(ngModel)]="user_detail.is_email_verified"
                          #is_email_verified="ngModel"
                          name="is_email_verified"
                          [disabled]="!is_edit"
                          size="small"
                        ></ui-switch
                      ></span>
                      {{ title.email_verified }}
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right"
                        ><ui-switch
                          [(ngModel)]="user_detail.is_document_uploaded"
                          #is_document_uploaded="ngModel"
                          name="is_document_uploaded"
                          disabled
                          size="small"

                        ></ui-switch
                      ></span>
                      {{ title.document_uploaded }}
                    </li>
                    <li class="list-group-item">
                      <span class="pull-right"
                        ><ui-switch
                          [(ngModel)]="user_detail.is_use_wallet"
                          #is_use_wallet="ngModel"
                          name="is_use_wallet"
                          disabled
                          size="small"

                        ></ui-switch
                      ></span>
                      {{ title.is_use_wallet }}
                    </li>
                  </ul>
                  <div *ngIf="selected_tab == 2" style="margin-top: 20px">
                    <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <td></td>
                          <td>{{ title.name }}</td>
                          <td style="width: 25%">
                            {{ title.unique_code }}
                          </td>
                          <td style="width: 25%">
                            {{ title.expiry_date }}
                          </td>
                          <td></td>
                        </tr>
                        <tr
                          *ngFor="
                            let document of document_list;
                            let document_index = index
                          "
                        >
                          <td
                            class="client-avatar"
                            (click)="
                              show_full_image(
                                document.image_url,
                                document_index
                              )
                            "
                          >
                            <span
                              *ngIf="edit_document[document_index] == 'true'"
                              class="btn-file"
                            >
                              <img
                                style="width: 20px; height: 20px"
                                src="default.png"
                                class="document{{ document_index }}"
                              />
                              <input
                                type="file"
                                (change)="image_update($event, document_index)"
                                name="image"
                              />
                            </span>
                            <img
                              *ngIf="edit_document[document_index] !== 'true'"
                              style="width: 20px; height: 20px"
                              src="default.png"
                              class="document{{ document_index }}"
                            />
                          </td>
                          <td>{{ document.document_details.document_name }}</td>
                          <td>
                            <div
                              *ngIf="
                                document.document_details.is_unique_code &&
                                edit_document[document_index] == 'true'
                              "
                            >
                              <input
                                type="text"
                                [(ngModel)]="documentlist.unique_code"
                                #unique_code="ngModel"
                                name="unique_code"
                                style="
                                  border-radius: 5px;
                                  border-color: #060606;
                                  height: 30px;
                                "
                                class="form-control"
                                value="{{ document.unique_code }}"
                              /><br />
                            </div>
                            <span
                              *ngIf="
                                edit_document[document_index] !== 'true' &&
                                document.document_details.is_unique_code
                              "
                              >{{ document.unique_code }}</span
                            >
                          </td>
                          <td>
                            <div
                              *ngIf="
                                document.document_details.is_expired_date &&
                                edit_document[document_index] == 'true'
                              "
                            >
                              <my-date-picker
                                [(ngModel)]="documentlist.expired_date"
                                #expired_date="ngModel"
                                name="expired_date"
                                id="expiry_date"
                                value=""
                                [options]="helper.ExpiryDatePickerOptions"
                                placeholder="{{ title.exp_date }}"
                                readonly
                              ></my-date-picker>
                            </div>
                            <span
                              *ngIf="
                                edit_document[document_index] !== 'true' &&
                                document.document_details.is_expired_date
                              "
                              >{{
                                document.expired_date | date: "MM-dd-yyyy"
                              }}</span
                            >
                          </td>
                          <td>
                            <span
                              *ngIf="edit_document[document_index] !== 'true'"
                              class="fa fa-pencil pull-right"
                              (click)="editDocument(document, document_index)"
                            ></span>
                            <span
                              *ngIf="edit_document[document_index] == 'true'"
                              class="fa fa-check pull-right"
                              (click)="updateDocument(document, document_index)"
                            ></span>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div *ngIf="selected_tab == 3" style="margin-top: 20px">
                    <div class="row">
                      <div class="col-md-12">
                        <label>{{ title.referral_code }}: </label>
                        <span style="margin-left: 10px">{{
                          user_detail.referral_code
                        }}</span>
                      </div>
                    </div>
                    <div
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="user_detail.referred_user_details"
                    >
                      <div class="col-md-12">
                        <label>{{ title.referred_by }}</label>
                      </div>
                      <div class="col-md-4">
                        <img
                          style="width: 40px; height: 40px"
                          class="img-circle m-t-xs"
                          src="{{
                            user_detail.referred_user_details.image_url
                          }}"
                        />
                      </div>
                      <div class="col-md-8">
                        <div>
                          {{ title.id }}:
                          {{ user_detail.referred_user_details.unique_id }}
                        </div>
                        <div>
                          {{ title.name }}:
                          {{ user_detail.referred_user_details.first_name }}
                          {{ user_detail.referred_user_details.last_name }}
                        </div>
                      </div>
                    </div>
                    <div
                      class="row"
                      style="margin-top: 10px"
                      *ngIf="referral_history.length > 0"
                    >
                      <div class="col-md-12">
                        <label>{{ title.referred_to }}: </label>
                        <span style="margin-left: 10px"
                          >{{ referral_history.length }}
                          {{ title.people }}</span
                        >
                      </div>
                    </div>
                    <div
                      class="row col-md-12"
                      *ngIf="referral_history.length > 0"
                    >
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <td></td>
                            <td>{{ title.id }}</td>
                            <td>{{ title.name }}</td>
                          </tr>
                          <tr *ngFor="let referral of referral_history">
                            <td class="client-avatar">
                              <img
                                alt="image"
                                src="{{
                                  referral.image_url != ''
                                    ? helper.CONSTANT.IMAGE_BASE_URL +
                                      referral.image_url
                                    : 'default.png'
                                }}"
                              />
                            </td>
                            <td>{{ referral.unique_id }}</td>
                            <td>
                              {{ referral.first_name }} {{ referral.last_name }}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="selected_tab == 4" style="margin-top: 20px">
                    <div *ngFor="let review of review_list">
                      <div
                        *ngIf="
                          review.store_rating_to_user > 0 && review.store_detail
                        "
                        class="row form-group"
                      >
                        <div class="col-md-3 col-xs-3">
                          <img
                            class="img-circle"
                            src="{{
                              review.store_detail.image_url != ''
                                ? helper.CONSTANT.IMAGE_BASE_URL +
                                  review.store_detail.image_url
                                : 'default.png'
                            }}"
                            style="width: 80px; height: 80px"
                          />
                        </div>
                        <div class="col-md-8 col-xs-8">
                          <div
                            style="display: inline"
                            *ngFor="
                              let rate of Array(review.store_rating_to_user)
                            "
                          >
                            <span class="fa fa-star rating_star"></span>
                          </div>
                          <div style="font-size: 15px">
                            {{ helper.title.reviewed_by }}:
                            {{ review.store_detail.name }}
                            <span style="font-size: 12px"
                              >({{ title.id }}:
                              {{ review.order_unique_id }})</span
                            >
                          </div>
                          <div style="font-size: 15px; color: black">
                            {{ review.store_review_to_user }}
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="
                          review.provider_rating_to_user > 0 &&
                          review.provider_detail
                        "
                        class="row form-group"
                      >
                        <div class="col-md-3 col-xs-3">
                          <img
                            class="img-circle"
                            src="{{
                              review.provider_detail.image_url != ''
                                ? helper.CONSTANT.IMAGE_BASE_URL +
                                  review.provider_detail.image_url
                                : 'default.png'
                            }}"
                            style="width: 80px; height: 80px"
                          />
                        </div>
                        <div class="col-md-8 col-xs-8">
                          <div
                            style="display: inline"
                            *ngFor="
                              let rate of Array(review.provider_rating_to_user)
                            "
                          >
                            <span class="fa fa-star rating_star"></span>
                          </div>
                          <div style="font-size: 15px">
                            {{ helper.title.reviewed_by }}
                            {{ review.provider_detail.name }}
                            <span style="font-size: 12px"
                              >({{ title.id }}:
                              {{ review.order_unique_id }})</span
                            >
                          </div>
                          <div style="font-size: 15px; color: black">
                            {{ review.provider_review_to_user }}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template let-modal cssClass="modal-sm" #document_full_image>
  <div class="modal-header"> </div>
  <div class="modal-body">
    <div>
      <img
        style="width: 100%; height: 100%"
        src="default.png"
        class="document{{ selected_document_index }}"
      />
    </div>
  </div>
</ng-template>

<ng-template let-modal keyboard="false" backdrop="static" cssClass="modal-sm" #myModal>
  <form #modalForm="ngForm" (ngSubmit)="AddWallet(modalForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">
        {{ heading_title.add_wallet_amount }}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="type"
          name="type"
        />
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="user_id"
          name="user_id"
        />
        <div class="col-md-12">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label style="font-weight: normal"
                ><strong>{{ title.amount }}</strong></label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="wallet"
                (keypress)="helper.number_validation_with_minus($event)"
                maxlength="6"
                name="wallet"
                required
              />
            </div>
            <div class="form-group">
              <label style="font-weight: normal"
                ><strong>Max Wallet Usage</strong></label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="is_payment_max"
                (keypress)="helper.number_validation_with_minus($event)"
                maxlength="6"
                name="is_payment_max"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{ button.save }}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template let-modal keyboard="false" backdrop="static" cssClass="modal-xl" #mysmsModal>
  <form #modalSmsForm="ngForm" (ngSubmit)="SendSms(modalSmsForm.value)">
    <div class="modal-header">
      <h4 class="modal-title">{{ heading_title.admin_sms }}</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="type"
          name="type"
        />
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="user_id"
          name="user_id"
        />
        <div class="col-md-12">
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label style="font-weight: normal"
                ><strong>{{ title.content }}</strong></label
              >
              <textarea
                class="form-control"
                [(ngModel)]="content"
                name="content"
                required
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{ button.send }}
        </button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template let-modal
  keyboard="false"
  backdrop="static"
  cssClass="modal-xl"
  #mynotificationModal
>
  <form
    #modalNotificationForm="ngForm"
    (ngSubmit)="SendNotification(modalNotificationForm.value)"
  >
    <div class="modal-header">
      <h4 class="modal-title">
        {{ heading_title.admin_send_notification }}
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="type"
          name="type"
        />
        <input
          type="hidden"
          class="form-control"
          [(ngModel)]="user_id"
          name="user_id"
        />
        <div >
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label style="font-weight: normal"
                ><strong>Notification Title</strong></label
              >
              <input
                type="text"
                class="form-control"
                [(ngModel)]="message_heading"
                name="message_heading"
                required
              />
            </div>
          </div>
        </div>
        <div >
          <div class="col-md-12 col-sm-12">
            <div class="form-group">
              <label style="font-weight: normal"
                ><strong>{{ title.notification_content }}</strong></label
              >
              <textarea
                type="text"
                class="form-control"
                [(ngModel)]="notification_message"
                name="notification_message"
                required
              ></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="text-align: center">
        <button type="submit" class="btn btn-primary">
          {{ button.send }}
        </button>
      </div>
    </div>
  </form>
</ng-template>
