<footer [myLoading]="myLoading"></footer>

<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.date_filter }}</label>
      </div>

      <div class="col-md-12 remove_padding">
        <div class="form-group">
          <my-date-picker
            [options]="helper.myStartDatePickerOptions"
            placeholder="Date"
            [(ngModel)]="start_date"
            (dateChanged)="helper.onStartDateChanged($event)"
            readonly
          ></my-date-picker>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="user_detail.first_name">
              {{ title.filter_user }}
            </option>
            <option value="provider_detail.first_name">
              {{ title.filter_provider }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              #store_open_time="ngModel"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="export_excel()"
          class="btn export_excel_btn pull-right"
          value="{{ button.export_excel }}"
        />
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <input
          type="button"
          (click)="store_daily_earning()"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
    </div>
  </div>
</div>

<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="row">
    <div class="ibox" *ngIf="show == true">
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.total_order }}</label>
                  <h2>{{ store_analytic_daily.received }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.accepted_order }}</label>
                  <h2>{{ store_analytic_daily.accepted }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.rejected_order }}</label>
                  <h2>{{ store_analytic_daily.rejected }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.completed_order }}</label>
                  <h2>{{ store_analytic_daily.completed }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.total_item_sold }}</label>
                  <h2>{{ store_analytic_daily.total_items }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.accepted_ratio }}</label>
                  <h2 *ngIf="store_analytic_daily.acception_ratio">
                    {{ store_analytic_daily.acception_ratio.toFixed(2) }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.rejected_ratio }}</label>
                  <h2 *ngIf="store_analytic_daily.rejection_ratio">
                    {{ store_analytic_daily.rejection_ratio.toFixed(2) }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="ibox">
              <div class="ibox-title lable_center">
                <div>
                  <label>{{ heading_title.completed_ratio }}</label>
                  <h2 *ngIf="store_analytic_daily.completed_ratio">
                    {{ store_analytic_daily.completed_ratio.toFixed(2) }}
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <label class="control-label">{{ heading_title.order_earning }}</label>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.item_price }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_item_price.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.tax_price }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_store_tax_price.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.total_order_price }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_order_price.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.admin_profit }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_admin_profit_on_store.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.store_profit }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_store_income.toFixed(2) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <label class="control-label">{{
            heading_title.store_transactions
          }}</label>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.received_order_amount }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.store_have_order_payment.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.paid_service_fee }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.store_have_service_payment.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.deduct_from_wallet }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{
                      order_total.total_wallet_income_set_in_cash_order.toFixed(
                        2
                      )
                    }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.added_in_wallet }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{
                      order_total.total_wallet_income_set_in_other_order.toFixed(
                        2
                      )
                    }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <label class="control-label">{{ heading_title.payment }}</label>
        </div>
        <div class="ibox-content">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.total_earnings }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_earning.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.paid_in_wallet }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.total_wallet_income_set.toFixed(2) }}
                  </td>
                </tr>
                <tr>
                  <td class="remove_border">
                    <div>
                      <strong>{{ title.pay_to_store }}</strong>
                    </div>
                  </td>
                  <td class="pull-right remove_border">
                    {{ order_total.pay_to_store.toFixed(2) }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="ibox">
      <div class="ibox-title">
        <div>
          <label>{{ heading_title.orders }}</label>
        </div>
      </div>
      <div class="ibox-content" style="padding-bottom: 40px">
        <div class="table-responsive" style="padding-bottom: 50px">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{ title.order }}</th>
                <th>{{ title.payment_by }}</th>
                <th>{{ title.total }}</th>
                <th>{{ title.service_fees }}</th>
                <th>{{ title.order_fees }}</th>
                <th>{{ title.store_profit }}</th>
                <th>{{ title.paid_service_fee }}</th>
                <th>{{ title.recieved_order_payment }}</th>
                <th>{{ title.earning }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order_payment of order_payments">
                <td>{{ order_payment.order_unique_id }}</td>
                <td [ngSwitch]="order_payment.is_payment_mode_cash">
                  <div *ngIf="!order_payment.is_paid_from_wallet">
                    <div *ngSwitchCase="true">
                      <span class="label label-primary">{{ title.cash }}</span>
                    </div>
                    <div *ngSwitchCase="false">
                      <span class="label label-danger"
                        >{{ order_payment.payment_gateway_detail[0].name }}
                      </span>
                    </div>
                  </div>
                  <div *ngIf="order_payment.is_paid_from_wallet">
                    <span class="label label-success">
                      + {{ title.wallet }}</span
                    >
                  </div>
                </td>
                <td>{{ order_payment.total.toFixed(2) }}</td>
                <td>{{ order_payment.total_service_price.toFixed(2) }}</td>
                <td>{{ order_payment.total_order_price.toFixed(2) }}</td>
                <td>{{ order_payment.total_store_income.toFixed(2) }}</td>
                <td>
                  <span *ngIf="order_payment.is_store_pay_delivery_fees">{{
                    order_payment.total_delivery_price.toFixed(2)
                  }}</span>
                  <span *ngIf="!order_payment.is_store_pay_delivery_fees"
                    >0</span
                  >
                </td>
                <td>
                  <span
                    *ngIf="
                      !order_payment.is_order_price_paid_by_store &&
                      order_payment.is_payment_mode_cash
                    "
                    >{{ order_payment.total_order_price.toFixed(2) }}</span
                  >
                  <span
                    *ngIf="
                      order_payment.is_order_price_paid_by_store ||
                      !order_payment.is_payment_mode_cash
                    "
                    >0</span
                  >
                </td>
                <td>{{ order_payment.pay_to_store.toFixed(2) }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
