<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="promo_code_name">
              {{ title.name }}
            </option>
            <option value="country_details.country_name">
              {{ title.country }}
            </option>
            <option value="city_details.city_name">
              {{ title.city }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.sort }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="sort_field"
            [(ngModel)]="sort_field"
            name="sort_field"
            tabindex="4"
          >
            <option value="unique_id">{{ title.id }}</option>
            <option value="promo_code_name">
              {{ title.name }}
            </option>
            <option value="country_details.country_name">
              {{ title.country }}
            </option>
            <option value="city_details.city_name">
              {{ title.city }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_orders">
          <select
            chosen
            class="chosen-select"
            id="sort_promo_code"
            [(ngModel)]="sort_promo_code"
            name="sort_promo_code"
            tabindex="4"
          >
            <option value="1">{{ title.ascending }}</option>
            <option value="-1">{{ title.descending }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 col-xs-6 filter_btn_div">
        <input
          type="button"
          (click)="filter(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply }}"
        />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 filter_btn_div">
        <button [routerLink]="['/admin/add_promo_code']" class="btn add_btn">
          {{ button.add_promo
          }}<span class="fa fa-plus" style="margin-left: 8px"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content content_top_bar_view1 animated fadeInRight">
  <div class="row">
    <div class="col-md-3">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Loyalty Point Settings</h5>
        </div>
        <div class="ibox-content">
          <label class="control-label">Amount per loyalty to redeem</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="is_amount_per_loyalty_to_redeem"
              #amount_per_loyalty_to_redeem="ngModel"
              name="amount_per_loyalty_to_redeem"
              required
            />
          </div>
          <label class="control-label">Max. loyalty per order to redeem</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="max_loyalty_per_order_to_redeem"
              #amount_per_loyalty="ngModel"
              name="max_loyalty_per_order_to_redeem"
              required
            />
          </div>
          <label class="control-label">Amount per loyalty to add for order</label>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="is_amount_per_loyalty_to_add_for_order"
              #amount_per_loyalty="ngModel"
              name="is_amount_per_loyalty_to_add_for_order"
              required
            />
          </div>
          <button
            class="btn filter_apply_btn"
            (click)="loyaltyPointSettings('UPDATE')"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="ibox" *ngIf="promo_code_list.length == 0">
        <div class="ibox-content">
          <div class="lable_center">
            <label>No Records</label>
          </div>
        </div>
      </div>
      <div class="ibox" *ngIf="promo_code_list.length > 0">
        <div class="ibox-content" style="padding-bottom: 40px">
          <div
            class="table-responsive scrollbar"
            style="height: calc(100vh - 285px); overflow: auto"
          >
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>{{ title.id }}</th>
                  <th>{{ title.promo_code }}</th>
                  <th>{{ title.created_by }}</th>
                  <th>{{ title.type }}</th>
                  <th>{{ title.promo_for }}</th>
                  <th>{{ title.value }}</th>
                  <th>{{ title.country }}</th>
                  <th>{{ title.city }}</th>
                  <th>{{ title.uses }}</th>
                  <th>{{ title.user_used }}</th>
                  <th>{{ title.active }}</th>
                  <!--                            <th>{{title.promo_is_expired }}</th>-->

                  <th>{{ title.action }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let i of promo_code_list;
                    let index = index;
                    let last = last
                  "
                >
                  <td>{{ i.unique_id }}</td>
                  <td>{{ i.promo_code_name }}</td>
                  <td [ngSwitch]="i.created_by">
                    <div *ngSwitchCase="ADMIN_DATA_ID.ADMIN">
                      {{ title.admin }}
                    </div>
                    <div *ngSwitchCase="ADMIN_DATA_ID.STORE">
                      {{ title.store }}
                    </div>
                    <div *ngSwitchCase="ADMIN_DATA_ID.SUB_ADMIN">
                      {{ title.sub_admin }}
                    </div>
                  </td>
                  <td [ngSwitch]="i.promo_code_type">
                    <div *ngSwitchCase="1">{{ title.percentage }}</div>
                    <div *ngSwitchCase="2">{{ title.absolute }}</div>
                  </td>

                  <td [ngSwitch]="i.promo_for">
                    <div *ngSwitchCase="helper.ADMIN_PROMO_FOR_ID.SERVICE">
                      {{ title.promo_delivery_service }}
                    </div>
                    <div *ngSwitchCase="helper.ADMIN_PROMO_FOR_ID.DELIVERIES">
                      {{ title.promo_for_delivery }}
                    </div>
                    <div *ngSwitchCase="helper.ADMIN_PROMO_FOR_ID.STORE">
                      {{ title.promo_store }}
                    </div>
                    <div *ngSwitchCase="helper.ADMIN_PROMO_FOR_ID.PRODUCT">
                      {{ title.promo_product }}
                    </div>
                    <div *ngSwitchCase="helper.ADMIN_PROMO_FOR_ID.ITEM">
                      {{ title.promo_item }}
                    </div>
                  </td>

                  <td>{{ i.promo_code_value }}</td>
                  <td>{{ i.country_details.country_name }}</td>
                  <td *ngIf="i.city_details.length > 0">
                    {{ i.city_details[0].city_name }}
                  </td>
                  <td *ngIf="i.city_details.length == 0">{{ title.all }}</td>

                  <td>{{ i.promo_code_uses }}</td>
                  <td>{{ i.used_promo_code }}</td>
                  <td>
                    <ui-switch
                      (change)="promocode_active_deactive($event, i._id)"
                      [(ngModel)]="i.is_active"
                      #is_active="ngModel"
                      name="is_active"
                    ></ui-switch>
                  </td>
                  <td class="text-left footable-visible footable-last-column">
                    <div class="btn-group">
                      <button
                        (click)="editPromo(i._id)"
                        class="btn btn-xs btn-light_black"
                      >
                        {{ helper.button.edit }}
                      </button>
                      <button
                        [disabled]="i.used_promo_code <= 0"
                        (click)="viewPromoUses(i._id)"
                        class="btn btn-xs btn-light_red"
                      >
                        {{ helper.button.usage }}
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 col-sm-12" style="padding-top: 10px">
            <div class="lable_center">
              <ul class="pagination">
                <li *ngIf="page !== 1">
                  <a class="btn" (click)="filter(page - 1)">{{ button.pre }}</a>
                </li>
                <li
                  *ngFor="let index of total_pages"
                  [class.active]="page == index"
                >
                  <a
                    *ngIf="
                      index == 1 ||
                      index == total_page ||
                      index == page ||
                      index == page - 1 ||
                      index == page + 1
                    "
                    (click)="filter(index)"
                    class="btn"
                    >{{ index }}</a
                  >
                  <a
                    *ngIf="
                      (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                      (index == total_page - 1 &&
                        page !== total_page &&
                        page !== total_page - 1 &&
                        page !== total_page - 2)
                    "
                    class="btn"
                    >...</a
                  >
                </li>
                <li *ngIf="page !== total_page && promo_code_list.length !== 0">
                  <a class="btn" (click)="filter(page + 1)">{{
                    button.next
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
