<footer [myLoading]="myLoading"></footer>

<div class="row full_height">
  <div class="col-md-5 col-xs-12 col-sm-5 full_height login_left_background">
    <div
      class="
        col-md-12 col-xs-12 col-sm-12
        login_left_top_margin
        animated
        fadeInLeft
      "
    >
      <div class="col-md-12 col-xs-12 col-sm-12">
        <img style="width: 130px" src="assets/web_images/store_logo.png" />
      </div>

      <label
        class="col-md-12 col-xs-12 col-sm-12 login_title"
        style="margin-top: 20px"
        >{{ title.store_title1 }}</label
      >
      <label class="col-md-12 col-xs-12 col-sm-12 login_title">{{
        title.store_title2
      }}</label>
      <div class="col-md-12 col-xs-12 col-sm-12">
        <hr class="login_hr" />
      </div>
    </div>
  </div>
  <div class="col-md-7 col-xs-12 col-sm-7 full_height login_right_background">
    <div class="loginColumns animated fadeInRight" style="max-width: 435px">
      <div class="ibox-content login_right_background">
        <label class="login_right_title">{{ title.new_passwrod }}</label>
        <form
          #stornewpasswordForm="ngForm"
          (ngSubmit)="storeNewPassword(stornewpasswordForm.value)"
        >
          <div class="form-group">
            <label class="login_text_box_label">{{ title.password }}</label>
            <input
              type="password"
              class="form-control login_text_box"
              [(ngModel)]="store_new_password.password"
              #password="ngModel"
              minlength="6"
              name="password"
              required
            />
            <div
              *ngIf="password.errors && (password.dirty || password.touched)"
            >
              <div style="color: red" [hidden]="!password.errors.required">
                {{ validation_message.password_required }}
              </div>
              <div style="color: red" [hidden]="!password.errors.minlength">
                {{ validation_message.password_minlength }}
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="login_text_box_label">{{
              title.confirm_password
            }}</label>
            <input
              type="password"
              class="form-control login_text_box"
              [(ngModel)]="store_new_password.confirm_password"
              [equalTo]="password"
              #confirm_password="ngModel"
              name="confirm_password"
            />
            <div
              *ngIf="
                confirm_password.errors &&
                (confirm_password.dirty || confirm_password.touched)
              "
            >
              <div
                style="color: red"
                [hidden]="!confirm_password.errors?.equalTo"
              >
                {{ validation_message.match_confirm_password }}
              </div>
            </div>
          </div>

          <div
            class="col-md-12 col-xs-12 col-sm-12 lable_center"
            style="margin-top: 20px"
          >
            <button
              type="submit"
              [disabled]="!stornewpasswordForm.form.valid"
              class="btn btn-danger m-b login_submit_button"
            >
              {{ button.submit }}
            </button>
          </div>
          <div class="col-md-12 col-xs-12 col-sm-12 lable_center">
            <a [routerLink]="['/store/login']" style="color: #959597">{{
              button.login
            }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
