<footer [myLoading]="myLoading"></footer>
<form
  #adminimagesettingForm="ngForm"
  (ngSubmit)="AdminImageSetting(adminimagesettingForm.value)"
>
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <input
              type="hidden"
              class="form-control"
              [(ngModel)]="image_setting.image_type"
              #image_type="ngModel"
              name="image_type"
            />
            <div class="ibox-title">
              <label class="control-label"
                >Image Type For Delivery/Product/Item</label
              >
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-12">
                    <div
                      *ngFor="let i of admin_image_type_list"
                      style="margin: 5px"
                    >
                      <label
                        ><input
                          class="icheck"
                          id="icheck{{ i.NAME }}"
                          type="checkbox"
                          value="{{ i.ID }}"
                        /><span style="margin-left: 10px">{{
                          i.NAME
                        }}</span></label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <input
              type="hidden"
              class="form-control"
              [(ngModel)]="image_setting.map_pin_image_type"
              #map_pin_image_type="ngModel"
              name="map_pin_image_type"
            />
            <div class="ibox-title">
              <label class="control-label"
                >Image Type For Map Pin For App</label
              >
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-12">
                    <div
                      *ngFor="let i of admin_image_type_list"
                      style="margin: 5px"
                    >
                      <label
                        ><input
                          class="map_icheck"
                          id="map_icheck{{ i.NAME }}"
                          type="checkbox"
                          value="{{ i.ID }}"
                        /><span style="margin-left: 10px">{{
                          i.NAME
                        }}</span></label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <input
              type="hidden"
              class="form-control"
              [(ngModel)]="image_setting.icon_image_type"
              #icon_image_type="ngModel"
              name="icon_image_type"
            />
            <div class="ibox-title">
              <label class="control-label">Image Type For Icon</label>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <div class="col-lg-12">
                    <div
                      *ngFor="let i of admin_image_type_list"
                      style="margin: 5px"
                    >
                      <label
                        ><input
                          class="icon_icheck"
                          id="icon_icheck{{ i.NAME }}"
                          type="checkbox"
                          value="{{ i.ID }}"
                        /><span style="margin-left: 10px">{{
                          i.NAME
                        }}</span></label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label"
                >Image Size Use For Delivery/Product/Item</label
              >
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Ratio Should Be</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_image_ratio"
                      #delivery_image_ratio="ngModel"
                      name="image_ratio"
                      required
                      readonly
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Min Width</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="min_image_width"
                      [(ngModel)]="image_setting.delivery_image_min_width"
                      #delivery_image_min_width="ngModel"
                      name="image_min_width"
                    >
                      <option value="500">500</option>
                      <option value="600">600</option>
                      <option value="700">700</option>
                      <option value="800">800</option>
                      <option value="900">900</option>
                      <option value="1000">1000</option>
                      <option value="1100">1100</option>
                      <option value="1200">1200</option>
                      <option value="1300">1300</option>
                      <option value="1400">1400</option>
                      <option value="1500">1500</option>
                      <option value="1600">1600</option>
                      <option value="1700">1700</option>
                      <option value="1800">1800</option>
                      <option value="1900">1900</option>
                      <option value="2000">2000</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Min Height</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_image_min_height"
                      #delivery_image_min_height="ngModel"
                      name="image_min_height"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Max Width</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="max_image_width"
                      [(ngModel)]="image_setting.delivery_image_max_width"
                      #delivery_image_max_width="ngModel"
                      name="image_max_width"
                    >
                      <option value="500">500</option>
                      <option value="600">600</option>
                      <option value="700">700</option>
                      <option value="800">800</option>
                      <option value="900">900</option>
                      <option value="1000">1000</option>
                      <option value="1100">1100</option>
                      <option value="1200">1200</option>
                      <option value="1300">1300</option>
                      <option value="1400">1400</option>
                      <option value="1500">1500</option>
                      <option value="1600">1600</option>
                      <option value="1700">1700</option>
                      <option value="1800">1800</option>
                      <option value="1900">1900</option>
                      <option value="2000">2000</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Max Height</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_image_max_height"
                      #delivery_image_max_height="ngModel"
                      name="image_max_height"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label"
                >Image Size For Map Pin For Apps</label
              >
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Ratio Should Be</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_map_pin_ratio"
                      #delivery_map_pin_ratio="ngModel"
                      name="map_pin_ratio"
                      required
                      readonly
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Min Width</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="map_pin_min_width"
                      [(ngModel)]="image_setting.delivery_map_pin_min_width"
                      #delivery_map_pin_min_width="ngModel"
                      name="map_pin_min_width"
                    >
                      <option value="45">45</option>
                      <option value="90">90</option>
                      <option value="135">135</option>
                      <option value="180">180</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Min Height</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_map_pin_min_height"
                      #delivery_map_pin_min_height="ngModel"
                      name="map_pin_min_height"
                      required
                      readonly
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Max Width</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="map_pin_max_width"
                      [(ngModel)]="image_setting.delivery_map_pin_max_width"
                      #delivery_map_pin_max_width="ngModel"
                      name="map_pin_max_width"
                    >
                      <option value="45">45</option>
                      <option value="90">90</option>
                      <option value="135">135</option>
                      <option value="180">180</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Max Height</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_map_pin_max_height"
                      #delivery_map_pin_max_height="ngModel"
                      name="map_pin_max_height"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="ibox">
            <div class="ibox-title">
              <label class="control-label">Image Icon Size</label>
            </div>
            <div class="ibox-content">
              <div class="row">
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label"
                    >Ratio Should Be</label
                  >

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_icon_ratio"
                      #delivery_icon_ratio="ngModel"
                      name="icon_ratio"
                      required
                      readonly
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label">Minimum</label>

                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <select
                      chosen
                      class="form-control chosen-select"
                      id="minimum"
                      [(ngModel)]="image_setting.delivery_icon_minimum_size"
                      #delivery_icon_minimum_size="ngModel"
                      name="icon_minimum_size"
                    >
                      <option value="50">50</option>
                      <option value="60">60</option>
                      <option value="70">70</option>
                      <option value="80">80</option>
                      <option value="90">90</option>
                      <option value="100">100</option>
                      <option value="110">110</option>
                      <option value="120">120</option>
                      <option value="130">130</option>
                      <option value="140">140</option>
                      <option value="150">150</option>
                      <option value="160">160</option>
                      <option value="170">170</option>
                      <option value="180">180</option>
                      <option value="190">190</option>
                      <option value="200">200</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-7 col-xs-7 control-label">Maximum</label>
                  <div
                    class="col-lg-5 col-xs-5 form-group"
                    style="padding-right: 5px"
                  >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="image_setting.delivery_icon_maximum_size"
                      #delivery_icon_maximum_size="ngModel"
                      name="icon_maximum_size"
                      required
                      readonly
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--            <div class="col-lg-12">
                            <div class="col-lg-12" >
                                <div class="ibox"  style="margin-top:35px;">
                                    <input type="hidden" class="form-control" [(ngModel)]="image_setting.image_type" #image_type="ngModel"  name="image_type" />
                                    <div class="ibox-content" style="padding-bottom: 0px;">
                                        <div class="row form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-lg-4" *ngFor="let i of admin_image_type_list" style="margin: 5px;">
            
                                                             <label><input class="icheck" id="icheck{{i.ID}}"  type="checkbox" value="{{i.ID}}" /><span style="margin-left: 10px;">{{i.NAME}}</span></label>
            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>-->

      <div class="col-lg-12">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-content wizard">
              <div class="row">
                <div class="col-lg-4"></div>
                <!--                                <div class="col-lg-4" style="text-align: center;">
                                    <input type="submit" id="submit"  name="submit" style="width: 50%;" class="btn btn-primary" value="{{button.submit }}" >
                                </div>-->

                <div class="col-lg-4" style="text-align: center">
                  <input
                    type="submit"
                    id="submit"
                    [disabled]="edit_button == false"
                    name="submit"
                    style="width: 50%; margin-top: 10%"
                    class="btn btn-primary"
                    value="{{ button.submit }}"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
