<footer [myLoading]="myLoading"></footer>

<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div>
        <label>{{ title.search }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="search_field"
            [(ngModel)]="search_field"
            name="search_field"
            tabindex="4"
          >
            <option value="order_detail.unique_id">
              {{ title.id }}
            </option>
            <option value="user_detail.first_name">
              {{ title.user }}
            </option>
            <option value="provider_detail.first_name">
              {{ title.provider }}
            </option>
            <option value="store_detail.name">
              {{ title.store }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6">
        <div>
          <label>{{ title.status }}</label>
        </div>
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="request_status"
            [(ngModel)]="request_status"
            name="request_status"
            tabindex="4"
          >
            <option value="">{{ title.all }}</option>
            <option value="{{ ORDER_STATE.WAITING_FOR_DELIVERY_MAN }}">
              {{ status.waiting_for_delivery_man }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_ACCEPTED }}">
              {{ status.delivery_man_accepted }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_COMING }}">
              {{ status.delivery_man_coming }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_ARRIVED }}">
              {{ status.delivery_man_arrived }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_PICKED_ORDER }}">
              {{ status.picked_order }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_STARTED_DELIVERY }}">
              {{ status.started_for_delivery }}
            </option>
            <option
              value="{{ ORDER_STATE.DELIVERY_MAN_ARRIVED_AT_DESTINATION }}"
            >
              {{ status.arrived_at_destination }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY }}">
              {{ status.delivered_ordered }}
            </option>
            <option value="{{ ORDER_STATE.NO_DELIVERY_MAN_FOUND }}">
              {{ status.no_delivery_man_found }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_REJECTED }}">
              {{ status.delivery_man_rejected }}
            </option>
            <option value="{{ ORDER_STATE.DELIVERY_MAN_CANCELLED }}">
              {{ status.delivery_man_cancelled }}
            </option>
            <option value="{{ ORDER_STATE.STORE_CANCELLED_REQUEST }}">
              {{ status.cancelled_request }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div>
          <label>{{ title.payment_mode }}</label>
        </div>
        <div class="form-group">
          <select
            chosen
            class="chosen-select"
            id="payment_status"
            [(ngModel)]="payment_status"
            name="payment_status"
            tabindex="4"
          >
            <option value="all">{{ title.all }}</option>
            <option value="false">{{ title.card }}</option>
            <option value="true">{{ title.cash }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <button
          type="button"
          (click)="delivery_export_csv(1)"
          class="btn export_excel_btn pull-right"
        >
          <span class="fa fa-file-excel-o"></span>
        </button>
      </div>
      <div class="col-md-6 col-sm-6 filter_btn_div">
        <button
          type="button"
          (click)="filter(1)"
          class="btn filter_apply_btn pull-right"
        >
          <span class="fa fa-search"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-md-8">
      <div class="ibox">
        <div class="ibox-content" style="padding-bottom: 40px">
          <div
            class="table-responsive scrollbar"
            style="height: calc(100vh - 255px); overflow: auto"
          >
            <table class="table">
              <thead>
                <tr>
                  <th>{{ title.id }}</th>
                  <th>{{ title.assigned_date }}</th>
                  <th>{{ title.delivery_type }}</th>
                  <th>{{ title.user }}</th>
                  <th>{{ title.provider }}</th>
                  <th>{{ title.store }}</th>
                  <th>Change Status</th>
                  <th>{{ title.status }}</th>
                  <th>{{ title.action }}</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let request of requests;
                    let last = last;
                    let index = index
                  "
                  [class.selected_tr]="request._id == order_detail._id"
                  (click)="get_request_data(index)"
                >
                  <td>{{ request.order_detail.unique_id }}</td>
                  <td>
                    {{ request.created_at | date : 'd MMM yyyy, h:mm a'}}
                  </td>
                  <td>
                    <span *ngIf="request.order_detail.delivery_type == 1">{{
                      title.store
                    }}</span>
                    <span *ngIf="request.order_detail.delivery_type !== 1">{{
                      title.courier
                    }}</span>
                  </td>
                  <td>
                    {{ request.user_detail.first_name }}
                    {{ request.user_detail.last_name }}
                  </td>
                  <td>
                    <div *ngIf="request.provider_detail">
                      {{ request.provider_detail.first_name }}
                      {{ request.provider_detail.last_name }}
                    </div>
                  </td>
                  <td>
                    <span *ngIf="request.store_detail">{{
                      request.store_detail.name
                    }}</span>
                  </td>
                  <td>
                    <div
                      class="dropdown pull-right"
                      [class.dropup]="last && !index == 0"
                      dropdown
                    >
                      <button
                        class="btn btn-light_black"
                        style="font-size: 12px; padding: 5px 10px"
                        dropdown-open
                      >
                        Action<span class="caret"></span>
                      </button>

                      <ul class="dropdown-menu">
                        <li>
                          <a
                            (click)="
                              changeOrderstatus(
                                request,
                                ORDER_STATE.ORDER_COMPLETED
                              )
                            "
                            ><span style="display: block" class="nav-label">{{
                              button.complete
                            }}</span>
                          </a>
                        </li>
                        <li>
                          <!-- 101 status for cancel -->
                          <a (click)="changeOrderstatus(request, 101)"
                            ><span style="display: block" class="nav-label"
                              >Delete Order</span
                            >
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td [ngSwitch]="request.delivery_status">
                    <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_DELIVERY_MAN">
                      <span class="label label-primary">{{
                        status.waiting_for_delivery_man1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_ACCEPTED">
                      <span class="label label-primary">{{
                        status.delivery_man_accepted1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_COMING">
                      <span class="label label-primary">{{
                        status.delivery_man_coming1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_ARRIVED">
                      <span class="label label-primary">{{
                        status.delivery_man_arrived1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_PICKED_ORDER">
                      <span class="label label-primary">{{
                        status.picked_order1
                      }}</span>
                    </div>
                    <div
                      *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_STARTED_DELIVERY"
                    >
                      <span class="label label-primary">{{
                        status.started_for_delivery1
                      }}</span>
                    </div>
                    <div
                      *ngSwitchCase="
                        ORDER_STATE.DELIVERY_MAN_ARRIVED_AT_DESTINATION
                      "
                    >
                      <span class="label label-primary">{{
                        status.arrived_at_destination1
                      }}</span>
                    </div>
                    <div
                      *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY"
                    >
                      <span class="label label-primary">{{
                        status.delivered_ordered1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.STORE_REJECTED">
                      <span class="label label-danger">{{
                        status.rejected1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED">
                      <span class="label label-danger">{{
                        status.cancelled1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.NO_DELIVERY_MAN_FOUND">
                      <span class="label label-danger">{{
                        status.no_delivery_man_found1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_REJECTED">
                      <span class="label label-danger">{{
                        status.delivery_man_rejected1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_CANCELLED">
                      <span class="label label-danger">{{
                        status.delivery_man_cancelled1
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.CANCELED_BY_USER">
                      <span class="label label-danger">{{
                        status.user_cancelled
                      }}</span>
                    </div>
                    <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED_REQUEST">
                      <span class="label label-danger">{{
                        status.cancelled_request1
                      }}</span>
                    </div>
                  </td>
                  <td class="text-left footable-visible footable-last-column">
                    <div class="btn-group">
                      <button
                        (click)="open_detail_modal()"
                        class="btn btn-xs btn-light_black"
                      >
                        {{ helper.button.detail }}
                      </button>

                      <button
                        *ngIf="
                          request.delivery_status ==
                            helper.ORDER_STATE.NO_DELIVERY_MAN_FOUND ||
                          request.delivery_status ==
                            helper.ORDER_STATE.STORE_CANCELLED_REQUEST ||
                          request.delivery_status ==
                            helper.ORDER_STATE.DELIVERY_MAN_CANCELLED
                        "
                        type="button"
                        (click)="
                          orderAssignProvider({
                            order_id: request.order_detail._id,
                            city_id: request.order_detail.city_id,
                            delivery_type: request.order_detail.delivery_type
                          })
                        "
                        class="btn btn-xs btn-danger"
                      >
                        {{ button.reassign }}
                      </button>

                      <button
                        *ngIf="
                          request.delivery_status ==
                          helper.ORDER_STATE.DELIVERY_MAN_ARRIVED_AT_DESTINATION
                        "
                        type="button"
                        (click)="
                          complete_request({
                            request_id: request._id,
                            provider_id: request.current_provider
                          })
                        "
                        class="btn btn-xs btn-danger"
                      >
                        {{ button.complete }}
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-12 col-sm-12" style="margin-top: 5px">
            <div class="lable_center">
              <ul class="pagination">
                <li *ngIf="page !== 1">
                  <a class="btn" (click)="filter(page - 1)">{{ button.pre }}</a>
                </li>
                <li
                  *ngFor="let index of total_pages"
                  [class.active]="page == index"
                >
                  <a
                    *ngIf="
                      index == 1 ||
                      index == total_page ||
                      index == page ||
                      index == page - 1 ||
                      index == page + 1
                    "
                    (click)="filter(index)"
                    class="btn"
                    >{{ index }}</a
                  >
                  <a
                    *ngIf="
                      (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                      (index == total_page - 1 &&
                        page !== total_page &&
                        page !== total_page - 1 &&
                        page !== total_page - 2)
                    "
                    class="btn"
                    >...</a
                  >
                </li>
                <li *ngIf="page !== total_page && requests.length !== 0">
                  <a class="btn" (click)="filter(page + 1)">{{
                    button.next
                  }}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="ibox" [hidden]="requests.length == 0">
        <div class="ibox-content" style="padding: 0">
          <div
            *ngIf="order_detail.order_detail"
            style="padding: 20px 10px 10px 10px"
          >
            <label
              ><span class="fa fa-map-marker" style="margin-right: 5px"></span
              >{{ title.delivery_address }}
              <span
                *ngIf="order_detail.order_detail.is_schedule_order"
                class="fa fa-clock-o product_arrow"
              ></span>
              <span
                *ngIf="order_detail.order_payment_detail.is_user_pick_up_order"
                class="fa fa-user product_arrow"
              ></span>
            </label>
            <div style="margin-left: 10px; height: 35px; overflow: hidden">
              {{ order_detail.destination_addresses[0].address
              }}<span *ngIf="order_detail.order_payment_detail.total_distance"
                >({{
                  order_detail.order_payment_detail.total_distance.toFixed(2)
                }}{{ title.km }})</span
              >
            </div>

            <div style="margin-left: 10px; height: 20px; overflow: hidden">
              <span *ngIf="order_detail.destination_addresses[0].building_no"
                ><strong>Building No :</strong>
                {{ order_detail.destination_addresses[0].building_no }}</span
              >
            </div>
            <div style="margin-left: 10px; height: 20px; overflow: hidden">
              <span *ngIf="order_detail.destination_addresses[0].appartmentno"
                ><strong>Apartment No :</strong>
                {{ order_detail.destination_addresses[0].appartmentno }}</span
              >
            </div>
          </div>
          <div
            id="map"
            style="width: 100%; height: calc(100vh - 288px); overflow: auto"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #order_detail_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ heading_title.order_detail }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row" *ngIf="order_detail.order_detail">
      <div
        class="col-md-4"
        *ngIf="
          order_detail.cart_detail &&
          order_detail.cart_detail.order_details.length > 0
        "
      >
        <div class="ibox remove_ibox_margin">
          <div class="ibox-title">
            <h4 class="pull-right">
              {{ currency_sign }}{{ order_total.toFixed(2) }}
            </h4>
            <span style="position: absolute; left: 48%"
              >(<strong>{{ total_item }}</strong
              >) {{ title.items }}</span
            >
            <h5>{{ heading_title.order_detail }}</h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div
              *ngFor="
                let products of order_detail.cart_detail.order_details;
                let product_index = index
              "
            >
              <div style="border-bottom: 1px solid brown">
                <h4 class="pull-right">
                  {{ currency_sign
                  }}{{ product_item_total_array[product_index] }}
                  <span
                    *ngIf="hide_specification_group[product_index] == 'true'"
                    (click)="show_specifications_group(product_index)"
                    class="fa fa-chevron-left"
                  ></span>
                  <span
                    *ngIf="hide_specification_group[product_index] == 'false'"
                    (click)="hide_specifications_group(product_index)"
                    class="fa fa-chevron-down"
                  ></span>
                </h4>
                <span style="position: absolute; left: 48%"
                  >(<strong>{{ products.items.length }}</strong
                  >) {{ title.items }}</span
                >
                <h5>{{ products.product_name }}</h5>
              </div>

              <div
                id="spec_list{{ product_index }}"
                class="table-responsive"
                style="width: 100%"
              >
                <table class="table">
                  <thead style="border-bottom: 1px solid">
                    <tr>
                      <th></th>
                      <th>{{ title.item }}</th>
                      <th>
                        {{ title.spec }}
                        {{ title.price }}
                      </th>
                      <th>{{ title.price }}</th>
                      <th>{{ title.qty }}</th>
                      <th>{{ title.total }}</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr
                      style="cursor: pointer"
                      *ngFor="
                        let item of products.items;
                        let odd = odd;
                        let item_index = index
                      "
                      (click)="get_specification(product_index, item_index)"
                    >
                      <td>
                        <img
                          [src]="
                            item.image_url != ''
                              ? item.image_url
                              : 'web_images/storeplaceholder.png'
                          "
                          style="
                            border-radius: 10%;
                            width: 50px;
                            height: 50px;
                            padding-right: 0px;
                          "
                        />
                      </td>
                      <td style="padding-top: 20px">{{ item.item_name }}</td>
                      <td style="padding-top: 20px">
                        {{ currency_sign }}{{ item.total_specification_price }}
                      </td>
                      <td style="padding-top: 20px">
                        {{ currency_sign }}{{ item.item_price }}
                      </td>
                      <td style="padding-top: 20px">{{ item.quantity }}</td>
                      <td style="padding-top: 20px">
                        {{ currency_sign
                        }}{{
                          (
                            (item.item_price + item.total_specification_price) *
                            item.quantity
                          ).toFixed(2)
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4"
        *ngIf="
          order_detail.order_detail.image_url &&
          order_detail.order_detail.image_url.length > 0
        "
      >
        <div class="ibox remove_ibox_margin">
          <div class="ibox-title">
            <h5>{{ title.images }}</h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div
              *ngFor="
                let image of order_detail.order_detail.image_url;
                let image_index = index
              "
            >
              <a target="_blank" href="{{ image }}"
                ><img class="courier_image" src="{{ image }}"
              /></a>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-md-4"
        *ngIf="
          is_show_specification &&
          order_detail.cart_detail &&
          order_detail.cart_detail.order_details.length > 0
        "
      >
        <div class="ibox remove_ibox_margin">
          <div class="ibox-title">
            <h5>{{ title.specifications }}</h5>
            <span
              class="fa fa-remove pull-right"
              (click)="is_show_specification = false"
            ></span>
          </div>

          <div class="ibox-content invoice_popup_box">
            <div
              *ngFor="let specification_group of specifications; let odd = odd"
              [class.row]="odd"
              style="margin: 0"
            >
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
                  <div
                    class="col-md-12"
                    style="padding: 0; border-bottom: 1px solid #dcdcdc"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <h5>{{ specification_group.name }}</h5>
                    </div>
                    <div
                      *ngIf="specification_group.price > 0"
                      class="col-md-4 col-sm-4 col-xs-4"
                    >
                      <h5 style="float: right">
                        {{ currency_sign
                        }}{{ specification_group.price.toFixed(2) }}
                      </h5>
                    </div>
                  </div>

                  <div
                    class="col-md-12"
                    *ngFor="let specification of specification_group.list"
                  >
                    <div style="padding: 0" class="col-md-8 col-sm-8 col-xs-8">
                      <h6 style="font-size: 13px">{{ specification.name }}</h6>
                    </div>
                    <div
                      *ngIf="specification.price > 0"
                      class="col-md-4 col-sm-4 col-xs-4"
                      style="padding: 0"
                    >
                      <h6 style="font-size: 13px; float: right">
                        {{ currency_sign }}{{ specification.price.toFixed(2) }}
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row"
              style="border-top: 1px solid; padding-top: 15px"
              *ngIf="item_note != ''"
            >
              <div class="col-md-12 col-sm-12 col-xs-12">
                <label>{{ title.item_note_here }}</label>
                <div>
                  <h6 style="font-size: 13px">{{ item_note }}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4" *ngIf="!is_show_specification">
        <div class="ibox remove_ibox_margin">
          <div class="ibox-title" style="background-color: #d4d8d8">
            <h5>{{ heading_title.order_status }}</h5>
          </div>
          <div class="ibox-content invoice_popup_box">
            <div
              id="vertical-timeline"
              class="vertical-container dark-timeline"
            >
              <div
                *ngFor="let date of order_detail.order_detail.date_time"
                class="vertical-timeline-block"
              >
                <div class="vertical-timeline-icon gray-bg"></div>
                <div
                  class="vertical-timeline-content"
                  [ngSwitch]="date.status"
                  style="padding-top: 1px"
                >
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.WAITING_FOR_ACCEPT_STORE"
                  >
                    <span>{{ helper.status.waiting_for_accept }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_ACCEPTED">
                    <span>{{ helper.status.accepted }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_PREPARING_ORDER">
                    <span>{{ helper.status.start_preparing_order }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.OREDER_READY">
                    <span>{{ helper.status.order_ready }}</span>
                  </p>
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.WAITING_FOR_DELIVERY_MAN"
                  >
                    <span>{{ helper.status.waiting_for_delivery_man }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_REJECTED">
                    <span>{{ helper.status.rejected }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED">
                    <span>{{ helper.status.cancelled }}</span>
                  </p>

                  <span class="vertical-date small text-muted">
                    {{ date.date | date : 'd MMM yyyy, h:mm a' }}
                  </span>
                </div>
              </div>
              <div
                *ngFor="let date of order_detail.date_time"
                class="vertical-timeline-block"
              >
                <div class="vertical-timeline-icon gray-bg"></div>
                <div
                  class="vertical-timeline-content"
                  [ngSwitch]="date.status"
                  style="padding-top: 1px"
                >
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.WAITING_FOR_DELIVERY_MAN"
                  >
                    <span>{{ helper.status.waiting_for_delivery_man }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_ACCEPTED">
                    <span>{{ helper.status.delivery_man_accepted }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_COMING">
                    <span>{{ helper.status.delivery_man_coming }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_ARRIVED">
                    <span>{{ helper.status.delivery_man_arrived }}</span>
                  </p>
                  <p
                    *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_PICKED_ORDER"
                  >
                    <span>{{ helper.status.picked_order }}</span>
                  </p>
                  <p
                    *ngSwitchCase="
                      helper.ORDER_STATE.DELIVERY_MAN_STARTED_DELIVERY
                    "
                  >
                    <span>{{ helper.status.started_for_delivery }}</span>
                  </p>
                  <p
                    *ngSwitchCase="
                      helper.ORDER_STATE.DELIVERY_MAN_ARRIVED_AT_DESTINATION
                    "
                  >
                    <span>{{ helper.status.arrived_at_destination }}</span>
                  </p>
                  <p
                    *ngSwitchCase="
                      helper.ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY
                    "
                  >
                    <span>{{ helper.status.delivered_ordered }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_REJECTED">
                    <span>{{ helper.status.rejected }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED">
                    <span>{{ helper.status.cancelled }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.NO_DELIVERY_MAN_FOUND">
                    <span>{{ helper.status.no_delivery_man_found }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_REJECTED">
                    <span>{{ helper.status.delivery_man_rejected }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.DELIVERY_MAN_CANCELLED">
                    <span>{{ helper.status.delivery_man_cancelled }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.CANCELED_BY_USER">
                    <span>{{ helper.status.user_cancelled }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.STORE_CANCELLED_REQUEST">
                    <span>{{ helper.status.cancelled_request }}</span>
                  </p>
                  <p *ngSwitchCase="helper.ORDER_STATE.ORDER_COMPLETED">
                    <span>{{ helper.status.completed }}</span>
                  </p>

                  <span class="vertical-date small text-muted">
                    {{ date.date  | date : 'd MMM yyyy, h:mm a' }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ibox remove_ibox_margin">
          <div class="ibox-title" style="background-color: #d4d8d8">
            <h5>{{ order_detail.order_payment_detail.invoice_number }}</h5>
            <h5 class="pull-right">
              {{ currency_sign
              }}{{ order_detail.order_payment_detail.total.toFixed(2) }}
            </h5>
          </div>
          <div class="ibox-content invoice_popup_box scrollbar">
            <div class="row" style="margin-bottom: 20px">
              <div class="col-md-6" style="padding-right: 4px">
                <div class="invoice_box">
                  <div>
                    <span>{{ title.cash }}</span>
                  </div>
                  <div>
                    <label
                      >{{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.cash_payment.toFixed(
                          2
                        )
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6" style="padding-left: 4px">
                <div class="invoice_box">
                  <div>
                    <span>{{ title.wallet }}</span>
                  </div>
                  <div>
                    <label
                      >{{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.wallet_payment.toFixed(
                          2
                        )
                      }}</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin-bottom: 20px">
              <div class="col-md-6" style="padding-right: 4px">
                <div class="invoice_box">
                  <div>
                    <span>{{ title.other }}</span>
                  </div>
                  <div>
                    <label
                      >{{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.card_payment.toFixed(
                          2
                        )
                      }}</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-6" style="padding-left: 4px">
                <div class="invoice_box">
                  <div>
                    <span>{{ title.promo_bonus }}</span>
                  </div>
                  <div>
                    <label
                      >{{ currency_sign
                      }}{{
                        order_detail.order_payment_detail.promo_payment.toFixed(
                          2
                        )
                      }}</label
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px">
                <div class="row invoice_seperator">
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <h5 style="margin-bottom: 0">
                        {{ title.delivery_price }}
                      </h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <h5 style="float: right; margin-bottom: 0">
                        {{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_delivery_price.toFixed(
                            2
                          )
                        }}
                      </h5>
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.delivery_price }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_service_price.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.tax_price }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_admin_tax_price.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <!--<div class="col-md-12 order_invoice_row"  *ngIf='order_detail.order_payment_detail.is_promo_for_delivery_service == true'>-->
                  <!--<div class="col-md-8 col-sm-8 col-xs-8"><span>{{title.promo_bonus }}</span></div>-->
                  <!--<div class="col-md-4 col-sm-4 col-xs-4"><span style="float: right;">{{currency_sign}}{{order_detail.order_payment_detail.promo_payment.toFixed(2)}}</span></div>-->
                  <!--</div>-->
                </div>

                <div class="row invoice_seperator">
                  <div
                    class="col-md-12 order_invoice_row"
                    style="margin-top: 10px"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <h5 style="margin-bottom: 0">
                        {{ title.order_price }}
                      </h5>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <h5 style="float: right; margin-bottom: 0">
                        {{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_order_price.toFixed(
                            2
                          )
                        }}
                      </h5>
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.order_price }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_cart_price.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.tax_price }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_store_tax_price.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <!--<div class="col-md-12 order_invoice_row" *ngIf='order_detail.order_payment_detail.is_promo_for_delivery_service == false'>-->
                  <!--<div class="col-md-8 col-sm-8 col-xs-8"><span>{{title.promo_bonus }}</span></div>-->
                  <!--<div class="col-md-4 col-sm-4 col-xs-4"><span style="float: right;">{{currency_sign}}{{order_detail.order_payment_detail.promo_payment.toFixed(2)}}</span></div>-->
                  <!--</div>-->
                </div>

                <div class="row invoice_seperator">
                  <div
                    class="col-md-12 order_invoice_row"
                    style="margin-top: 10px"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.store_bear_delivery_fee }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span
                        style="float: right"
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_store_pay_delivery_fees
                        "
                        >{{ title.yes }}</span
                      >
                      <span
                        style="float: right"
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_store_pay_delivery_fees
                        "
                        >{{ title.no }}</span
                      >
                    </div>
                  </div>
                  <div
                    class="col-md-12 order_invoice_row"
                    *ngIf="
                      order_detail.order_payment_detail.is_payment_mode_cash
                    "
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{
                        title.deliveryman_paid_order_cash_to_store
                      }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span
                        style="float: right"
                        *ngIf="
                          order_detail.order_payment_detail
                            .provider_paid_order_payment
                        "
                        >{{ title.yes }}</span
                      >
                      <span
                        style="float: right"
                        *ngIf="
                          !order_detail.order_payment_detail
                            .provider_paid_order_payment
                        "
                        >{{ title.no }}</span
                      >
                    </div>
                  </div>
                  <div
                    class="col-md-12 order_invoice_row"
                    *ngIf="order_detail.order_payment_detail.promo_payment > 0"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.promo_apply_on }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span
                        style="float: right"
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_promo_for_delivery_service
                        "
                        >{{ title.sws_delivery }}</span
                      >
                      <span
                        style="float: right"
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_promo_for_delivery_service
                        "
                        >{{ title.sws_order }}</span
                      >
                    </div>
                  </div>
                </div>

                <div class="row invoice_seperator">
                  <div
                    class="col-md-12 order_invoice_row"
                    style="margin-top: 10px"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.store_profit }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_store_income.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                        style="color: green"
                        >{{ title.sattlement_with_store }}</span
                      >
                      <span
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                      >
                        <span
                          *ngIf="
                            order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          style="color: green"
                          >{{ title.sattlement_with_store }}</span
                        >
                        <span
                          *ngIf="
                            !order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          style="color: red"
                          >{{ title.sattlement_with_store }}</span
                        >
                      </span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span
                        style="float: right"
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                      >
                        <span style="color: green"
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.store_income_set_in_wallet.toFixed(
                              2
                            )
                          }}
                          ({{ title.wallet }})</span
                        >
                      </span>
                      <span
                        style="float: right"
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                      >
                        <span
                          style="color: green"
                          *ngIf="
                            order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.pay_to_store.toFixed(
                              2
                            )
                          }}</span
                        >
                        <span
                          style="color: red"
                          *ngIf="
                            !order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.pay_to_store.toFixed(
                              2
                            )
                          }}</span
                        >
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row invoice_seperator">
                  <div
                    class="col-md-12 order_invoice_row"
                    style="margin-top: 10px"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.deliveryman_profit }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_provider_income.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                        style="color: green"
                        >{{ title.sattlement_with_deliveryman }}</span
                      >
                      <span
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_store_income_set_in_wallet
                        "
                      >
                        <span
                          *ngIf="
                            order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          style="color: green"
                          >{{ title.sattlement_with_deliveryman }}</span
                        >
                        <span
                          *ngIf="
                            !order_detail.order_payment_detail
                              .is_transfered_to_store
                          "
                          style="color: red"
                          >{{ title.sattlement_with_deliveryman }}</span
                        >
                      </span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span
                        style="float: right"
                        *ngIf="
                          order_detail.order_payment_detail
                            .is_provider_income_set_in_wallet
                        "
                      >
                        <span style="color: green"
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.provider_income_set_in_wallet.toFixed(
                              2
                            )
                          }}
                          ({{ title.wallet }})</span
                        >
                      </span>
                      <span
                        style="float: right"
                        *ngIf="
                          !order_detail.order_payment_detail
                            .is_provider_income_set_in_wallet
                        "
                      >
                        <span
                          style="color: green"
                          *ngIf="
                            order_detail.order_payment_detail
                              .is_transfered_to_provider
                          "
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.pay_to_provider.toFixed(
                              2
                            )
                          }}</span
                        >
                        <span
                          style="color: red"
                          *ngIf="
                            !order_detail.order_payment_detail
                              .is_transfered_to_provider
                          "
                          >{{ currency_sign
                          }}{{
                            order_detail.order_payment_detail.pay_to_provider.toFixed(
                              2
                            )
                          }}</span
                        >
                      </span>
                    </div>
                  </div>
                </div>

                <div class="row invoice_seperator">
                  <div
                    class="col-md-12 order_invoice_row"
                    style="margin-top: 10px"
                  >
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.admin_profit_on_store }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_admin_profit_on_store.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 order_invoice_row">
                    <div class="col-md-8 col-sm-8 col-xs-8">
                      <span>{{ title.admin_profit_on_delivery }}</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                      <span style="float: right"
                        >{{ currency_sign
                        }}{{
                          order_detail.order_payment_detail.total_admin_profit_on_delivery.toFixed(
                            2
                          )
                        }}</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<ng-template #vehicle_list_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ title.select_vehicle }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group">
        <label class="col-md-6">{{ title.select_vehicle }}</label>
        <div class="col-md-6">
          <select
            class="form-control"
            [(ngModel)]="vehicle_id"
            name="vehicle_id"
            data-placeholder="Select Vehicle"
            tabindex="4"
          >
            <option *ngFor="let i of vehicles" value="{{ i._id }}">
              {{ i.vehicle_name }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div style="text-align: center">
      <button type="button" (click)="create_request()" class="btn btn-primary">
        {{ button.submit }}
      </button>
    </div>
  </div>
</ng-template>
