<style type="text/css">
  .scrollbar {
    height: 100%;
    background: #fff;
    overflow-y: auto;
  }

  .scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
  }

  .scrollbar::-webkit-scrollbar {
    width: 3px;
    background-color: #222222;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
</style>
<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse scrollbar">
    <metis-menu class="nav metismenu" id="side-menu">
      <li
        class="nav-header"
        (click)="toggle($event)"
        style="background-color: #222222 !important; transition: all 0.4s"
        [routerLink]="['/store/profile']"
      >
        <div
          class="dropdown profile-element"
          style="text-align: center; transition: all 0.4s"
        >
          <img
            alt="image"
            class="img-circle"
            style="height: 50px; width: 50px"
            src="{{helper.user_cart.image != '' ? helper.CONSTANT.IMAGE_BASE_URL + helper.user_cart.image : 'default.png'}}"
          />
          <!-- <a data-toggle="dropdown" class="dropdown-toggle" href="#"> -->
          <span class="block m-t-xs">
            <strong class="font-bold" style="color: #fff"
              >{{helper.user_cart.name}}</strong
            >
          </span>

          <!-- </a> -->
          <!-- <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a [routerLink]="['/store/profile']"><span class="nav-label">{{menu_title.profile }}</span> </a></li>
                        <li><a [routerLink]="['/store/logout']"><span class="nav-label">{{menu_title.logout }}</span> </a></li>
                    </ul> -->
        </div>
        <div class="logo-element" style="padding: 10px 0; transition: all 0.4s">
          <img
            alt="image"
            class="img-circle"
            style="height: 50px; width: 50px"
            src="{{helper.user_cart.image != '' ? helper.CONSTANT.IMAGE_BASE_URL + helper.user_cart.image : 'default.png'}}"
          />
        </div>
      </li>

      <li
        [ngClass]="{active: activeRoute('create_order')}"
        (click)="toggle($event)"
      >
        <a [routerLink]="['/store/create_order']"
          ><i class="fa fa-edit"></i>
          <span class="nav-label">{{menu_title.create_order }}</span>
        </a>
      </li>

      <!--<li (click)="toggle($event)" [ngClass]="{active: activeRoute('upload_document')}">-->
      <!--<a [routerLink]="['/store/upload_document']"><i class="fa fa-upload"></i> <span class="nav-label">{{menu_title.upload_document }}</span> </a>-->
      <!--</li>-->
      <li
        (click)="toggle($event)"
        [ngClass]="{active: activeRoute('/store/order')}"
      >
        <a [routerLink]="['/store/order']"
          ><i class="fa fa-list-alt"></i>
          <span class="nav-label">{{menu_title.order }}</span>
        </a>
      </li>
      <li
        [ngClass]="{active: activeRoute('deliveries')}"
        (click)="toggle($event)"
      >
        <a [routerLink]="['/store/deliveries']"
          ><i class="fa fa-list"></i>
          <span class="nav-label">{{menu_title.deliveries }}</span>
        </a>
      </li>
      <li (click)="toggle($event)" [ngClass]="{active: activeRoute('history')}">
        <a [routerLink]="['/store/history']"
          ><i class="fa fa-history"></i>
          <span class="nav-label">{{menu_title.history }}</span>
        </a>
      </li>
      <li (click)="toggle($event)" [ngClass]="{active: activeRoute('product')}">
        <a href="#" class="has-arrow" id="click_menu"
          ><i class="fa fa-cube"></i>
          <span class="nav-label">{{menu_title.menu }}</span>
        </a>
        <ul id="products_submenu" class="nav nav-second-level">
          <li
            (click)="toggle($event)"
            [ngClass]="{active: activeRoute('store/category')}"
          >
            <a [routerLink]="['/store/category']"
              ><i class="fa fa-cube"></i>
              <span class="nav-label"
                >{{menu_title.categories }}</span
              >
            </a>
          </li>
          <li
            (click)="toggle($event)"
            [ngClass]="{active: activeRoute('store/product')}"
          >
            <a [routerLink]="['/store/product']"
              ><i class="fa fa-cube"></i>
              <span class="nav-label">{{menu_title.products }}</span>
            </a>
          </li>
        </ul>
      </li>
      <!--<li (click)="toggle($event)" [ngClass]="{active: activeRoute('item')}">-->
      <!--<a [routerLink]="['/store/item']"><i class="fa fa-shopping-cart"></i> <span class="nav-label">{{menu_title.item }}</span> </a>-->
      <!--</li>-->

      <li
        (click)="toggle($event)"
        [ngClass]="{active: activeRoute('promocode')}"
      >
        <a [routerLink]="['/store/promocode']"
          ><i class="fa fa-shopping-cart"></i>
          <span class="nav-label">{{menu_title.promocode }}</span>
        </a>
      </li>

      <li
        *ngIf="is_store_can_add_provider"
        (click)="toggle($event)"
        [ngClass]="{active: activeRoute('providers')}"
      >
        <a [routerLink]="['/store/providers']"
          ><i class="fa fa-motorcycle"></i>
          <span class="nav-label">{{menu_title.providers }}</span>
        </a>
      </li>
      <li
        *ngIf="is_store_can_complete_order || is_store_can_add_provider"
        (click)="toggle($event)"
        [ngClass]="{active: activeRoute('service')}"
      >
        <a [routerLink]="['/store/service']"
          ><i class="fa fa-truck"></i>
          <span class="nav-label"
            >{{menu_title.delivery_prices }}</span
          >
        </a>
      </li>

      <li (click)="toggle($event)" [ngClass]="{active: activeRoute('profile')}">
        <a [routerLink]="['/store/profile']"
          ><i class="fa fa-cog"></i>
          <span class="nav-label">{{menu_title.profile }}</span>
        </a>
      </li>

      <li (click)="toggle($event)" [ngClass]="{active: activeRoute('setting')}">
        <a [routerLink]="['/store/setting']"
          ><i class="fa fa-cog"></i>
          <span class="nav-label">{{menu_title.setting }}</span>
        </a>
      </li>

      <li>
        <a href="#" class="has-arrow" id="click_menu"
          ><i class="fa fa-dollar"></i>
          <span class="nav-label">{{menu_title.earning }}</span>
        </a>
        <ul id="earning_submenu" class="nav nav-second-level">
          <li
            (click)="toggle($event)"
            [ngClass]="{active: activeRoute('store/earning')}"
          >
            <a id="1" [routerLink]="['/store/earning']"
              >{{menu_title.sub_earning }}</a
            >
          </li>

          <!-- <li (click)="toggle($event)" [ngClass]="{active: activeRoute('daily_earning')}"><a id="2" [routerLink]="['/store/daily_earning']">{{menu_title.sub_daily_earning }}</a></li> -->

          <li
            (click)="toggle($event)"
            [ngClass]="{active: activeRoute('weekly_earning')}"
          >
            <a id="3" [routerLink]="['/store/weekly_earning']"
              >{{menu_title.sub_weekly_earning }}</a
            >
          </li>
        </ul>
      </li>
    </metis-menu>
  </div>
</nav>
