<footer [myLoading]="myLoading"></footer>
<div
  class="row wrapper border-bottom white-bg page-heading"
  style="padding: 80px 20px 10px !important"
>
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-4 col-sm-4">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            style="border-color: #222222; height: 30px; border-radius: 5px"
            placeholder="Enter Address"
            id="search"
          />
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="selected_country"
            [(ngModel)]="selected_country"
            name="selected_country"
            tabindex="4"
          >
            <option value="All">{{ title.all }}</option>
            <option *ngFor="let i of country_list" value="{{ i._id }}">
              {{ i.country_name }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="form-group" id="search_fields">
          <select
            chosen
            class="chosen-select"
            id="type"
            [(ngModel)]="type"
            name="type"
            tabindex="4"
          >
            <option value="All">{{ title.all }}</option>
            <option value="offline">{{ title.offline }}</option>
            <option value="online">{{ title.online }}</option>
            <option value="onlinewithorder">
              {{ title.online_with_order }}
            </option>
            <option value="offlinewithorder">
              {{ title.offline_with_order }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img
          src="/map_pin_images/Deliveryman/deliveryman_online.png"
          style="height: 25px"
        />{{ title.online }}
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img
          src="/map_pin_images/Deliveryman/deliveryman_online_with_orders.png"
          style="height: 25px"
        />{{ title.delivery_man_online_with_order }}
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img
          src="/map_pin_images/Deliveryman/deliveryman_offline.png"
          style="height: 25px"
        />{{ title.offline }}
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img
          src="/map_pin_images/Deliveryman/deliveryman_offline_with_orders.png"
          style="height: 25px"
        />{{ title.delivery_man_offline_with_order }}
      </div>
    </div>
  </div>
</div>

<div
  class="wrapper wrapper-content animated fadeInRight"
  style="padding: 0px 0px 0px !important"
>
  <div style="margin-left: -16px; margin-right: -16px">
    <div id="map" style="height: calc(100vh - 141px)"></div>
  </div>
</div>
