<ng-container>
  <div class="content">
    <div class="page-heading">
      <div class="row align-content-center">
        <div class="col-1">
          <div class="row align-items-center">
            <div class="col-auto">
              <h2>Orders</h2>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div>
            <label>{{ title.search }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="search_field"
                [(ngModel)]="search_field"
                name="search_field"
                tabindex="4"
              >
                <option value="unique_id">{{ title.id }}</option>
                <!-- <option value="user_detail.first_name">
                  {{ title.user }}
                </option> -->
                <option value="store_detail.name">
                  {{ title.store }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-2">
          <label></label>
          <div
            class="form-field page-heading-search-field mb-0 min-width border"
          >
            <div class="field-icon">
              <input
                type="text"
                class="form-control form-control-sm form-control-shadow search-box"
                placeholder="Search..."
                [(ngModel)]="search_value"
                #store_open_time="ngModel"
              />
              <div class="icon search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-2">
          <div>
            <label>{{ title.status }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="order_status"
                [(ngModel)]="order_status"
                name="order_status"
                tabindex="4"
              >
                <!-- <option value="all">{{ title.all }}</option> -->
                <option
                  value="{{ helper.ORDER_STATE.WAITING_FOR_ACCEPT_STORE }}"
                >
                  {{ helper.status.waiting_for_accept }}
                </option>
                <option value="{{ helper.ORDER_STATE.STORE_ACCEPTED }}">
                  {{ helper.status.accepted }}
                </option>
                <option value="{{ helper.ORDER_STATE.STORE_PREPARING_ORDER }}">
                  {{ helper.status.start_preparing_order }}
                </option>
                <!-- <option value="{{ helper.ORDER_STATE.OREDER_READY }}">
                  {{ helper.status.order_ready }}
                </option> -->
              </select>
            </div>
          </div>
        </div>

        <!-- <div class="col-1">
          <div>
            <label>{{ title.payment_mode }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="payment_mode"
                [(ngModel)]="payment_mode"
                name="payment_mode"
                tabindex="4"
              >
                <option value="">{{ title.both }}</option>
                <option value="1">{{ title.cash }}</option>
                <option value="2">{{ title.card }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.pickup }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="pickup_type"
                [(ngModel)]="pickup_type"
                name="pickup_type"
                tabindex="4"
              >
                <option value="both">{{ title.both }}</option>
                <option value="true">{{ title.user }}</option>
                <option value="false">{{ title.provider }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.order_type }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="order_type"
                [(ngModel)]="order_type"
                name="order_type"
                tabindex="4"
              >
                <option value="both">{{ title.both }}</option>
                <option value="false">{{ title.asap }}</option>
                <option value="true">{{ title.schedule }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.created_by }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="created_by"
                [(ngModel)]="created_by"
                name="created_by"
                tabindex="4"
              >
                <option value="both">{{ title.both }}</option>
                <option value="{{ helper.ADMIN_DATA_ID.USER }}">
                  {{ title.user }}
                </option>
                <option value="{{ helper.ADMIN_DATA_ID.STORE }}">
                  {{ title.store }}
                </option>
              </select>
            </div>
          </div>
        </div> -->

        <div class="col-1">
          <div>
            <label></label>
          </div>
          <div class="dropdown filter-dropdown">
            <button
              type="button"
              class="btn btn-sm btn-icon btn-light-primary"
              aria-expanded="false"
              data-bs-auto-close="outside"
              (click)="store_history(1)"
            >
              <i class="fa-solid fa-filter"></i>
            </button>
          </div>
        </div>

        <div class="col-2 d-flex justify-content-end ms-auto">
          <div class="row align-items-center">
            <div class="col-auto" (click)="history_export_csv(1)">
              <a class="btn btn-sm btn-light-primary">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.125 9.375V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V9.375"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M4.375 6.25L7.5 9.375L10.625 6.25"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M7.5 9.375V1.875"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                CSV
              </a>
            </div>

            <div class="col-auto">
              <!-- <div class="filter-item-field ms-2">
                <label>Show</label>
                <div>
                  <ng-select
                    class="custom"
                    [items]="tableCount"
                    bindLabel="name"
                    placeholder="10"
                    appendTo="body"
                  >
                  </ng-select>
                  
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col"><b>ID</b></th>
            <th scope="col"><b>Store</b></th>
            <th scope="col"><b>Date</b></th>
            <!-- <th scope="col"><b>User</b></th> -->
            <!-- <th scope="col"><b>Update Status</b></th> -->
            <th scope="col"><b>Status</b></th>
            <th scope="col"><b>Change Status</b></th>
            <!-- <th scope="col"><b>Bill Amount</b></th>
            <th scope="col"><b>Final Amount</b></th> -->
            <th scope="col"><b>Checkout Amount</b></th>
            <th scope="col"><b>Payment Mode</b></th>
            <!-- <th scope="col"><b>Promo</b></th>
            <th scope="col"><b>Promo Value</b></th>
            <th scope="col"><b>Loyalty Payment</b></th>
            <th scope="col" class="text-end"><b>Action</b></th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of order_list; let index = index; let last = last"
            [class.selected_tr]="order._id == order_detail._id"
            (click)="get_order_detail(index)"
          >
            <td>
              <b>{{ index + 1 }}</b>
            </td>
            <td>
              <span *ngIf="order.store_detail">{{
                order.store_detail.name
              }}</span>
            </td>
            <td>
              {{ order.completed_at | date : "d MMM yyyy, h:mm a" }}
            </td>
            <!-- <td>
              {{ order.user_detail.first_name }}
              {{ order.user_detail.last_name }}
            </td> -->
            <td [ngSwitch]="order.order_status">
              <div *ngSwitchCase="ORDER_STATE.STORE_REJECTED">
                <span class="badge badge-success">{{ status.rejected1 }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.STORE_CANCELLED">
                <span class="badge badge-success">{{ status.cancelled1 }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.NO_DELIVERY_MAN_FOUND">
                <span class="badge badge-success">{{
                  status.no_delivery_man_found1
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_REJECTED">
                <span class="badge badge-success">{{
                  status.delivery_man_rejected1
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_CANCELLED">
                <span class="badge badge-success">{{
                  status.delivery_man_cancelled1
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.CANCELED_BY_USER">
                <span class="badge badge-danger">{{
                  status.user_cancelled
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.DELIVERY_MAN_COMPLETE_DELIVERY">
                <span class="badge badge-success">{{
                  status.order_delivered
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.ORDER_COMPLETED">
                <span class="badge badge-success">{{ status.completed }}</span>
              </div>
            </td>
            <!-- <td>
              <div *ngIf="order.provider_detail">
                {{ order.provider_detail.first_name }}
                {{ order.provider_detail.last_name }}
              </div>
            </td> -->
            <td>
              <ng-select
                placeholder="Action"
                (change)="changeOrderstatus(order, $event)"
              >
                <ng-option [value]="ORDER_STATE.STORE_ACCEPTED">{{
                  status.accepted1
                }}</ng-option>
                <ng-option [value]="ORDER_STATE.STORE_PREPARING_ORDER">{{
                  status.start_preparing_order1
                }}</ng-option>

                <ng-option [value]="ORDER_STATE.OREDER_READY">{{
                  status.order_ready1
                }}</ng-option>

                <ng-option [value]="ORDER_STATE.ORDER_COMPLETED">{{
                  button.complete
                }}</ng-option>
              </ng-select>
            </td>

            <td>{{ order.order_payment_detail.checkout_amount }}</td>
            <td [ngSwitch]="order.order_payment_detail.is_payment_mode_cash">
              <div *ngIf="!order.order_payment_detail.is_paid_from_wallet">
                <div *ngSwitchCase="true">
                  <span class="badge badge-success">{{ title.cash }}</span>
                </div>
                <div *ngSwitchCase="false">
                  <span
                    class="badge badge-success"
                    *ngIf="order.payment_gateway_detail.length > 0"
                    >{{ order.payment_gateway_detail[0].name }}
                  </span>
                </div>
              </div>
              <div *ngIf="order.order_payment_detail.is_paid_from_wallet">
                <span class="badge badge-success"> + {{ title.wallet }}</span>
              </div>
              <div
                *ngIf="
                  order.order_payment_detail.is_payment_mode_online_payment
                "
              >
                <span class="badge badge-success"> Online Payment</span>
              </div>
              <div
                *ngIf="
                  order.order_payment_detail.is_payment_mode_card_on_delivery
                "
              >
                <span class="label label-success"> Card On Delivery</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="data-footer">
      <div class="row align-items-center justify-content-end">
        <div class="col-auto">
          <ul class="pagination cursor-pointer">
            <li class="page-item d-flex" *ngIf="page !== 1">
              <a class="page-link" (click)="store_history(page - 1)">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-left"></i></span
              ></a>
            </li>
            <li
              class="page-item d-flex"
              *ngFor="let index of total_pages"
              [class.active]="page == index"
            >
              <a
                *ngIf="
                  index == 1 ||
                  index == total_page ||
                  index == page ||
                  index == page - 1 ||
                  index == page + 1
                "
                (click)="store_history(index)"
                class="page-link"
                >{{ index }}</a
              >
              <a
                *ngIf="
                  (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                  (index == total_page - 1 &&
                    page !== total_page &&
                    page !== total_page - 1 &&
                    page !== total_page - 2)
                "
                class="page-link"
                >...</a
              >
            </li>
            <li
              class="page-item d-flex"
              *ngIf="page !== total_page && order_list.length !== 0"
            >
              <a class="page-link" (click)="store_history(page + 1)">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-right"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
