/* You can add global styles to this file, and also import other style files */
.substitute-modal .modal-dialog {
  max-width: 80vw;
}
.substitute-modal .modal-body .row {
  width: 100%;
  margin: auto;
}

.red {
  color: red;
}

.green {
  color: green;
}

.strike {
  text-decoration: line-through;
}
