<ng-container>
  <div class="content">
    <div class="page-heading">
      <div class="row align-content-center">
        <div class="col-1 m-auto">
          <div class="row align-items-center">
            <div class="col-auto">
              <h2>Orders</h2>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div>
            <label>{{ title.search }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="search_field"
                [(ngModel)]="search_field"
                name="search_field"
                tabindex="4"
              >
                <option value="user_detail.first_name">
                  {{ title.filter_user }}
                </option>
                <option value="order_details.product_name">
                  {{ title.filter_product }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-2">
          <label></label>
          <div class="form-field page-heading-search-field mb-0 min-width border">
            <div class="field-icon">
              <input
                type="text"
                class="form-control form-control-sm form-control-shadow search-box"
                placeholder="Search..."
                [(ngModel)]="search_value"
                #store_open_time="ngModel"
              />
              <div class="icon search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.payment_mode }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="payment_mode"
                [(ngModel)]="payment_mode"
                name="payment_mode"
                tabindex="4"
              >
                <option value="">{{ title.both }}</option>
                <option value="1">{{ title.cash }}</option>
                <option value="2">{{ title.card }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.order_type }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="order_type"
                [(ngModel)]="order_type"
                name="order_type"
                tabindex="4"
              >
                <option value="">{{ title.both }}</option>
                <option value="{{ helper.ADMIN_DATA_ID.USER }}">
                  {{ title.user }}
                </option>
                <option value="{{ helper.ADMIN_DATA_ID.STORE }}">
                  {{ title.store }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label>{{ title.pickup }}</label>
          </div>
          <div class="form-field page-heading-search-field mb-0 min-width">
            <div class="field-icon">
              <select
                chosen
                class="chosen-select"
                id="pickup_type"
                [(ngModel)]="pickup_type"
                name="pickup_type"
                tabindex="4"
              >
                <option value="">{{ title.both }}</option>
                <option value="1">{{ title.user }}</option>
                <option value="2">{{ title.delivery_man }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-1">
          <div>
            <label></label>
          </div>
          <div class="dropdown filter-dropdown">
            <button
              type="button"
              class="btn btn-sm btn-icon btn-light-primary"
              aria-expanded="false"
              data-bs-auto-close="outside"
              (click)="filter(1)"
            >
              <i class="fa-solid fa-filter"></i>
            </button>
          </div>
        </div>

        <div class="col-3 d-flex justify-content-end">
          <div class="row align-items-center">
            <div class="col-auto" (click)="order_export_csv(1)">
              <a class="btn btn-sm btn-light-primary">
                <svg
                  width="15"
                  height="15"
                  viewBox="0 0 15 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.125 9.375V11.875C13.125 12.2065 12.9933 12.5245 12.7589 12.7589C12.5245 12.9933 12.2065 13.125 11.875 13.125H3.125C2.79348 13.125 2.47554 12.9933 2.24112 12.7589C2.0067 12.5245 1.875 12.2065 1.875 11.875V9.375"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M4.375 6.25L7.5 9.375L10.625 6.25"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M7.5 9.375V1.875"
                    stroke="currentColor"
                    stroke-width="1.25"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                CSV
              </a>
            </div>
            <div class="col-auto">
              <div class="filter-item-field ms-2">
                <label>Show</label>
                <div>
                  <select class="form-select form-select-sm form-select-shadow">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-list-data table-hover">
        <thead class="bg-light">
          <tr>
            <th scope="col"><b>ID</b></th>
            <th scope="col"><b>Start Date</b></th>
            <th scope="col"><b>User</b></th>
            <th scope="col"><b>Update Status</b></th>
            <th scope="col"><b>Status</b></th>
            <th scope="col"><b>Store</b></th>
            <th scope="col"><b>Bill Amount</b></th>
            <th scope="col"><b>Final Amount</b></th>
            <th scope="col"><b>Checkout Amount</b></th>
            <th scope="col"><b>Payment By</b></th>
            <th scope="col"><b>Promo</b></th>
            <th scope="col"><b>Promo Value</b></th>
            <th scope="col"><b>Loyalty Payment</b></th>
            <th scope="col" class="text-end"><b>Action</b></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of order_list; let index = index; let last = last"
            [class.selected_tr]="order._id == order_detail._id"
            (click)="get_order_detail(index)"
          >
            <td>
              <b>{{ order.unique_id }}</b>
            </td>
            <td *ngIf="order.is_schedule_order == false">
              {{ order.created_at | date : DATE_FORMAT.DD_MMM_YYYY_HH_MM_A }}
            </td>
            <td
              *ngIf="
                order.is_schedule_order == true &&
                order.schedule_order_start_at !== null
              "
            >
              {{ order.schedule_order_start_at }}
            </td>

            <td>
              {{ order.user_detail.first_name }}
              {{ order.user_detail.last_name }}
            </td>

            <td *ngIf="order.order_status == 3" class="cursor-pointer">
              <div
                (click)="
                  changeOrderstatus(order, ORDER_STATE.STORE_PREPARING_ORDER)
                "
              >
                <span class="badge badge-danger">{{
                  status.start_preparing_order1
                }}</span>
              </div>
            </td>

            <td *ngIf="order.order_status == 5" class="cursor-pointer">
              <div (click)="changeOrderstatus(order, ORDER_STATE.OREDER_READY)">
                <span class="badge badge-danger">{{
                  status.order_ready1
                }}</span>
              </div>
            </td>

            <td *ngIf="order.order_status == 7" class="cursor-pointer">
              <div>
                <span class="badge badge-danger">{{
                  status.delivered_ordered1
                }}</span>
              </div>
            </td>

            <!-- <td [ngSwitch]="order.order_status">
              <div
                *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE"
                (click)="
                  updateOrderStatus(order, ORDER_STATE.WAITING_FOR_ACCEPT_STORE)
                "
              >
                <span class="badge badge-danger">{{
                  status.waiting_for_accept1
                }}</span>
              </div>
              <div
                *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED"
                (click)="updateOrderStatus(order, ORDER_STATE.STORE_ACCEPTED)"
                u
              >
                <span class="badge badge-success">{{ status.accepted1 }}</span>
              </div>
              <div
                *ngSwitchCase="ORDER_STATE.STORE_PREPARING_ORDER"
                (click)="
                  updateOrderStatus(order, ORDER_STATE.STORE_PREPARING_ORDER)
                "
              >
                <span class="badge badge-danger">{{
                  status.start_preparing_order1
                }}</span>
              </div>
              <div
                *ngSwitchCase="ORDER_STATE.OREDER_READY"
                (click)="updateOrderStatus(order, ORDER_STATE.OREDER_READY)"
              >
                <span class="badge badge-danger">{{
                  status.order_ready1
                }}</span>
              </div>
            </td> -->

            <td [ngSwitch]="order.order_status">
              <div *ngSwitchCase="ORDER_STATE.WAITING_FOR_ACCEPT_STORE">
                <span class="badge badge-success">{{
                  status.waiting_for_accept1
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.STORE_ACCEPTED">
                <span class="badge badge-success">{{ status.accepted1 }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.STORE_PREPARING_ORDER">
                <span class="badge badge-success">{{
                  status.start_preparing_order1
                }}</span>
              </div>
              <div *ngSwitchCase="ORDER_STATE.OREDER_READY">
                <span class="badge badge-success">{{
                  status.order_ready1
                }}</span>
              </div>
            </td>

            <td>
              <span *ngIf="store_detail">{{ store_detail?.name }}</span>
            </td>
            <td>
              {{ order.order_payment_detail.bill_amount | number : "2.2-2" }}
            </td>
            <td>
              {{
                order.order_payment_detail.user_pay_payment | number : "2.2-2"
              }}
            </td>
            <td>{{ order.order_payment_detail.checkout_amount }}</td>

            <td [ngSwitch]="order.order_payment_detail.is_payment_mode_cash">
              <div *ngIf="!order.order_payment_detail.is_paid_from_wallet">
                <div *ngSwitchCase="true">
                  <span class="badge badge-success">{{ title.cash }}</span>
                </div>
                <div *ngSwitchCase="false">
                  <span
                    class="badge badge-danger"
                    *ngIf="order.payment_gateway_detail.length > 0"
                    >{{ order.payment_gateway_detail[0].name }}
                  </span>
                </div>
              </div>
              <div *ngIf="order.order_payment_detail.is_paid_from_wallet">
                <span class="badge badge-success"> + {{ title.wallet }}</span>
              </div>
              <div
                *ngIf="
                  order.order_payment_detail.is_payment_mode_online_payment
                "
              >
                <span class="badge badge-success"> Online Payment</span>
              </div>
              <div
                *ngIf="
                  order.order_payment_detail.is_payment_mode_card_on_delivery
                "
              >
                <span class="badge badge-success"> Card On Delivery</span>
              </div>
            </td>

            <td>
              <span *ngIf="order?.promo_code_detail?.promo_code_name">{{
                order?.promo_code_detail?.promo_code_name
              }}</span>
            </td>
            <td>
              {{ order?.order_payment_detail?.promo_payment }}
            </td>
            <td>
              {{ order?.order_payment_detail?.loyalty_payment }}
            </td>

            <td class="text-end">
              <div class="dropdown">
                <button
                  class="btn btn-icon btn-sm btn-light dropdown-toggle arrow-none"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Edit</a></li>
                  <li><a class="dropdown-item" href="#">View</a></li>
                  <li><a class="dropdown-item" href="#">Delete</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="data-footer">
      <div class="row align-items-center justify-content-between">
        <div class="col-auto">
          <div class="filter-item-field">
            <label>Show</label>
            <div>
              <select class="form-select form-select-sm form-select-shadow">
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
              </select>
            </div>
            <label class="me-0 ms-2">Entries</label>
            <label class="ms-4 me-0">Showing 1 to 25 of 92 entries</label>
          </div>
        </div>
        <div class="col-auto">
          <!-- <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-left"></i
                ></span>
              </a>
            </li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-right"></i
                ></span>
              </a>
            </li>
          </ul> -->

          <ul class="pagination">
            <li class="page-item" *ngIf="page !== 1">
              <a class="page-link" (click)="admin_history(page - 1)">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-left"></i></span
              ></a>
            </li>
            <li
              class="page-item"
              *ngFor="let index of total_pages"
              [class.active]="page == index"
            >
              <a
                *ngIf="
                  index == 1 ||
                  index == total_page ||
                  index == page ||
                  index == page - 1 ||
                  index == page + 1
                "
                (click)="admin_history(index)"
                class="page-link"
                >{{ index }}</a
              >
              <a
                *ngIf="
                  (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                  (index == total_page - 1 &&
                    page !== total_page &&
                    page !== total_page - 1 &&
                    page !== total_page - 2)
                "
                class="page-link"
                >...</a
              >
            </li>
            <li
              class="page-item"
              *ngIf="page !== total_page && order_list.length !== 0"
            >
              <a class="page-link" (click)="admin_history(page + 1)">
                <span aria-hidden="true"
                  ><i class="fa-solid fa-chevron-right"></i></span
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-container>
