@import "../../../assets/css/responsive.css";
@import "../../../assets/css/style.css";
@import "../../../assets/css/theme.css";

.logout {
  right: 0;
}
.logout-btn {
  width: 70px;
  height: 29px;

  color: white !important;

  background-color: #1e40af !important;

  font-family: "DM Sans";

  border-color: #1e40af !important;
  border-radius: 14%;
}

.header-profile {
  border: none !important;
  width: 160px !important;
}

.ng-select.ng-select-single .ng-select-container {
  background-color: #f4f6fb;
  border-color: #f4f6fb;
  border-radius: 8px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
