<footer [myLoading]="myLoading"></footer>
<div class="row wrapper fix_search_bar border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.search  }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control search_box"
              placeholder="{{ title.filter_name  }}"
              [(ngModel)]="search_value"
              name="search_value"
            />
            <span class="input-group-addon search_icon"
              ><span class="fa fa-search"></span
            ></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-12">
      <div class="lable_center">
        <label>{{ title.sort  }}</label>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_fields">
          <select
            chosen
            class="chosen-select"
            id="sort_field"
            [(ngModel)]="sort_field"
            name="sort_field"
            tabindex="4"
          >
            <option value="unique_id">{{ title.filter_id  }}</option>
            <option value="promo_code_name">
              {{ title.filter_name  }}
            </option>
            <option value="promo_code_value">
              {{ title.value  }}
            </option>
            <option value="promo_expire_date">
              {{ title.expiry_date  }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 remove_padding">
        <div class="form-group" id="sort_orders">
          <select
            chosen
            class="chosen-select"
            id="sort_promo_code"
            [(ngModel)]="sort_promo_code"
            name="sort_promo_code"
            tabindex="4"
          >
            <option value="1">{{ title.ascending  }}</option>
            <option value="-1">{{ title.descending  }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="col-md-6 col-sm-6 col-xs-6 filter_btn_div">
        <input
          type="button"
          (click)="filter(1)"
          class="btn filter_apply_btn pull-right"
          value="{{ button.apply  }}"
        />
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 filter_btn_div">
        <button [routerLink]="['/store/add_promocode']" class="btn add_btn">
          {{ button.add_promo 
          }}<span class="fa fa-plus" style="margin-left: 8px"></span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="wrapper content_top_bar_view1 wrapper-content animated fadeInRight">
  <div class="ibox">
    <div class="ibox-content" style="padding-bottom: 40px">
      <div
        class="table-responsive scrollbar"
        style="height: calc(100vh - 255px); overflow: auto"
      >
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ title.id  }}</th>
              <th>{{ title.promo_code_name  }}</th>
              <th>{{ title.promo_code_type  }}</th>
              <th>{{ title.promo_code_value  }}</th>
              <th>{{ title.for_use  }}</th>
              <th>{{ title.uses  }}</th>
              <th>{{ title.user_used  }}</th>
              <th>{{ title.status  }}</th>
              <th>{{ title.promo_expiry_date  }}</th>

              <th>{{ title.action  }}</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let i of promo_code_list;
                let index = index;
                let last = last
              "
            >
              <td>{{ i.unique_id }}</td>
              <td>{{ i.promo_code_name }}</td>
              <td [ngSwitch]="i.promo_code_type">
                <div *ngSwitchCase="2">{{ lable_title.absolute }}</div>
                <div *ngSwitchCase="1">{{ lable_title.percentage }}</div>
              </td>
              <td>{{ i.promo_code_value }}</td>

              <td [ngSwitch]="i.promo_for">
                <div *ngSwitchCase="helper.PROMO_FOR_ID.STORE">
                  {{ title.store }}
                </div>
                <div *ngSwitchCase="helper.PROMO_FOR_ID.PRODUCT">
                  {{ title.product }}
                </div>
                <div *ngSwitchCase="helper.PROMO_FOR_ID.ITEM">
                  {{ title.item }}
                </div>
              </td>

              <td>{{ i.promo_code_uses }}</td>
              <td>{{ i.used_promo_code }}</td>
              <td>
                <ui-switch
                  (change)="promocode_active_deactive($event, i._id)"
                  [(ngModel)]="i.is_active"
                  #is_active="ngModel"
                  name="is_active"
                ></ui-switch>
              </td>
              <td [ngSwitch]="i.is_expired">
                <div>{{ i.promo_expire_date | date: "dd MMM yyyy" }}</div>
              </td>

              <td class="text-left footable-visible footable-last-column">
                <div class="btn-group">
                  <button
                    (click)="editPromo(i._id)"
                    class="btn btn-xs btn-light_black"
                  >
                    {{ helper.button.detail  }}
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12">
        <div class="lable_center">
          <ul class="pagination">
            <li *ngIf="page !== 1">
              <a class="btn" (click)="filter(page - 1)">{{
                button.pre 
              }}</a>
            </li>
            <li
              *ngFor="let index of total_pages"
              [class.active]="page == index"
            >
              <a
                *ngIf="
                  index == 1 ||
                  index == total_page ||
                  index == page ||
                  index == page - 1 ||
                  index == page + 1
                "
                (click)="filter(index)"
                class="btn"
                >{{ index }}</a
              >
              <a
                *ngIf="
                  (index == 1 && page !== 1 && page !== 2 && page !== 3) ||
                  (index == total_page - 1 &&
                    page !== total_page &&
                      page !== total_page - 1 &&
                      page !== total_page - 2)
                "
                class="btn"
                >...</a
              >
            </li>
            <li *ngIf="page !== total_page && promo_code_list.length !== 0">
              <a class="btn" (click)="filter(page + 1)">{{
                button.next 
              }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
