/* ul.size-n-value.size-n-value-combo li span {
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
}
ul.size-n-value.size-n-value-combo li {
    width: 12%;
} */

@import "~@ng-select/ng-select/themes/default.theme.css";

body.add-order-page {
  padding: 0;
  padding-top: 73px;
}
body.add-order-page header {
  padding-left: 10px;
}
body.add-order-page header .sidebar-logo {
  margin: 0;
  min-height: 50px;
}
.category-tabs-wrap.add-order-tab {
  background-color: transparent;
  box-shadow: none;
  border: 0;
}
html .add-order-page .category-tabs .nav-item {
  margin-right: 5px;
}
html .add-order-page .category-tabs .nav-item:last-child {
  margin-right: 0;
}

html .add-order-page .category-tabs .nav-item .nav-link {
  border: 1px solid #e3e7ef;
  line-height: 42px;
  background-color: #fff;
}
html .add-order-page .category-tabs .nav-item .nav-link.active {
  background-color: #1e40af;
  border-color: #1e40af;
  color: #ffff;
}
html .add-order-page .category-tabs .nav-item .nav-link.nav-link-lg {
  line-height: 48px;
  min-height: 50px;
}
html .add-order-page .category-tabs .nav-item .nav-link.nav-link-sm {
  line-height: 36px;
}
html .add-order-page .nav-tabs {
  border: 0;
}
html .add-order-page .category-tabs-wrap {
  background: transparent !important;
  border: 0;
  box-shadow: none !important;
}

body.add-order-page .header-profile-name {
  height: 44px;
  border: 1px solid #e3e7ef;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul.order-checking {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 50px;
  overflow: hidden;
  justify-content: space-between;
  border: 1px solid #e3e7ef;
}
ul.order-checking li a {
  line-height: 52px;
  background: #ffffff;
  padding: 0 15px;
  display: block;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
}
ul.order-checking li {
  width: 33.33%;
  border-right: 1px solid #e3e7ef;
}
ul.order-checking li.active a {
  background-color: var(--primary);
  color: #fff;
}
ul.order-checking li:hover a {
  background-color: var(--primary);
  color: #fff;
}
ul.order-checking li:last-child {
  border-right: 0;
}
body.add-order-page .field-icon .icon {
  width: 46px;
  height: 46px;
}
.category-tabs-border {
  border-top: 1px solid #e3e7ef;
  padding-top: 15px;
  margin-bottom: 10px;
}
.category-tabs-wrap.Category-tab {
  padding-bottom: 10px;
}
body.add-order-page .product-box .text h2 {
  margin-bottom: 8px;
}
body.add-order-page .box_stock_label {
  left: auto;
  right: 0;
  border-radius: 50px 0px 0px 50px;
  top: 38px;
}
body.add-order-page .box_offer_label {
  position: absolute;
  top: 12px;
  color: #fff;
  font-size: 11px;
  padding: 2px 8px;
  left: auto;
  right: 0;
  border-radius: 50px 0px 0px 50px;
  z-index: 6;
}
.add-order-list {
  background: #ffffff;
  border-radius: 0 0 0 7px;
  padding: 15px;
  margin-bottom: 10px;
}
.add-order-list .items {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}
.order-categorys {
  padding: 15px 0px 15px 15px;
}
.add-order-list .item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e4e8f5;
  padding: 8px;
  border-radius: 10px;
  margin: 0 0 10px;
}
.add-order-list .item .text h3 {
  font-size: 17px;
  margin-bottom: 6px;
}
.add_order_varation {
  background: rgba(30, 64, 175, 0.05);
  border-radius: 50px;
  padding: 4px 5px;
  font-size: 12px;
  margin: 0 0 4px 0;
}
.add_order_price {
  background: #f4f6fb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: -9px -9px -9px 10px;
  padding: 0 5px;
  font-size: 15px;
  color: var(--primary);
  font-weight: 700;
}
.order-list {
  display: flex;
  align-items: center;
}
.add-order-page .nav-tabs.paymentmathed-tabs .nav-item {
  width: 25%;
  min-width: 25%;
}
.add-order-page .nav-tabs.paymentmathed-tabs {
  flex-wrap: nowrap;
  padding: 0 0 15px;
  margin: 0;
}
.paymentmathed-tab-wrap {
  margin: 15px 0 0;
  overflow-x: auto;
  overflow-y: hidden;
}
.checkout-btn .btn {
  padding: 0;
  min-width: 0;
}
html .add-order-page .category-tabs-wrap.add-order-tab {
  overflow-x: auto;
  padding-left: 0;
  padding-right: 0;
}
.checkout-data-table.add-order-checkout {
  background: #ffffff;
  border-top: 1px solid #ecf1fb;
  border-radius: 7px;
  padding: 18px 20px 14px;
  margin-right: 12px;
}
.checkout-data-table.add-order-checkout table.table,
.checkout-data-table.add-order-checkout table.table th,
.checkout-data-table.add-order-checkout table.table td {
  color: #000;
}
.add-order-page .paymentmathed-tab-content {
  margin-right: 12px;
}
.checkout-data-table.add-order-checkout table.table .total-tr td {
  border-top: 2px solid rgba(217, 228, 255, 0.64);
}
.dine-in .modal-header h5 {
  margin: 0 auto;
}
.dine-in .modal-header h5 {
  margin: 0 auto !important;
  font-size: 28px;
  color: #1e293b;
}
.dine-in .modal-header {
  border-bottom: 0;
  padding: 30px 25px 20px;
}
.dine-in .modal-header button.btn-close {
  position: absolute;
  top: 20px;
  right: 25px;
}
.dine-in-seating .nav-item .nav-link {
  border: 1px solid #e1e8ef;
  border-radius: 6px;
  line-height: 44px;
  padding: 0 13px;
  margin: 0;
  min-width: 46px;
  text-align: center;
  color: var(--dark);
  font-size: 18px;
  font-weight: 600;
}
.dine-in-seating .nav-item + .nav-item {
  margin-left: 10px;
}
.dine-in-seating .nav-item .nav-link.active {
  color: #fff;
  border-color: transparent;
  background: var(--primary);
}
.dine-in-seating h6 {
  font-size: 18px;
  margin: 0;
  text-transform: uppercase;
  color: var(--dark);
}
.dine-in .modal-dialog.modal-xl {
  max-width: 88%;
}

.table_item {
  max-width: 170px;
  margin: 0 auto 50px;
}
.table_item label {
  display: block;
  padding-top: 50%;
  position: relative;
}
.table_item label input {
  display: none;
}
.table_item label span small {
  display: block;
  margin-top: 0px;
  opacity: 0.7;
  font-size: 14px;
  line-height: 120%;
}
.table_item label span {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--dark);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/dine-in/table/table-2/available.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.table_item label input:checked ~ span {
  background-image: url("../images/dine-in/table/table-2/selected.svg");
  color: #fff;
}
.table_item.item_booked label input ~ span {
  background-image: url("../images/dine-in/table/table-2/booked.svg");
  color: #fff;
}

.table_item.table_seat_4 label {
  padding-top: 85%;
}
.table_item.table_seat_4 label span {
  background-image: url("../images/dine-in/table/table-4/available.svg");
}
.table_item.table_seat_4 label input:checked ~ span {
  background-image: url("../images/dine-in/table/table-4/selected.svg");
}
.table_item.table_seat_4.item_booked label input ~ span {
  background-image: url("../images/dine-in/table/table-4/booked.svg");
}

.table_item.table_seat_6 {
  max-width: 260px;
}
.table_item.table_seat_6 label {
  padding-top: 65%;
}
.table_item.table_seat_6 label span {
  background-image: url("../images/dine-in/table/table-6/available.svg");
}
.table_item.table_seat_6 label input:checked ~ span {
  background-image: url("../images/dine-in/table/table-6/selected.svg");
}
.table_item.table_seat_6.item_booked label input ~ span {
  background-image: url("../images/dine-in/table/table-6/booked.svg");
}

.table_item.table_seat_8 {
  max-width: 400px;
}
.table_item.table_seat_8 label {
  padding-top: 50%;
}
.table_item.table_seat_8 label span {
  background-image: url("../images/dine-in/table/table-8/available.svg");
}
.table_item.table_seat_8 label input:checked ~ span {
  background-image: url("../images/dine-in/table/table-8/selected.svg");
}
.table_item.table_seat_8.item_booked label input ~ span {
  background-image: url("../images/dine-in/table/table-8/booked.svg");
}

.dine-in ul.btn_status {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: #717171;
  font-size: 18px;
}
.dine-in ul.btn_status li {
  display: flex;
  align-items: center;
  margin-right: 23px;
  font-size: 15px;
  font-weight: 700;
  color: #1e293b;
}
.dine-in ul.btn_status .label_box {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  border-radius: 3px;
}
.dine-in ul.btn_status li:last-child {
  margin-right: 0px;
}
.add-order-page .btn.btn-xl {
  min-width: 250px;
  line-height: 48px;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
}

ul.size-n-value.size-n-value-combo li span {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}
ul.size-n-value.size-n-value-combo li {
  width: 12%;
}

.cursor-pointer {
  cursor: pointer;
}

/* for ng select */
.ng-select {
  border-radius: 8px;
}
/* .ng-select.ng-select-single .ng-select-container {
  background-color: #f4f6fb;
  border-color: #f4f6fb;
  border-radius: 8px;
} */

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: #1e40af;
  color: #fff;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background-color: var(--light);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected.ng-option-marked {
  background-color: var(--light);
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: var(--muted);
}

ul.size-n-value.size-n-value-combo li span {
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}
ul.size-n-value.size-n-value-combo li {
  width: 12%;
}
.store-pacific-market {
  text-align: center;
}
.store-pacific-market .image {
  height: 140px;
  margin-bottom: 5px;
}
.store-pacific-market .image img {
  border: 5px solid #e3eaff;
  border-radius: 50%;
}
.store-pacific-market .text h5 {
  font-size: 20px;
  margin-bottom: 0;
  margin-right: 12px;
}
.store-pacific-market .text {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.store-pacific-market .text span {
  color: #198754;
  font-size: 14px;
  font-weight: 700;
}
.store-pacific-market ul.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.store-pacific-market ul.notification li {
  margin-right: 10px;
}
.store-pacific-market ul.notification li:last-child {
  margin-right: 0px;
}
.store-pacific-market ul.notification li a {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background-color: #e3eaff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}
.store-pacific-market ul.notification li:hover a {
  background-color: var(--primary);
  color: #fff;
}
.store-pacific-market ul.category-tabs {
  justify-content: center;
}
.store-pacific-market ul.category-tabs {
  justify-content: center;
  margin-bottom: 18px;
}
.store-pacific-market table tr {
  border-bottom: 2px solid #e3eaff;
}
.store-pacific-market table tr td {
  padding: 10px 5px;
  width: 5%;
}
.store-pacific-market table tr td:last-child {
  width: 0;
}
.store-pacific-market table tr th {
  padding: 10px 5px;
  width: 30%;
}
.card.edit-store-card {
  background-color: #e3eaff;
  height: 600px;
  overflow: auto;
  padding: 12px 5px 5px;
}
.white-card {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
}
.white-card ul.size-n-value li {
  width: 100%;
  margin-bottom: 12px;
  padding: 0 6px;
  position: relative;
}
.white-card ul.size-n-value li label.size-wrap span {
  padding: 10px 16px;
  text-align: left;
  font-size: 13px;
}
.white-card ul.size-n-value li .icon {
  position: absolute;
  top: 16px;
  right: 24px;
  bottom: 0;
  margin: auto;
}
.white-card ul.size-n-value li .icon {
  position: absolute;
  top: 16px;
  right: 24px;
  bottom: 0;
  margin: auto;
}
label.size-wrap input:checked ~ .icon {
  color: #fff;
}
label.size-wrap input:checked:hover ~ .icon {
  color: #4b5b73;
}
